
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Div.div_top_N
{
	background : transparent;
}
.Div.div_top_O
{
	background : #ffffff;
}
.Div.div_top_O >.nexaedge  .nexarightbottom
{
	background-image : url('./images/bg_Top_W.png');
}
.Div.div_top_O >.nexaedge  .nexaleftbottom
{
	background-image : url('./images/bg_Top_W.png');
}
.Div.div_top_O >.nexaedge  .nexalefttop
{
	background-image : url('./images/bg_Top_W.png');
}
.Div.div_top_O >.nexaedge  .nexarighttop
{
	background-image : url('./images/bg_Top_W.png');
}
.Static.sta_Top_logoW
{
	background : url('./images/top_logo_W.png') no-repeat left center transparent;
	cursor : pointer;
}
.ImageViewer.imv_Top_logoW
{
	border : 1px solid transparent;
	background : url('./images/top_logo_W.png') no-repeat center center transparent;
	cursor : pointer;
}
.Static.sta_Top_logoB
{
	background : url('./images/top_logo_B.png') no-repeat left center transparent;
	cursor : pointer;
}
.ImageViewer.imv_Top_logoB
{
	border : 1px solid transparent;
	background : url('./images/top_logo_B.png') no-repeat center center transparent;
	cursor : pointer;
}
.Button.btn_Top_menuW
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Top_menuW .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Top_menuB
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Top_menuB .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Top_menuB_S
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Top_menuB_S .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Top_sitemap
{
	border : 1px solid #2b72de;
	border-radius : 0px;
	background : #2b72de;
}
.Button.btn_Top_search_W
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_Top_search_B
{
	border : 1px solid transparent;
	background : transparent;
}
.Div.div_Top_subGroup
{
	background : #2b72de;
	background : linear-gradient(to bottom,#2b72de,#2b72de 90%,#ffffff 91%);
	border-radius : 0px 0px 0px 20px;
}
.Button.btn_Top_vertcalTxt_W
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 10px;
	color : #ffffff;
	font : normal 400 18px/1.3 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Top_vertcalTxt_B
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 10px;
	color : #222222;
	font : normal 400 18px/1.15 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Top_vertcalTxt_B .nexacontentsbox
{
	vertical-align : top;
	background-position-y : top;
}
.Static.sta_Top_vertcalTxt01
{
	background : #ffffff;
	color : #222222;
	font : normal 400 18px/1.15 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_Top_vertcalTxt01 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Div.div_top_N[status=focused]
{
	background : transparent;
}
#nexacontainer .Div.div_top_N[status=mouseover]
{
	background : transparent;
}
#nexacontainer .Div.div_top_O[status=focused] >.nexaedge  .nexarightbottom
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=focused] >.nexaedge  .nexaleftbottom
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=focused] >.nexaedge  .nexalefttop
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=focused] >.nexaedge  .nexarighttop
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=focused]
{
	background : #ffffff;
}
#nexacontainer .Div.div_top_O[status=mouseover] >.nexaedge  .nexarightbottom
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=mouseover] >.nexaedge  .nexaleftbottom
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=mouseover] >.nexaedge  .nexalefttop
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=mouseover] >.nexaedge  .nexarighttop
{
	background-image : url('./images/bg_Top_W.png');
}
#nexacontainer .Div.div_top_O[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Static.sta_Top_logoW[status=mouseover]
{
	background : url('./images/top_logo_W.png') no-repeat left center transparent;
	cursor : pointer;
}
#nexacontainer .ImageViewer.imv_Top_logoW[status=mouseover]
{
	border : 1px solid transparent;
	background : url('./images/top_logo_W.png') no-repeat center center transparent;
	cursor : pointer;
}
#nexacontainer .ImageViewer.imv_Top_logoW[status=focused]
{
	border : 1px dashed #ffffff;
	background : url('./images/top_logo_W.png') no-repeat center center transparent;
}
#nexacontainer .Static.sta_Top_logoB[status=mouseover]
{
	background : url('./images/top_logo_B.png') no-repeat left center transparent;
	cursor : pointer;
}
#nexacontainer .ImageViewer.imv_Top_logoB[status=mouseover]
{
	border : 1px solid transparent;
	background : url('./images/top_logo_B.png') no-repeat center center transparent;
	cursor : pointer;
}
#nexacontainer .ImageViewer.imv_Top_logoB[status=focused]
{
	border : 1px dashed #000000;
	background : url('./images/top_logo_B.png') no-repeat center center transparent;
}
#nexacontainer .Button.btn_Top_menuW[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuW[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_Top_menuW[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Top_menuB[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_Top_menuB[status=mouseover]
{
	background : transparent;
	color : #2b72de;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuB_S[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuB_S[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_Top_menuB_S[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_Top_sitemap[status=mouseover]
{
	border : 1px solid #2b72de;
	border-radius : 0px;
	background : #2b72de;
}
#nexacontainer .Button.btn_Top_sitemap[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_Top_search_W[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Top_search_W[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Top_search_B[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Top_search_B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Div.div_Top_subGroup[status=focused]
{
	background : #2b72de;
	background : linear-gradient(to bottom,#2b72de,#2b72de 90%,#ffffff 91%);
	border-radius : 0px 0px 0px 20px;
}
#nexacontainer .Div.div_Top_subGroup[status=mouseover]
{
	background : #2b72de;
	background : linear-gradient(to bottom,#2b72de,#2b72de 90%,#ffffff 91%);
	border-radius : 0px 0px 0px 20px;
}
#nexacontainer .Button.btn_Top_vertcalTxt_W[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Top_vertcalTxt_W[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
}
#nexacontainer .Button.btn_Top_vertcalTxt_B[status=focused]
{
	border : 1px dashed #222222;
}
#nexacontainer .Button.btn_Top_vertcalTxt_B[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
}
#nexacontainer .Static.sta_Top_vertcalTxt01[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Static.sta_Top_vertcalTxt01[status=mouseover]
{
	background : #ffffff;
	color : #222222;
	font : normal 400 18px/1.15 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuW[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuW[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_Top_menuB[userstatus=pushed]
{
	background : transparent;
	color : #2b72de;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuB_S[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
	cursor : pointer;
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Button.btn_Top_menuB_S[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_Top_sitemap[userstatus=pushed]
{
	border : 1px solid #2b72de;
	border-radius : 0px;
	background : #2b72de;
}
#nexacontainer .Button.btn_Top_search_W[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Top_search_B[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Top_vertcalTxt_W[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
}
#nexacontainer .Button.btn_Top_vertcalTxt_B[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
}
#nexacontainer .ImageViewer.imv_Top_logoW[status=disabled]
{
	border : 1px solid transparent;
	background : url('./images/top_logo_W.png') no-repeat center center transparent;
	cursor : pointer;
}
#nexacontainer .ImageViewer.imv_Top_logoB[status=disabled]
{
	border : 1px solid transparent;
	background : url('./images/top_logo_B.png') no-repeat center center transparent;
	cursor : pointer;
}
#nexacontainer .Button.btn_Top_menuW[status=disabled]
{
	background : transparent;
	color : #ffffff;
	cursor : default;
}
#nexacontainer .Button.btn_Top_menuB[status=disabled]
{
	background : transparent;
	color : #ffffff;
	cursor : default;
}
#nexacontainer .Button.btn_Top_menuB_S[status=disabled]
{
	background : transparent;
	color : #2b72de;
	cursor : default;
}
#nexacontainer .Button.btn_Top_sitemap[status=disabled]
{
	border : 1px solid #2b72de;
	border-radius : 0px;
	background : #2b72de;
}
#nexacontainer .Button.btn_Top_search_W[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Top_search_B[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Top_vertcalTxt_W[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
}
#nexacontainer .Button.btn_Top_vertcalTxt_B[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #999999;
}
