
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Static.sta_guideLine_HT
{
	-nexa-edge : url('./../../../_resource_/_images_/guide/guideLine_HT.png') 4px 12px;
	color : #000000;
	font : normal 11px/normal "Dotum";
}
.Static.sta_guideLine_HT .nexacontentsbox
{
	text-align : center;
	vertical-align : bottom;
}
.Static.sta_guideLine_HB
{
	-nexa-edge : url('./../../../_resource_/_images_/guide/guideLine_HB.png') 4px 12px;
	color : #000000;
	font : normal 11px/normal "Dotum";
}
.Static.sta_guideLine_HB .nexacontentsbox
{
	text-align : center;
	vertical-align : top;
}
.Static.sta_guideLine_VL
{
	-nexa-edge : url('./../../../_resource_/_images_/guide/guideLine_VL.png') 12px 4px;
	color : #000000;
	font : normal 11px/normal "Dotum";
}
.Static.sta_guideLine_VL .nexacontentsbox
{
	text-align : right;
	vertical-align : middle;
}
.Static.sta_guideLine_VR
{
	-nexa-edge : url('./../../../_resource_/_images_/guide/guideLine_VR.png') 12px 4px;
	color : #000000;
	font : normal 11px/normal "Dotum";
}
.Static.sta_guideLine_VR .nexacontentsbox
{
	text-align : left;
	vertical-align : middle;
}
.Static.sta_guideCssclass
{
	color : #2b72de;
	font : normal 700 12px/normal "Dotum";
}
.Static.sta_guideTip
{
	color : #ffffff;
	font : normal normal 11px/normal "Dotum";
	background : rgba(255,0,255,0.36);
}
.Static.sta_guideTip .nexacontentsbox
{
	text-align : center;
	vertical-align : middle;
}
