
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .DatepickerYearItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Form
{
	border : 0px none;
	background : #ffffff;
	color : #333333;
	font : 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.HScrollBarControl
{
	border : 1px solid #e1e2e7, 0px none, 0px none, 0px none;
	background : #ffffff;
}
.HScrollBarControl .trackbar
{
	background : #dcdee2;
}
.VScrollBarControl
{
	border : 0px none, 0px none, 0px none, 1px solid #e1e2e7;
	background : #ffffff;
}
.VScrollBarControl .trackbar
{
	background : #dcdee2;
}
.Button
{
	border : 1px solid #c8cdd7;
	background : #ffffff;
	cursor : pointer;
	color : #636981;
	letter-spacing : -1px;
}
.Calendar
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.CalendarControl
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.Calendar .calendaredit
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.CalendarControl .calendaredit
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.DatePickerControl
{
	border : 1px solid #646982;
	background : #ffffff;
}
.DatePickerControl .head
{
	background : #ffffff;
	color : #333333;
	font : bold 14px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.DatePickerControl .head .yearstatic
{
	font : bold 14px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.DatePickerControl .body
{
	background : #ffffff;
}
.DatePickerControl .body .weekband
{
	background : #f7f8fa;
}
.DatePickerControl .body .weekitem
{
	color : #666666;
}
.DatePickerControl .body .dayitem
{
	color : #333333;
}
.Combo
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.ComboControl
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.Combo .comboedit
{
	border : 0px none;
	padding : 0px 0px 0px 15px;
	background : transparent;
}
.ComboControl .comboedit
{
	border : 0px none;
	padding : 0px 0px 0px 15px;
	background : transparent;
}
.ListBoxControl.popupCombocombolist.dummy
{
	border : 1px solid #646982;
	background : #ffffff;
}
.ListBoxControl.popupComboControlcombolist.dummy
{
	border : 1px solid #646982;
	background : #ffffff;
}
.ListBoxControl.popupCombocombolist.dummy .listboxitem
{
	color : #333333;
}
.ListBoxControl.popupComboControlcombolist.dummy .listboxitem
{
	color : #333333;
}
.Div
{
	border : 0px none;
	background : transparent;
}
.Edit
{
	border : 1px solid #dddddd;
	padding : 0px 0px 0px 15px;
	background : #ffffff;
}
.EditControl
{
	border : 1px solid #dddddd;
	padding : 0px 0px 0px 15px;
	background : #ffffff;
}
.FileDownload
{
	border : 0px none;
	background : #646982;
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.FileUpload
{
	border : 0px none;
}
.FileUpload .fileuploaditem
{
	border : 0px none;
}
.FileUpload .fileuploaditem .fileuploaditemedit
{
	background : #ffffff;
}
.FileUpload .fileuploaditem .fileuploaditembutton
{
	border : 0px none;
	background : #646982;
	border-radius : 0px;
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Grid
{
	border : 1px solid #313340, 1px solid #e1e2e7, 1px solid #e1e2e7, 1px solid #e1e2e7;
	background : #ffffff;
}
.Grid .head
{
	background : #f7f8fa;
}
.Grid .head .row .cell
{
	border : 1px solid #e1e2e7;
	color : #666666;
	font : bold 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Grid .head .row .cell .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell
{
	border : 1px solid #eeeeee;
}
.Grid .summary
{
	background : #b2b9c6;
}
.Grid .summary .row .cell
{
	border : 1px solid #c8cdd7;
	color : #ffffff;
	font : bold 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.GridCellControl .cellbutton
{
	border : 1px solid #dddddd;
	background : linear-gradient(to bottom,#ffffff,#f6f7f8);
	border-radius : 1px;
	color : #646982;
	cursor : pointer;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.GridCellControl .cellexpandbutton
{
	background : URL("./images/btn_WF_Search.png") no-repeat center transparent;
}
.GridCellControl .celltreeline
{
	border : 1px dotted #999999;
}
.GroupBox .groupboxtitle
{
	background : #ffffff;
}
.GroupBox .groupboxcontents
{
	border : 1px solid #dddddd;
}
.ImageViewer
{
	border : 0px none;
}
.ListBox
{
	border : 1px solid #313340;
	background : #ffffff;
}
.MaskEdit
{
	border : 1px solid #dddddd;
	padding : 0px 15px 0px 0px;
	background : #ffffff;
}
.MaskEditControl
{
	border : 1px solid #dddddd;
	padding : 0px 15px 0px 0px;
	background : #ffffff;
}
.PopupDiv
{
	background : transparent;
}
.ProgressBar
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.ProgressBarControl
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.ProgressBar .progressbaritem
{
	background : #3683e2;
}
.ProgressBarControl .progressbaritem
{
	background : #3683e2;
}
.ProgressBar .progressbartext
{
	color : #ffffff;
}
.ProgressBarControl .progressbartext
{
	color : #ffffff;
}
.ProgressBar .progressstartcap
{
	background : #3683e2;
}
.ProgressBarControl .progressstartcap
{
	background : #3683e2;
}
.ProgressBar .progressendcap
{
	background : #3683e2;
}
.ProgressBarControl .progressendcap
{
	background : #3683e2;
}
.Spin
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.Spin .spinedit
{
	border : 0px none;
	padding : 0px 8px 0px 0px;
	background : transparent;
}
.SpinControl
{
	border : 0px none;
	background : #ffffff;
}
.SpinControl .spinedit
{
	border : 0px none;
	padding : 0px 0px 4px 0px;
	font : bold 14px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.StepControl .stepitem
{
	background : #e6e8ef;
	border-radius : 10px;
}
.Tab .tabbuttonitemTab
{
	border : 0px none, 1px solid #f4f5f9,  0px none, 0px none;
	background : #c8cdd7;
	color : #ffffff;
}
.Tab .tabbuttonitemTab .tabbuttonitemtext .nexacontentsbox
{
	text-align : center;
}
.Tab .tabbuttonitemTab .tabbuttonitemtext
{
	font : 20px/50px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Tab .tabpageTab
{
	border : 1px solid #c8cdd7, 0px none, 0px none, 0px none;
	background : #f4f5f9;
}
.TextArea
{
	border : 1px solid #dddddd;
	padding : 15px 15px 0px 15px;
	background : #ffffff;
	font : 18px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea .nexatextarea
{
	-nexa-word-wrap : char;
}
.TextAreaControl
{
	border : 1px solid #dddddd;
	padding : 15px 15px 0px 15px;
	background : #ffffff;
	font : 18px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextAreaControl .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextAreaControl .nexatextarea
{
	-nexa-word-wrap : char;
}
.Button.btn_WF_Crud
{
	border : 1px solid #3073C7;
	background : #3683E2;
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Button.btn_WF_Detail
{
	border : 1px solid #d8d8d8;
	background : #e4e4e4;
	color : #666666;
	font : 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Button.btn_WF_EdiSch
{
	border : 0px none;
	background : URL("./images/btn_WF_Search.png") no-repeat center #ffffff;
}
.Button.btn_WF_Search
{
	border : 0px none;
	background : #6f748a;
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Div.div_WF_Search
{
	border : 1px solid #c8cdd7, 1px solid #c8cdd7, 1px solid #a9aeb7, 1px solid #c8cdd7;
	background : #ffffff;
	box-shadow : 0px 5px 3px 0px #e1e3eb;
}
.Edit.edt_WF_Search
{
	border : 1px solid #dddddd;
	padding : 0px 0px 0px 8px;
	background : #ffffff;
}
.Grid .head .row .cell.cell_WF_fixing
{
	border : 1px solid #d7d9e3;
	background : #e8e9ef;
}
.Grid .body .row .cell.cell_WF_Left .nexacontentsbox
{
	text-align : left;
}
.Grid .body .row .cell.cell_WF_Right .nexacontentsbox
{
	text-align : right;
}
.Grid .body .row .cell.cell_WF_Point01
{
	color : #e10000;
}
.Grid .body .row .cell.cell_WF_Point02
{
	color : #f28005;
}
.Grid .body .row .cell.cell_WF_Point03
{
	color : #2756b6;
}
.Grid .body .row .cell.cell_WF_Point04
{
	color : #2d9d0f;
}
.Grid .body .row .cell.cell_WF_Link
{
	color : #228ff5;
}
.Grid .body .row .cell.cell_WF_Link .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_WF_PointTxt01
{
	background : #ffdfdf;
}
.Grid .body .row .cell.cell_WF_PointTxt02
{
	background : #ffe9df;
}
.Grid .body .row .cell.cell_WF_PointTxt03
{
	background : #dff3ff;
}
.Grid .body .row .cell.cell_WF_PointTxt04
{
	background : #f1ffdf;
}
.Grid .summary .row .cell.cell_WF_Sum01
{
	border : 1px solid #eeeeee;
	background : #e9fbff;
	color : #333333;
	font : bold 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Grid .summary .row .cell.cell_WF_Sum02
{
	border : 1px solid #eeeeee;
	background : #f3fff1;
	color : #333333;
	font : bold 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Grid .summary .row .cell.cell_WF_Sum03
{
	border : 1px solid #eeeeee;
	background : #fef0ff;
	color : #333333;
	font : bold 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_Center .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_Label
{
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_LabelBg
{
	border : 1px solid #e1e2e7;
	background : #ffffff;
	color : #000000;
}
.Static.sta_WF_Title
{
	background : URL("./images/sta_WF_Title.png") no-repeat left center;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_Title .nexacontentsbox
{
	vertical-align : bottom;
}
.Static.sta_WF_SubTitle
{
	background : URL("./images/sta_WF_SubTitle.png") no-repeat left center;
	font : bold 20px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_SubTitle .nexacontentsbox
{
	vertical-align : bottom;
}
.Static.sta_WF_SchLabel
{
	background : URL("./images/sta_WF_SchLabel.png") no-repeat left;
	font : 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	letter-spacing : -1px;
}
.Static.sta_WF_WATitle
{
	border : 2px solid #3E61D7;
	border-radius : 15px 15px 0px 0px;
	background : #ffffff;
	font : bold 22px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #3E61D7;
}
.Static.sta_WF_WATitle .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_WATxt
{
	border : 0px none, 1px solid #E5E5E5, 1px solid #E5E5E5, 1px solid #E5E5E5;
	background : #ffffff;
	font : 18px/32px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #4F4F4F;
	letter-spacing : -1px;
}
.Static.sta_WF_WATxt .nexacontentsbox
{
	-nexa-word-wrap : char;
	text-align : left;
}
.Static.sta_WF_WATxt2
{
	font : 18px/32px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #4F4F4F;
	letter-spacing : -1px;
}
.Static.sta_WF_WATxt2 .nexacontentsbox
{
	-nexa-word-wrap : char;
	text-align : left;
	vertical-align : top;
}
.Static.sta_WF_Point
{
	font : bold 16px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #0F2058;
}
.Static.sta_WF_WACon
{
	border : 0px none;
	border-radius : 15px 15px 0px 0px;
	font : bold 20px/32px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #ffffff;
	background : linear-gradient(to top left, #6D5BEA, #4660DA);
}
.Static.sta_WF_WACon .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_DetailLabel
{
	border : 1px solid #d7d7d7;
	background : #f9f9f9;
	color : #555555;
}
.Static.sta_WF_DetailBg
{
	background : #f9f9f9;
}
.Static.sta_WF_DetailBg2
{
	border : 1px solid #E5E5E5;
	background : #ffffff;
	font : 16px/28px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #4F4F4F;
	letter-spacing : -1px;
}
.Static.sta_WF_DetailBg2 .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_WF_JoinLabel
{
	border : 0px none;
	background : transparent;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #575658;
}
.Static.sta_WF_JoinLabelE
{
	border : 0px none;
	background : URL("./images/sta_WF_JoinLabelE.png") no-repeat left center #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #575658;
}
.Static.sta_WF_TermsLabel
{
	border : 1px solid #d7d7d7;
	background : #f9f9f9;
	font : bold 20px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #575658;
}
.Static.sta_WF_TermsLabelBg
{
	border : 1px solid #d7d7d7;
	background : #ffffff;
	font : bold 20px/32px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #575658;
}
.Static.sta_WF_TermsLabelBg .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_WF_Location
{
	color : #8e919c;
	font : 20px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_WF_Terms
{
	border : 1px solid #dddddd;
	padding : 8px 8px 0px 8px;
	background : #ffffff;
	font : 18px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_WF_Terms .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea.txt_WF_Terms .nexatextarea
{
	-nexa-word-wrap : char;
}
.Button.btn_MF_Top
{
	border : 0px none;
	border-radius : 70px;
	background : #444554;
}
.Button.btn_MF_Pause
{
	border-radius : 30px;
}
.Button.btn_MF_Play
{
	border-radius : 30px;
}
.Button.btn_MF_more
{
	border-radius : 30px;
}
.Button.btn_MF_Prev
{
	border-radius : 30px;
}
.Button.btn_MF_Next
{
	border-radius : 30px;
}
.Button.btn_MF_Step
{
	border-radius : 30px;
	background : #828288;
}
.Button.btn_MF_StepS
{
	border-radius : 30px;
}
.Button.btn_MF_Footer
{
	border : 0px none;
	background : transparent;
	color : #909095;
}
.Button.btn_MF_Menu
{
	border : 0px none;
	font : bold 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenu
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenuS
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenuS .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_FooterLaw
{
	border : 0px none;
	background : transparent;
	color : #76B1EE;
}
.Button.btn_MF_grdTitle
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #777777;
}
.Button.btn_MF_grdTitleS
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_grdTitleS .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_img01
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img02
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img03
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img04
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_Contact
{
	border : 1px solid #B9D0DD;
	background : #BFD7E5;
}
.Button.btn_MF_mMenu
{
	border : 0px none;
}
.Button.btn_MF_mClose
{
	border : 0px none;
}
.Button.btn_MF_Link
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_Link .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_LinkS
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_LinkS .nexacontentsbox
{
	text-align : left;
}
.Button.btn_WF_Bookmark
{
	border : 0px none;
	background : URL("./images/btn_WF_Bookmark.png") no-repeat left transparent;
}
.ListBoxControl.popupCombocmb_MF_Linkcombolist.dummy.dummy .listboxitem
{
	background : #313849;
	color : #909095;
}
.Div.div_MF_Menu
{
	border : 0px none, 0px none, 1px solid #c8cdd7, 0px none;
}
.Grid.grd_MF_News
{
	border : 0px none;
	background : #FFFFFF;
}
.Grid.grd_MF_News .body .row .cell
{
	border : 0px none;
	background : transparent;
	font : 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Grid.grd_MF_News .body .row .cell.cell_Noti
{
	background : URL("./images/cell_Noti.png") no-repeat center center;
}
.Grid.grd_MF_News .body .row .cell.cell_PR
{
	background : URL("./images/cell_PR.png") no-repeat center center;
}
.Grid.grd_MF_Link
{
	border : 1px solid #909095;
	background : #313849;
}
.Grid.grd_MF_Link .body .row .cell
{
	border : 0px none, 0px none, 1px solid #909095, 0px none;
	background : #313849;
	color : #909095;
}
.Grid.grd_MF_Link .body .row .cell .nexacontentsbox
{
	text-align : left;
	vertical-align : middle;
}
.Static.sta_MF_Footer
{
	font : 16px/30px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #828288;
}
.Static.sta_MF_User
{
	background : URL("./images/sta_MF_User.png") no-repeat center center;
}
.Static.sta_MF_Alerm
{
	background : URL("./images/sta_MF_Alerm.png") no-repeat center center;
}
.Static.sta_MF_Title
{
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Static.sta_MF_Sub
{
	font : 20px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #8F8F8F;
}
.Static.sta_MF_Logo
{
	background : URL("./images/sta_MF_Logo.png") no-repeat center center;
}
.Static.sta_MF_LogoFooter
{
	background : URL("./images/sta_MF_LogoFooter.png") no-repeat center center;
}
.Edit.essential
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.Edit.essentialSub
{
	border : 1px solid #f6e5bf;
	background : #fffdf4;
}
.Edit.edt_WF_SearchEssential
{
	border : 1px solid #f6e5bf;
	padding : 0px 30px 0px 8px;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.Edit.output
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.MaskEdit.output
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.TextArea.output
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.Edit.error
{
	border : 1px solid #ee5555;
}
.MaskEdit.essential
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.MaskEdit.essentialSub
{
	border : 1px solid #f6e5bf;
	background : #fffdf4;
}
.MaskEdit.error
{
	border : 1px solid #ee5555;
}
.Combo.essential
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.Combo.error
{
	border : 1px solid #ff2d4b;
}
.Calendar.essential
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.Calendar.error
{
	border : 1px solid #ff2d4b;
}
.Spin.essential
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.Spin.error
{
	border : 1px solid #ee5555;
}
.TextArea.essential
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.TextArea.error
{
	border : 1px solid #ee5555;
}
.Grid .head .row .cell.essential
{
	background : URL("./images/essential.png") no-repeat left top;
}
.Button.btn_POP_Close
{
	border : 0px none;
	background : URL("./images/btn_POP_Close.png") no-repeat center transparent;
}
.Button.btn_POP_Confirm
{
	border : 1px solid #dddddd, 0px none, 0px none, 0px none;
	background : #ffffff;
	color : #3683E2;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Div.div_POP_TitleBg
{
	background : #23262d;
}
.Form.frm_POP_Bg
{
	border : 1px solid #CFD1D8;
	background : #ffffff;
}
.Static.sta_POP_Title
{
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_POP_Text
{
	border : 1px solid #dddddd;
	background : transparent;
}
.Grid.grd_POP_Combo
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_POP_Combo .body .row .cell
{
	border : 0px none, 0px none, 1px solid #dddddd, 0px none;
}
.Static.sta_WF_GSize
{
	background : rgba(255, 0, 0, 0.1);
	color : #F03061;
}
.Static.sta_WF_GSize .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_GTxt01
{
	font : bold 20px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GTxt02
{
	font : bold 12px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GTxt02 .nexacontentsbox
{
	text-decoration : underline;
}
.Static.sta_WF_GTxt02B
{
	color : #333333;
	font : bold 12px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GTxt02B .nexacontentsbox
{
	text-decoration : underline;
}
.Static.sta_WF_GTxt03
{
	color : #636981;
	font : 11px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GTxt04
{
	color : #ff000c;
	font : 11px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GTxt05
{
	color : #ff7200;
	font : bold 12px/20px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GTxt06
{
	color : #ee5555;
	font : 12px/20px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GBar
{
	background : #f4f5f9;
	color : #23273c;
	font : bold 33px/50px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GNum
{
	color : #445BEC;
	font : bold 30px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GNum .nexacontentsbox
{
	text-align : right;
}
.Static.sta_WF_Box
{
	background : #FFFFFF;
	border-radius : 5px;
	box-shadow : 3px 3px 10px 0px #e7e8f1;
	border : 0px none;
}
.Static.sta_WF_GLine
{
	background : #eeeeee;
}
.Static.sta_WF_GLine01
{
	background : #ff000c;
}
.Static.sta_WF_GBg01
{
	background : #f4f5f9;
}
.Static.sta_WF_GBg02
{
	border : 1px solid #333333;
	background : #fff9ca;
	font : 16px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_GBg02 .nexacontentsbox
{
	vertical-align : top;
}
.HScrollBarControl .trackbar[status=focused]
{
	background : #dcdee2;
}
.VScrollBarControl .trackbar[status=focused]
{
	background : #dcdee2;
}
.Button[status=focused]
{
	border : 1px solid #313340;
}
.Calendar[status=focused]
{
	border : 1px solid #313340;
}
.CalendarControl[status=focused]
{
	border : 1px solid #313340;
}
.Calendar[status=readonly]
{
	background : #f2f2f2;
}
.CalendarControl[status=readonly]
{
	background : #f2f2f2;
}
.Calendar .calendaredit[status=focused]
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.Calendar .calendaredit[status=readonly]
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.CalendarControl .calendaredit[status=focused]
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.CalendarControl .calendaredit[status=readonly]
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.Combo[status=focused]
{
	border : 1px solid #313340;
}
.ComboControl[status=focused]
{
	border : 1px solid #313340;
}
.Combo[status=readonly]
{
	background : #f2f2f2;
}
.ComboControl[status=readonly]
{
	background : #f2f2f2;
}
.Combo .comboedit[status=focused]
{
	border : 0px none;
	padding : 0px 0px 0px 15px;
	background : transparent;
}
.Combo .comboedit[status=readonly]
{
	border : 0px none;
	padding : 0px 0px 0px 15px;
	background : transparent;
}
.ComboControl .comboedit[status=focused]
{
	border : 0px none;
	padding : 0px 0px 0px 15px;
	background : transparent;
}
.ComboControl .comboedit[status=readonly]
{
	border : 0px none;
	padding : 0px 0px 0px 15px;
	background : transparent;
}
.Edit[status=focused]
{
	border : 1px solid #313340;
}
.EditControl[status=focused]
{
	border : 1px solid #313340;
}
.Edit[status=readonly]
{
	background : #f2f2f2;
}
.EditControl[status=readonly]
{
	background : #f2f2f2;
}
.FileDownload[status=focused]
{
	background : #313340;
}
.FileUpload[status=focused]
{
	border : 0px none;
}
.FileUpload .fileuploaditem[status=focused]
{
	border : 0px none;
}
.FileUpload .fileuploaditem .fileuploaditemedit[status=focused]
{
	background : #ffffff;
}
.FileUpload .fileuploaditem .fileuploaditemedit[status=readonly]
{
	background : #ffffff;
}
.FileUpload .fileuploaditem .fileuploaditembutton[status=focused]
{
	background : #313340;
}
.Grid .head .row .cell[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell[status=focused]
{
	background : #fffdf1;
}
.GridCellControl .cellbutton[status=focused]
{
	border : 1px solid #dddddd;
	background : linear-gradient(to bottom,#ffffff,#f6f7f8);
	border-radius : 1px;
	color : #646982;
	cursor : pointer;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.GridCellControl .cellbutton[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.GridCellControl .cellexpandbutton[status=focused]
{
	border : 1px solid #000000;
}
.ListBox .listboxitem[status=focused]
{
	background : #8ec2ff;
}
.MaskEdit[status=focused]
{
	border : 1px solid #313340;
}
.MaskEditControl[status=focused]
{
	border : 1px solid #313340;
}
.MaskEdit[status=readonly]
{
	background : #f2f2f2;
}
.MaskEditControl[status=readonly]
{
	background : #f2f2f2;
}
.ProgressBar[status=focused]
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.ProgressBarControl[status=focused]
{
	border : 1px solid #dddddd;
	background : #ffffff;
}
.Spin[status=focused]
{
	border : 1px solid #313340;
}
.Spin[status=readonly]
{
	background : #f2f2f2;
}
.Spin .spinedit[status=focused]
{
	border : 0px none;
	padding : 0px 8px 0px 0px;
	background : transparent;
}
.Spin .spinedit[status=readonly]
{
	border : 0px none;
	padding : 0px 8px 0px 0px;
	background : transparent;
}
.SpinControl[status=focused]
{
	border : 0px none;
	background : #ffffff;
}
.SpinControl .spinedit[status=focused]
{
	border : 0px none;
	padding : 0px 0px 4px 0px;
	font : bold 14px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.SpinControl .spinedit[status=readonly]
{
	border : 0px none;
	padding : 0px 0px 4px 0px;
	font : bold 14px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Tab .tabbuttonitemTab[status=focused]
{
	border : 0px none, 1px solid #f4f5f9,  0px none, 0px none;
	background : #c8cdd7;
	color : #ffffff;
}
.Tab .tabpageTab[status=focused]
{
	border : 1px solid #c8cdd7, 0px none, 0px none, 0px none;
	background : #f4f5f9;
}
.TextArea[status=focused]
{
	border : 1px solid #313340;
}
.TextAreaControl[status=focused]
{
	border : 1px solid #313340;
}
.TextArea[status=readonly]
{
	background : #f2f2f2;
}
.TextAreaControl[status=readonly]
{
	background : #f2f2f2;
}
.Button.btn_WF_Crud[status=focused]
{
	border : 1px solid #000000;
}
.Button.btn_WF_Add[status=focused]
{
	border : 1px solid #000000;
}
.Button.btn_WF_Delete[status=focused]
{
	border : 1px solid #000000;
}
.Button.btn_WF_Detail[status=focused]
{
	border : 1px solid #d8d8d8;
	background : #e4e4e4;
	color : #666666;
	font : 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Button.btn_WF_EdiSch[status=focused]
{
	border : 0px none;
	background : URL("./images/btn_WF_SearchO.png") no-repeat center #ffffff;
}
.Button.btn_WF_Search[status=focused]
{
	border : 0px none;
	background : #858ba3;
}
.Edit.edt_WF_Search[status=focused]
{
	border : 1px solid #646982;
}
.Edit.edt_WF_Search[status=readonly]
{
	background : #f2f2f2;
}
.TextArea.txt_WF_Terms[status=readonly]
{
	border : 1px solid #dddddd;
	padding : 8px 8px 0px 8px;
	background : #ffffff;
	font : 18px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_WF_Terms[status=readonly] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea.txt_WF_Terms[status=readonly] .nexatextarea
{
	-nexa-word-wrap : char;
}
.TextArea.txt_WF_Terms[status=focused]
{
	border : 1px solid #dddddd;
	padding : 8px 8px 0px 8px;
	background : #ffffff;
	font : 18px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_WF_Terms[status=focused] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea.txt_WF_Terms[status=focused] .nexatextarea
{
	-nexa-word-wrap : char;
}
.Button.btn_MF_Top[status=focused]
{
	border : 1px solid #76B1EE;
}
.Button.btn_MF_Menu[status=focused]
{
	border : 0px none;
}
.Button.btn_MF_Menu[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_mTMenu[status=focused]
{
	border : 0px none;
}
.Button.btn_MF_mTMenu[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_mTMenuS[status=focused]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenuS[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_Footer[status=focused]
{
	border : 0px none;
	background : transparent;
	color : #909095;
}
.Button.btn_MF_Footer[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_FooterLaw[status=focused]
{
	border : 0px none;
	background : transparent;
	color : #7FA7D7;
}
.Button.btn_MF_FooterLaw[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitle[status=focused]
{
	border : 0px none;
	color : #333333;
}
.Button.btn_MF_grdTitle[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitleS[status=mouseover]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_grdTitleS[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitleS[status=focused]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_grdTitleS[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_img01[status=mouseover]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img02[status=mouseover]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img03[status=mouseover]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img04[status=mouseover]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img01[status=focused]
{
	border : 1px solid #000000, 1px solid #c8cdd7, 1px solid #c8cdd7, 1px solid #c8cdd7;
}
.Button.btn_MF_img02[status=focused]
{
	border : 1px solid #000000, 1px solid #c8cdd7, 1px solid #c8cdd7, 1px solid #c8cdd7;
}
.Button.btn_MF_img03[status=focused]
{
	border : 1px solid #000000, 1px solid #c8cdd7, 1px solid #c8cdd7, 1px solid #c8cdd7;
}
.Button.btn_MF_img04[status=focused]
{
	border : 1px solid #000000, 1px solid #c8cdd7, 1px solid #c8cdd7, 1px solid #c8cdd7;
}
.Button.btn_MF_Contact[status=focused]
{
	border : 1px solid #000000;
}
.Button.btn_MF_mMenu[status=focused]
{
	border : 0px none;
}
.Button.btn_MF_mClose[status=focused]
{
	border : 0px none;
}
.Button.btn_MF_Link[status=focused]
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_Link[status=focused] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_LinkS[status=focused]
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_LinkS[status=focused] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_WF_Bookmark[status=mouseover]
{
	border : 0px none;
	background : URL("./images/btn_WF_Bookmark.png") no-repeat left transparent;
}
.Button.btn_WF_Bookmark[status=focused]
{
	border : 1px solid #000000;
}
.ListBoxControl.popupCombocmb_MF_Linkcombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #313849;
	color : #909095;
}
.Grid.grd_MF_Link .body .row .cell[status=focused]
{
	border : 0px none, 0px none, 1px solid #909095, 0px none;
	background : #313849;
	color : #909095;
}
.Grid.grd_MF_Link .body .row .cell[status=focused] .nexacontentsbox
{
	text-align : left;
	vertical-align : middle;
}
.ImageViewer.img_MF_FooterLogo[status=focused]
{
	border : 1px solid #828288;
}
.Edit.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.Edit.edt_WF_SearchEssential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.Edit.output[status=focused]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.Edit.output[status=readonly]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.MaskEdit.output[status=focused]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.TextArea.output[status=focused]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.TextArea.output[status=readonly]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.Edit.error[status=focused]
{
	border : 1px solid #ee5555;
}
.Edit.error[status=readonly]
{
	border : 1px solid #ee5555;
}
.MaskEdit.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.MaskEdit.error[status=focused]
{
	border : 1px solid #ee5555;
}
.MaskEdit.error[status=readonly]
{
	border : 1px solid #ee5555;
}
.Combo.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.Combo.error[status=focused]
{
	border : 1px solid #ff2d4b;
}
.Combo.error[status=readonly]
{
	border : 1px solid #ff2d4b;
}
.Calendar.essential[status=focused]
{
	border : 1px solid #f6e5bf;
	background : URL("./images/essential.png") no-repeat left top #fffdf4;
}
.Calendar.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.Calendar.error[status=focused]
{
	border : 1px solid #ff2d4b;
}
.Calendar.error[status=readonly]
{
	border : 1px solid #ff2d4b;
}
.Spin.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.Spin.error[status=focused]
{
	border : 1px solid #ee5555;
}
.Spin.error[status=readonly]
{
	border : 1px solid #ee5555;
}
.TextArea.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top #f9f9f9;
}
.TextArea.error[status=focused]
{
	border : 1px solid #ee5555;
}
.TextArea.error[status=readonly]
{
	border : 1px solid #ee5555;
}
.Grid .head .row .cell.essential[status=focused]
{
	background : URL("./images/essential.png") no-repeat left top;
}
.Grid .head .row .cell.essential[status=readonly]
{
	background : URL("./images/essential.png") no-repeat left top;
}
.Button.btn_POP_Confirm[status=focused]
{
	border : 1px solid #dddddd, 0px none, 0px none, 0px none;
	background : #ffffff;
	color : #3683E2;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_POP_Text[status=focused]
{
	border : 1px solid #dddddd;
	background : transparent;
}
.TextArea.txt_POP_Text[status=readonly]
{
	border : 1px solid #dddddd;
	background : transparent;
}
.Grid.grd_POP_Combo .body .row .cell[status=focused]
{
	background : #8ec2ff;
}
.Grid.grd_POP_Combo .body .row .cell[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Form[userstatus=contents]
{
	background : transparent;
}
.HScrollBarControl .trackbar[userstatus=pushed]
{
	background : #c0c1c5;
}
.HScrollBarControl .trackbar[userstatus=selected]
{
	background : #c0c1c5;
}
.VScrollBarControl .trackbar[userstatus=pushed]
{
	background : #c0c1c5;
}
.VScrollBarControl .trackbar[userstatus=selected]
{
	background : #c0c1c5;
}
.Button[userstatus=pushed]
{
	border : 1px solid #313340;
}
.Button[userstatus=selected]
{
	border : 1px solid #313340;
}
.Calendar .calendaredit[userstatus=nulltext]
{
	color : #aeaeae;
}
.CalendarControl .calendaredit[userstatus=nulltext]
{
	color : #aeaeae;
}
.DatePickerControl .body .weekitem[userstatus=saturday]
{
	color : #239cf0;
}
.DatePickerControl .body .weekitem[userstatus=sunday]
{
	color : #ee5555;
}
.DatePickerControl .body .dayitem[userstatus=selected]
{
	background : #38c2d8;
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.DatePickerControl .body .dayitem[userstatus=day]
{
	color : #333333;
}
.DatePickerControl .body .dayitem[userstatus=today]
{
	background : #3683e2;
	color : #ffffff;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.DatePickerControl .body .dayitem[userstatus=saturday]
{
	color : #239cf0;
}
.DatePickerControl .body .dayitem[userstatus=sunday]
{
	color : #ee5555;
}
.DatePickerControl .body .dayitem[userstatus=trailingday]
{
	color : #aaaaaa;
}
.Combo .comboedit[userstatus=nulltext]
{
	border : 0px none;
	color : #aeaeae;
}
.ComboControl .comboedit[userstatus=nulltext]
{
	border : 0px none;
	color : #aeaeae;
}
.ListBoxControl.popupCombocombolist.dummy .listboxitem[userstatus=selected]
{
	background : #8ec2ff;
}
.ListBoxControl.popupComboControlcombolist.dummy .listboxitem[userstatus=selected]
{
	background : #8ec2ff;
}
.Edit[userstatus=nulltext]
{
	color : #aeaeae;
}
.EditControl[userstatus=nulltext]
{
	color : #aeaeae;
}
.FileDownload[userstatus=pushed]
{
	background : #313340;
}
.FileUpload[userstatus=selected]
{
	border : 0px none;
}
.FileUpload .fileuploaditem .fileuploaditemedit[userstatus=nulltext]
{
	color : #aeaeae;
}
.FileUpload .fileuploaditem .fileuploaditembutton[userstatus=pushed]
{
	background : #313340;
}
.FileUpload .fileuploaditem .fileuploaditembutton[userstatus=selected]
{
	background : #313340;
}
.Grid .body .row .cell[userstatus=selected]
{
	background : #fff7e5;
}
.GridCellControl .cellbutton[userstatus=pushed]
{
	border : 1px solid #313340;
}
.GridCellControl .cellbutton[userstatus=selected]
{
	border : 1px solid #313340;
}
.GridCellControl .cellexpandbutton[userstatus=pushed]
{
	background : URL("./images/btn_WF_Search.png") no-repeat center transparent;
}
.GridCellControl .cellexpandbutton[userstatus=selected]
{
	background : URL("./images/btn_WF_Search.png") no-repeat center transparent;
}
.ListBox .listboxitem[userstatus=selected]
{
	background : #8ec2ff;
}
.MaskEdit[userstatus=nulltext]
{
	color : #aeaeae;
}
.MaskEditControl[userstatus=nulltext]
{
	color : #aeaeae;
}
.Spin .spinedit[userstatus=nulltext]
{
	color : #aaaaaa;
}
.SpinControl .spinedit[userstatus=nulltext]
{
	color : #aaaaaa;
}
.StepControl .stepitem[userstatus=selected]
{
	background : #3683e2;
}
.Tab .tabbuttonitemTab[userstatus=selected]
{
	border : 1px solid #313340,  0px none,  0px none, 0px none;
	background : #ffffff;
	color : #313340;
}
.TextArea[userstatus=nulltext]
{
	color : #aaaaaa;
}
.TextAreaControl[userstatus=nulltext]
{
	color : #aaaaaa;
}
.Button.btn_WF_Crud[userstatus=pushed]
{
	border : 1px solid #3073C7;
	background : #3875C1;
}
.Button.btn_WF_Crud[userstatus=selected]
{
	border : 1px solid #3073C7;
	background : #3875C1;
}
.Button.btn_WF_EdiSch[userstatus=pushed]
{
	border : 0px none;
	background : URL("./images/btn_WF_SearchO.png") no-repeat center #ffffff;
}
.Button.btn_WF_EdiSch[userstatus=selected]
{
	border : 0px none;
	background : URL("./images/btn_WF_SearchO.png") no-repeat center #ffffff;
}
.Button.btn_WF_Search[userstatus=pushed]
{
	border : 0px none;
	background : #4b4f5e;
}
.Button.btn_WF_Search[userstatus=selected]
{
	border : 0px none;
	background : #4b4f5e;
}
.Edit.edt_WF_Search[userstatus=nulltext]
{
	color : #aeaeae;
}
.Grid .body .row .cell.cell_WF_PointTxt01[userstatus=selected]
{
	background : #ffdfdf;
}
.Grid .body .row .cell.cell_WF_PointTxt02[userstatus=selected]
{
	background : #ffe9df;
}
.Grid .body .row .cell.cell_WF_PointTxt03[userstatus=selected]
{
	background : #dff3ff;
}
.Grid .body .row .cell.cell_WF_PointTxt04[userstatus=selected]
{
	background : #f1ffdf;
}
.Button.btn_MF_Top[userstatus=pushed]
{
	border : 0px none;
	border-radius : 70px;
	background : #444554;
}
.Button.btn_MF_Top[userstatus=selected]
{
	border : 0px none;
	border-radius : 70px;
	background : #444554;
}
.Button.btn_MF_Menu[userstatus=pushed]
{
	border : 0px none;
	background : URL("./images/btn_MF_Over.png") no-repeat center bottom;
}
.Button.btn_MF_Menu[userstatus=selected]
{
	border : 0px none;
	background : URL("./images/btn_MF_Over.png") no-repeat center bottom;
}
.Button.btn_MF_mTMenu[userstatus=pushed]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenu[userstatus=selected]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenuS[userstatus=pushed]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenuS[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_mTMenuS[userstatus=selected]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_mTMenuS[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_Footer[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #909095;
}
.Button.btn_MF_Footer[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_Footer[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : #909095;
}
.Button.btn_MF_Footer[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_FooterLaw[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #7FA7D7;
}
.Button.btn_MF_FooterLaw[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_FooterLaw[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : #7FA7D7;
}
.Button.btn_MF_FooterLaw[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitle[userstatus=pushed]
{
	border : 0px none;
	color : #333333;
}
.Button.btn_MF_grdTitle[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitle[userstatus=selected]
{
	border : 0px none;
	color : #333333;
}
.Button.btn_MF_grdTitle[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitleS[userstatus=pushed]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_grdTitleS[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_grdTitleS[userstatus=selected]
{
	border : 0px none;
	font : bold 22px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
	color : #333333;
}
.Button.btn_MF_grdTitleS[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_MF_img01[userstatus=pushed]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img01[userstatus=selected]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img02[userstatus=pushed]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img02[userstatus=selected]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img03[userstatus=pushed]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img03[userstatus=selected]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img04[userstatus=pushed]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_img04[userstatus=selected]
{
	border : 1px solid #c8cdd7;
}
.Button.btn_MF_Contact[userstatus=pushed]
{
	border : 1px solid #B9D0DD;
	background : #96B6C9;
}
.Button.btn_MF_Contact[userstatus=selected]
{
	border : 1px solid #B9D0DD;
	background : #96B6C9;
}
.Button.btn_MF_mMenu[userstatus=pushed]
{
	border : 0px none;
}
.Button.btn_MF_mMenu[userstatus=selected]
{
	border : 0px none;
}
.Button.btn_MF_mClose[userstatus=pushed]
{
	border : 0px none;
}
.Button.btn_MF_mClose[userstatus=selected]
{
	border : 0px none;
}
.Button.btn_MF_Link[userstatus=pushed]
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_Link[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_Link[userstatus=selected]
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_Link[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_LinkS[userstatus=pushed]
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_LinkS[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_MF_LinkS[userstatus=selected]
{
	border : 1px solid #909095;
	background : #313849;
	color : #909095;
}
.Button.btn_MF_LinkS[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_WF_Bookmark[userstatus=pushed]
{
	border : 0px none;
	background : URL("./images/btn_WF_Bookmark.png") no-repeat left transparent;
}
.Button.btn_WF_Bookmark[userstatus=selected]
{
	border : 0px none;
	background : URL("./images/btn_WF_Bookmark.png") no-repeat left transparent;
}
.ListBoxControl.popupCombocmb_MF_Linkcombolist.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #313849;
	color : #909095;
}
.Grid.grd_MF_News .body .row .cell[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Grid.grd_MF_News .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid.grd_MF_News .body .row .cell.cell_Noti[userstatus=selected]
{
	background : URL("./images/cell_Noti.png") no-repeat center center;
}
.Grid.grd_MF_News .body .row .cell.cell_PR[userstatus=selected]
{
	background : URL("./images/cell_PR.png") no-repeat center center;
}
.Grid.grd_MF_Link .body .row .cell[userstatus=selected]
{
	border : 0px none, 0px none, 1px solid #909095, 0px none;
	background : #313849;
	color : #909095;
}
.Grid.grd_MF_Link .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-align : left;
	vertical-align : middle;
}
.Edit.edt_WF_SearchEssential[userstatus=nulltext]
{
	color : #aaaaaa;
}
.Edit.error[userstatus=nulltext]
{
	border : 1px solid #ee5555;
}
.MaskEdit.error[userstatus=nulltext]
{
	border : 1px solid #ee5555;
}
.TextArea.error[userstatus=nulltext]
{
	border : 1px solid #ee5555;
}
.Grid .head .row .cell.essential[userstatus=selected]
{
	background : URL("./images/essential.png") no-repeat left top;
}
.Grid .head .row .cell.essential[userstatus=blinked]
{
	background : URL("./images/essential.png") no-repeat left top;
}
.Button.btn_POP_Close[userstatus=pushed]
{
	border : 0px none;
}
.Button.btn_POP_Close[userstatus=selected]
{
	border : 0px none;
}
.Button.btn_POP_Confirm[userstatus=selected]
{
	border : 0px none;
	background : #F1F3F5;
	color : #3683E2;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Button.btn_POP_Confirm[userstatus=pushed]
{
	border : 0px none;
	background : #F1F3F5;
	color : #3683E2;
	font : bold 18px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Grid.grd_POP_Combo .body .row .cell[userstatus=selected]
{
	background : #8ec2ff;
}
.HScrollBarControl[status=disabled]
{
	border : 1px solid #efefef, 0px none, 0px none, 0px none;
	background : #f9f9f9;
}
.HScrollBarControl .trackbar[status=disabled]
{
	background : #e4e4e4;
}
.VScrollBarControl[status=disabled]
{
	border : 0px none, 0px none, 0px none, 1px solid #efefef;
	background : #f9f9f9;
}
.VScrollBarControl .trackbar[status=disabled]
{
	background : #e4e4e4;
}
.Button[status=disabled]
{
	opacity : 0.5;
}
.Calendar[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.CalendarControl[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.Calendar .calendaredit[status=disabled]
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.CalendarControl .calendaredit[status=disabled]
{
	border : 0px none;
	padding : 0px 8px 0px 8px;
	background : transparent;
}
.Combo[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
}
.ComboControl[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
}
.Combo .comboedit[status=disabled]
{
	border : 0px none;
	color : #aeaeae;
}
.ComboControl .comboedit[status=disabled]
{
	border : 0px none;
	color : #aeaeae;
}
.Edit[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.EditControl[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.FileDownload[status=disabled]
{
	opacity : 0.5;
}
.FileUpload[status=disabled]
{
	opacity : 0.5;
}
.GridCellControl .cellbutton[status=disabled]
{
	border : 1px solid #eeeeee;
	color : #aaaaaa;
}
.GridCellControl .cellexpandbutton[status=disabled]
{
	background : URL("./images/btn_WF_Search.png") no-repeat center transparent;
}
.GridCellControl .celltreeline[status=disabled]
{
	border : 1px dotted #aeaeae;
}
.GroupBox .groupboxtitle[status=disabled]
{
	color : #aeaeae;
}
.GroupBox .groupboxcontents[status=disabled]
{
	border : 1px solid #efefef;
}
.ImageViewer[status=disabled]
{
	border : 0px none;
}
.ListBox[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
}
.ListBox .listboxitem[status=disabled]
{
	color : #aeaeae;
}
.MaskEdit[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.MaskEditControl[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.ProgressBar[status=disabled]
{
	border : 1px solid #eeeeee;
}
.ProgressBarControl[status=disabled]
{
	border : 1px solid #eeeeee;
}
.ProgressBar .progressbaritem[status=disabled]
{
	background : #f4f5f9;
}
.ProgressBarControl .progressbaritem[status=disabled]
{
	background : #f4f5f9;
}
.ProgressBar .progressbartext[status=disabled]
{
	color : #ffffff;
}
.ProgressBarControl .progressbartext[status=disabled]
{
	color : #ffffff;
}
.ProgressBar .progressstartcap[status=disabled]
{
	background : #f4f5f9;
}
.ProgressBarControl .progressstartcap[status=disabled]
{
	background : #f4f5f9;
}
.ProgressBar .progressendcap[status=disabled]
{
	background : #f4f5f9;
}
.ProgressBarControl .progressendcap[status=disabled]
{
	background : #f4f5f9;
}
.Spin[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
}
.Spin .spinedit[status=disabled]
{
	border : 0px none;
	color : #aeaeae;
}
.SpinControl[status=disabled]
{
	background : #f9f9f9;
}
.SpinControl .spinedit[status=disabled]
{
	border : 0px none;
	color : #aeaeae;
}
.Static[status=disabled]
{
	color : #aeaeae;
}
.Tab .tabbuttonitemTab[status=disabled]
{
	background : #e9ebf0;
	color : #caccd1;
}
.Tab .tabbuttonitemTab .tabbuttonitemtext[status=disabled]
{
	color : #aeaeae;
}
.Tab .tabpageTab[status=disabled]
{
	border : 1px solid #c8cdd7, 0px none, 0px none, 0px none;
	background : #f4f5f9;
}
.TextArea[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.TextAreaControl[status=disabled]
{
	border : 1px solid #efefef;
	background : #f9f9f9;
	color : #aeaeae;
}
.Button.btn_WF_Crud[status=disabled]
{
	opacity : 0.5;
}
.Button.btn_WF_EdiSch[status=disabled]
{
	border : 1px solid #efefef;
	background : URL("./images/btn_WF_Search.png") no-repeat center #f9f9f9;
}
.Edit.edt_WF_Search[status=disabled]
{
	border : 1px solid #efefef;
	color : #aeaeae;
}
.TextArea.txt_WF_Terms[status=disabled]
{
	border : 1px solid #dddddd;
	padding : 8px 8px 0px 8px;
	background : #ffffff;
	font : 18px/34px "-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.TextArea.txt_WF_Terms[status=disabled] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea.txt_WF_Terms[status=disabled] .nexatextarea
{
	-nexa-word-wrap : char;
}
.Edit.edt_WF_SearchEssential[status=disabled]
{
	border : 1px solid #dddddd;
	color : #aaaaaa;
}
.Edit.output[status=disabled]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.MaskEdit.output[status=disabled]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.TextArea.output[status=disabled]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
}
.Edit.error[status=disabled]
{
	border : 1px solid #ee5555;
}
.MaskEdit.error[status=disabled]
{
	border : 1px solid #ee5555;
}
.Combo.error[status=disabled]
{
	border : 1px solid #ff2d4b;
}
.Calendar.error[status=disabled]
{
	border : 1px solid #ff2d4b;
}
.Spin.error[status=disabled]
{
	border : 1px solid #ee5555;
}
.TextArea.error[status=disabled]
{
	border : 1px solid #ee5555;
}
.Grid .head .row .cell.essential[status=disabled]
{
	background : URL("./images/essential.png") no-repeat left top;
}
