
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Div.div_top_M
{
	border-top : 2px solid #ffffff;
	border-right : 0px none;
	border-bottom : 2px solid #eaeaea;
	border-left : 0px none;
	background : #ffffff;
}
.Static.sta_Top_logo_M
{
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat left center transparent;
	cursor : pointer;
}
.ImageViewer.imv_Top_logoW_M
{
	border : 1px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
.Button.btn_Top_sitemap_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_search_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_close_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Div.div_top_M[status=focused]
{
	border-top : 2px solid #ffffff;
	border-right : 0px none;
	border-bottom : 2px solid #eaeaea;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Div.div_top_M[status=mouseover]
{
	border-top : 2px solid #ffffff;
	border-right : 0px none;
	border-bottom : 2px solid #eaeaea;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Static.sta_Top_logo_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat left center transparent;
	cursor : pointer;
}
#nexacontainer .ImageViewer.imv_Top_logoW_M[status=mouseover]
{
	border : 1px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
#nexacontainer .ImageViewer.imv_Top_logoW_M[status=focused]
{
	border : 1px dashed #ffffff;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
#nexacontainer .Button.btn_Top_sitemap_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_sitemap_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Top_search_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_search_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Top_close_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_close_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Top_sitemap_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_search_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_close_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .ImageViewer.imv_Top_logoW_M[status=disabled]
{
	border : 1px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
#nexacontainer .Button.btn_Top_sitemap_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_search_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
#nexacontainer .Button.btn_Top_close_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
