
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  
}

.nexatransform
{
  
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexacontentsboxflex
{
  display: -webkit-flex;
  display: flex;
  background-position:left center;
  background-repeat:no-repeat;
  align-items : center;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
  justify-content:flex-start;
}

.nexarightalign
{
  text-align:right;
  justify-content:flex-end;
}

.nexacenteralign
{
  text-align:center;
  justify-content:center;
}

.nexamap div *
{
  overflow:visible;
}

.ProgressBar,.ProgressBarControl
{

}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Div.div_LNB
{
	background : #f5f5f5;
	border-radius : 12px;
}
.Static.sta_LNB_sectionLine
{
	background : url('./images/bg_LNB_line.png') no-repeat left center transparent;
}
.Button.btn_LNB_home
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 500 20px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_LNB_home .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Button.btn_LNB_menu
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 500 20px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_LNB_menu .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Combo.cbo_LNB_N
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_O
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_F
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_N .comboedit
{
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Combo.cbo_LNB_N .comboedit .nexainput
{
	padding : 0px 10px 0px 19px;
}
.Combo.cbo_LNB_O .comboedit
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Combo.cbo_LNB_O .comboedit .nexainput
{
	padding : 0px 10px 0px 19px;
}
.Combo.cbo_LNB_F .comboedit
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Combo.cbo_LNB_F .comboedit .nexainput
{
	padding : 0px 10px 0px 19px;
}
.Combo.cbo_LNB_N .dropbutton
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_O .dropbutton
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton
{
	cursor : pointer;
	background : transparent;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy
{
	border-top : 13px solid transparent;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #f5f5f5;
	border-radius : 0px;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy
{
	border-top : 13px solid transparent;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #f5f5f5;
	border-radius : 0px;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy
{
	border-top : 13px solid transparent;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #f5f5f5;
	border-radius : 0px;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.ImageViewer.imv_LNB_Menu01
{
	border : 1px solid transparent;
	background : transparent;
}
.ImageViewer.imv_LNB_Menu01 .imagetext
{
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.imv_LNB_Menu01 .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Div.div_LNB[status=focused]
{
	background : #f5f5f5;
	border-radius : 12px;
}
#nexacontainer .Div.div_LNB[status=mouseover]
{
	background : #f5f5f5;
	border-radius : 12px;
}
#nexacontainer .Static.sta_LNB_sectionLine[status=mouseover]
{
	background : url('./images/bg_LNB_line.png') no-repeat left center transparent;
}
#nexacontainer .Button.btn_LNB_home[status=focused]
{
	border : 1px dashed #000000;
	background : transparent;
}
#nexacontainer .Button.btn_LNB_home[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
}
#nexacontainer .Button.btn_LNB_menu[status=focused]
{
	border : 1px dashed #000000;
	background : transparent;
}
#nexacontainer .Button.btn_LNB_menu[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
}
#nexacontainer .Combo.cbo_LNB_N[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_N[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_N[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Combo.cbo_LNB_O[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_O[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_O[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_F[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_F[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_F[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_N .comboedit[status=mouseover]
{
	color : #2b72de;
}
#nexacontainer .Combo.cbo_LNB_N .comboedit[status=focused]
{
	color : #2b72de;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=mouseover] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=mouseover]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=focused] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=focused]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=readonly] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=readonly]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=mouseover] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=mouseover]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=focused] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=focused]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=readonly] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=readonly]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_N .dropbutton[status=focused]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_N .dropbutton[status=mouseover]
{
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_O .dropbutton[status=mouseover]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_O .dropbutton[status=focused]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_F .dropbutton[status=mouseover]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_F .dropbutton[status=focused]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=readonly]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=readonly] .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=readonly]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=readonly] .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=readonly]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #d9d9d9;
	border-left : 0px none;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=readonly] .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #f5f5f5;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #f5f5f5;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #f5f5f5;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #f5f5f5;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #f5f5f5;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #f5f5f5;
}
#nexacontainer .ImageViewer.imv_LNB_Menu01[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .ImageViewer.imv_LNB_Menu01[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.imv_LNB_Menu01 .imagetext[status=mouseover]
{
	color : #2b72de;
}
#nexacontainer .Button.btn_LNB_home[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
}
#nexacontainer .Button.btn_LNB_menu[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #2b72de;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[userstatus=nulltext] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[userstatus=nulltext]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[userstatus=nulltext] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[userstatus=nulltext]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_N .dropbutton[userstatus=selected]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_N .dropbutton[userstatus=pushed]
{
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_O .dropbutton[userstatus=pushed]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_O .dropbutton[userstatus=selected]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_F .dropbutton[userstatus=pushed]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_F .dropbutton[userstatus=selected]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #ffffff;
	color : #2b72de;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_LNB_home[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_LNB_menu[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_N[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_O[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_F[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=disabled] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_O .comboedit[status=disabled]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=disabled] .nexainput
{
	padding : 0px 10px 0px 19px;
}
#nexacontainer .Combo.cbo_LNB_F .comboedit[status=disabled]
{
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Combo.cbo_LNB_N .dropbutton[status=disabled]
{
	background : transparent;
	opacity : 0.4;
}
#nexacontainer .Combo.cbo_LNB_O .dropbutton[status=disabled]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .Combo.cbo_LNB_F .dropbutton[status=disabled]
{
	cursor : pointer;
	background : transparent;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=disabled]
{
	color : #d9d9d9;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=disabled]
{
	color : #d9d9d9;
}
#nexacontainer .ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=disabled]
{
	color : #d9d9d9;
}
#nexacontainer .ImageViewer.imv_LNB_Menu01[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
