
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Div.div_main_M
{
	border : 0px none;
	border-radius : 0px;
	background : #eeeeee;
}
.Button.btn_main_shortcuts
{
	border : 2px solid #ffffff;
	background : #ffffff;
	border-radius : 35px;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Static.sta_main_titlebar_M
{
	background : url('./../../../_resource_/_images_/main/main_bg_titleline.png') no-repeat right center transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #ffffff;
}
.Static.sta_main_titlebar_M .nexacontentsbox
{
	text-align : left;
}
.Static.sta_main_sub_teg02_M
{
	border : 2px solid #2d73de;
	border-radius : 30px;
	background : #ffffff;
	color : #2d73de;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : 0px;
}
.Static.sta_main_sub_teg02_M .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_more_M
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_main_more_M .nexacontentsbox
{
	text-align : right;
}
.Button.btn_main_sub0_more
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Button.btn_main_sub0_more .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_serviceLink1M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub0_serviceLink1M .nexacontentsbox
{
	text-align : left;
}
.Button.btn_main_sub0_serviceLink2M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub0_serviceLink2M .nexacontentsbox
{
	text-align : left;
}
.Button.btn_main_sub0_serviceLink3M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub0_serviceLink3M .nexacontentsbox
{
	text-align : left;
}
.Button.btn_main_sub0_serviceLink4M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub0_serviceLink4M .nexacontentsbox
{
	text-align : left;
}
.Button.btn_main_sub0_serviceLink5M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub0_serviceLink5M .nexacontentsbox
{
	text-align : left;
}
.Button.btn_main_sub0_serviceLink6M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub0_serviceLink6M .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_main_notice_M
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_main_notice_M .body
{
	background : #ffffff;
}
.Grid.grd_main_notice_M .body .row .cell
{
	border : 0px none;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_main_notice_M .body .row .cell .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M
{
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M .nexacontentsbox
{
	text-decoration : none;
	text-align : left;
}
.Button.btn_main_sub0_tabM_N
{
	border : 2px solid #ffffff;
	border-radius : 18px;
	background : #ffffff;
	color : #767676;
	font : normal 500 42px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Button.btn_main_sub0_tabM_N .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_tabM_S
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
	color : #2b72de;
	font : normal 700 42px/normal "Noto Sans KR","NotoSansKR-Bold";
	letter-spacing : -3px;
}
.Button.btn_main_sub0_tabM_S .nexacontentsbox
{
	text-align : center;
}
.Edit.edt_main_sub1_edt_M
{
	border : 4px solid #f5f5f5,0px none,4px solid #222222;
	padding : 0px 20px 0px 10px;
	background : url('./../../../_resource_/_images_/main_M/main_sub1_icon_bar_M.png') no-repeat left center transparent;
	font : normal 700 80px/normal "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
	border-radius : 0px;
}
.Button.btn_main_sub1_txtLink_M
{
	border : 2px solid #eaeaea;
	border-radius : 25px;
	background : #ffffff;
	color : #222222;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_main_sub1_txtLink_M .nexacontentsbox
{
	text-align : center;
}
.Div.div_main_sub2_part_M
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : #ffffff;
}
.Div.div_main_sub4_part01_M
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part001_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part02_M
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part002_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part03_M
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part003_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part04_M
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part004_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Button.btn_main_sub2_shortcuts_M
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
	font : normal 700 28px/normal "Noto Sans KR","NotoSansKR-Bold";
	border-radius : 18px;
}
.Button.btn_main_sub4_tab_M
{
	border : 2px solid #eaeaea;
	background : #ffffff;
	border-radius : 35px;
	color : #444444;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub4_tab_M_S
{
	border : 2px solid #2b72de;
	background : #2b72de;
	border-radius : 35px;
	color : #ffffff;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub4_stepM
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 13px;
}
.Button.btn_main_sub4_stepM_S
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 13px;
}
.Button.btn_main_sub4_stepPlayM
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 15px;
}
.Button.btn_main_sub4_stepPauseM
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 15px;
}
.Div.div_main_sub4_part_M
{
	border : 0px none;
	border-radius : 16px;
	background : #ffffff;
}
.Button.btn_main_sub4_title_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
	color : #222222;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_main_sub4_title_M .nexacontentsbox
{
	text-align : left;
	vertical-align : top;
}
.MaskEdit.msk_main_sub4_date_M
{
	border : 2px solid transparent;
	padding : 0px 8px 1px 8px;
	background : transparent;
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #888888;
}
.MaskEdit.msk_main_sub4_date_M .nexainput
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M .nexacontentsbox
{
	text-align : left;
}
.ImageViewer.font28R_W_M
{
	border : 1px solid transparent;
	background : transparent;
}
.ImageViewer.font28R_W_M .imagetext
{
	color : #ffffff;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font28R_W_M .imagetext .nexacontentsbox
{
	text-align : left;
	-nexa-word-wrap : char;
}
.Div.div_main_M[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : #eeeeee;
}
.Div.div_main_M[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : #eeeeee;
}
.Button.btn_main_shortcuts[status=focused]
{
	border : 2px dashed #222222;
}
.Button.btn_main_shortcuts[status=mouseover]
{
	border : 2px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
.Static.sta_main_titlebar_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/main/main_bg_titleline.png') no-repeat right center transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #ffffff;
}
.Static.sta_main_titlebar_M[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Static.sta_main_sub_teg02_M[status=mouseover]
{
	border : 2px solid #2d73de;
	border-radius : 30px;
	background : #ffffff;
	color : #2d73de;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : 0px;
}
.Static.sta_main_sub_teg02_M[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_more_M[status=mouseover]
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_main_more_M[status=mouseover] .nexacontentsbox
{
	text-align : right;
}
.Button.btn_main_more_M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_more[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Button.btn_main_sub0_more[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_more[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink1M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink1M[status=mouseover]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink1M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink2M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink2M[status=mouseover]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink2M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink3M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink3M[status=mouseover]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink3M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink4M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink4M[status=mouseover]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink4M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink5M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink5M[status=mouseover]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink5M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink6M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_serviceLink6M[status=mouseover]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink6M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid.grd_main_notice_M[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_main_notice_M[status=focused]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_main_notice_M[status=readonly]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_main_notice_M .body .row .cell[status=mouseover]
{
	border : 0px none;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_main_notice_M .body .row .cell[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[status=mouseover]
{
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
	text-align : left;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[status=focused]
{
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[status=focused] .nexacontentsbox
{
	text-decoration : underline;
	text-align : left;
}
.Button.btn_main_sub0_tabM_N[status=mouseover]
{
	border : 2px solid #ffffff;
	border-radius : 18px;
	background : #ffffff;
	color : #767676;
	font : normal 500 42px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Button.btn_main_sub0_tabM_N[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_tabM_N[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub0_tabM_S[status=mouseover]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
	color : #2b72de;
	font : normal 700 42px/normal "Noto Sans KR","NotoSansKR-Bold";
	letter-spacing : -3px;
}
.Button.btn_main_sub0_tabM_S[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_tabM_S[status=focused]
{
	border : 2px dashed #000000;
}
.Edit.edt_main_sub1_edt_M[status=mouseover]
{
	border : 4px solid #f5f5f5,0px none,4px solid #222222;
	padding : 0px 20px 0px 10px;
	background : url('./../../../_resource_/_images_/main_M/main_sub1_icon_bar_M.png') no-repeat left center transparent;
	font : normal 700 80px/normal "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
	border-radius : 0px;
}
.Edit.edt_main_sub1_edt_M[status=focused]
{
	border : 4px solid #f5f5f5,0px none,4px solid #222222;
	padding : 0px 20px 0px 10px;
	background : url('./../../../_resource_/_images_/main_M/main_sub1_icon_bar_M.png') no-repeat left center transparent;
	font : normal 700 80px/normal "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
	border-radius : 0px;
}
.Edit.edt_main_sub1_edt_M[status=readonly]
{
	border : 4px solid #f5f5f5,0px none,4px solid #222222;
	padding : 0px 20px 0px 10px;
	background : url('./../../../_resource_/_images_/main_M/main_sub1_icon_bar_M.png') no-repeat left center transparent;
	font : normal 700 80px/normal "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
	border-radius : 0px;
}
.Button.btn_main_sub1_txtLink_M[status=mouseover]
{
	border : 2px solid #2b72de;
	background : #2b72de;
	color : #ffffff;
}
.Button.btn_main_sub1_txtLink_M[status=focused]
{
	border : 2px solid #2b72de;
	background : #2b72de;
	color : #ffffff;
}
.Div.div_main_sub2_part_M[status=focused]
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : #ffffff;
}
.Div.div_main_sub2_part_M[status=mouseover]
{
	border : 2px solid #eaeaea;
	border-radius : 18px;
	background : #ffffff;
}
.Div.div_main_sub4_part01_M[status=focused]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part001_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part01_M[status=mouseover]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part001_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part02_M[status=focused]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part002_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part02_M[status=mouseover]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part002_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part03_M[status=focused]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part003_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part03_M[status=mouseover]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part003_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part04_M[status=focused]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part004_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Div.div_main_sub4_part04_M[status=mouseover]
{
	border : 1px solid #c3c3c3;
	border-radius : 20px;
	background : url('images/img_WF_Part004_M.png') no-repeat right bottom #ffffff;
	box-shadow : 0px 5px 20px 0px rgba(0,0,0,0.06);
}
.Button.btn_main_sub2_shortcuts_M[status=focused]
{
	border : 2px dashed #ffffff;
}
.Button.btn_main_sub2_shortcuts_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
}
.Button.btn_main_sub2_shortcuts_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub4_tab_M[status=focused]
{
	border : 2px dashed #222222;
}
.Button.btn_main_sub4_tab_M[status=mouseover]
{
	border : 2px solid #2b72de;
	background : #ffffff;
	color : #2b72de;
}
.Button.btn_main_sub4_tab_M_S[status=mouseover]
{
	border : 2px solid #2b72de;
	background : #2b72de;
	border-radius : 35px;
	color : #ffffff;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub4_tab_M_S[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub4_stepM[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 13px;
}
.Button.btn_main_sub4_stepM[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub4_stepM_S[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 13px;
}
.Button.btn_main_sub4_stepM_S[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub4_stepPlayM[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 15px;
}
.Button.btn_main_sub4_stepPlayM[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_main_sub4_stepPauseM[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 15px;
}
.Button.btn_main_sub4_stepPauseM[status=focused]
{
	border : 2px dashed #000000;
}
.Div.div_main_sub4_part_M[status=focused]
{
	border : 0px none;
	border-radius : 16px;
	background : #ffffff;
}
.Div.div_main_sub4_part_M[status=mouseover]
{
	border : 0px none;
	border-radius : 16px;
	background : #ffffff;
}
.Button.btn_main_sub4_title_M[status=focused]
{
	border : 2px dashed #222222;
}
.Button.btn_main_sub4_title_M[status=mouseover]
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #222222;
}
.Button.btn_main_sub4_title_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.MaskEdit.msk_main_sub4_date_M[status=mouseover]
{
	border : 2px solid transparent;
	padding : 0px 8px 1px 8px;
	background : transparent;
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #888888;
}
.MaskEdit.msk_main_sub4_date_M[status=mouseover] .nexainput
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[status=focused]
{
	border : 2px solid transparent;
	padding : 0px 8px 1px 8px;
	background : transparent;
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #888888;
}
.MaskEdit.msk_main_sub4_date_M[status=focused] .nexainput
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[status=focused] .nexacontentsbox
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[status=readonly]
{
	border : 2px solid transparent;
	padding : 0px 8px 1px 8px;
	background : transparent;
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #888888;
}
.MaskEdit.msk_main_sub4_date_M[status=readonly] .nexainput
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[status=readonly] .nexacontentsbox
{
	text-align : left;
}
.ImageViewer.font28R_W_M[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
.ImageViewer.font28R_W_M[status=focused]
{
	border : 1px dashed #ffffff;
}
.Button.btn_main_shortcuts[userstatus=pushed]
{
	border : 2px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
.Button.btn_main_more_M[userstatus=pushed]
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_main_more_M[userstatus=pushed] .nexacontentsbox
{
	text-align : right;
}
.Button.btn_main_sub0_more[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Button.btn_main_sub0_more[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_serviceLink1M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink1M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink2M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink2M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink3M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink3M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink4M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink4M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink5M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink5M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub0_serviceLink6M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
}
.Button.btn_main_sub0_serviceLink6M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid.grd_main_notice_M .body .row .cell[userstatus=selected]
{
	border : 0px none;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_main_notice_M .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[userstatus=selected]
{
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[userstatus=selected] .nexacontentsbox
{
	text-decoration : none;
	text-align : left;
}
.Button.btn_main_sub0_tabM_N[userstatus=pushed]
{
	border : 2px solid #ffffff;
	border-radius : 18px;
	background : #ffffff;
	color : #767676;
	font : normal 500 42px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Button.btn_main_sub0_tabM_N[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub0_tabM_S[userstatus=pushed]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
	color : #2b72de;
	font : normal 700 42px/normal "Noto Sans KR","NotoSansKR-Bold";
	letter-spacing : -3px;
}
.Button.btn_main_sub0_tabM_S[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Edit.edt_main_sub1_edt_M[userstatus=nulltext]
{
	color : #d9d9d9;
}
.Button.btn_main_sub1_txtLink_M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	border-radius : 25px;
	background : #ffffff;
	color : #222222;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_main_sub1_txtLink_M[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
}
.Button.btn_main_sub2_shortcuts_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
}
.Button.btn_main_sub2_shortcuts_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_main_sub4_tab_M[userstatus=pushed]
{
	border : 2px solid #2b72de;
	background : #ffffff;
	color : #2b72de;
}
.Button.btn_main_sub4_tab_M_S[userstatus=pushed]
{
	border : 2px solid #2b72de;
	background : #2b72de;
	border-radius : 35px;
	color : #ffffff;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_main_sub4_stepM[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 13px;
}
.Button.btn_main_sub4_stepM_S[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 13px;
}
.Button.btn_main_sub4_stepPlayM[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 15px;
}
.Button.btn_main_sub4_stepPauseM[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 15px;
}
.Button.btn_main_sub4_title_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #222222;
}
.Button.btn_main_sub4_title_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.MaskEdit.msk_main_sub4_date_M[userstatus=nulltext]
{
	border : 2px solid transparent;
	padding : 0px 8px 1px 8px;
	background : transparent;
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #888888;
}
.MaskEdit.msk_main_sub4_date_M[userstatus=nulltext] .nexainput
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[userstatus=nulltext] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_main_shortcuts[status=disabled]
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #d9d9d9;
}
.Button.btn_main_more_M[status=disabled]
{
	background : transparent;
	opacity : 0.4;
}
.Button.btn_main_sub0_more[status=disabled]
{
	border : 0px none;
	background : transparent;
	opacity : 0.4;
}
.Button.btn_main_sub0_serviceLink1M[status=disabled]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #565656;
}
.Button.btn_main_sub0_serviceLink2M[status=disabled]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #565656;
}
.Button.btn_main_sub0_serviceLink3M[status=disabled]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #565656;
}
.Button.btn_main_sub0_serviceLink4M[status=disabled]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #565656;
}
.Button.btn_main_sub0_serviceLink5M[status=disabled]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #565656;
}
.Button.btn_main_sub0_serviceLink6M[status=disabled]
{
	border : 2px solid #eaeaea;
	background : url('./../../../_resource_/_images_/main_M/main_serviceLink.png') no-repeat right center #ffffff;
	color : #565656;
}
.Grid.grd_main_notice_M[status=disabled]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_main_notice_M .body[status=disabled]
{
	background : #ffffff;
}
.Grid.grd_main_notice_M .body .row .cell[status=disabled]
{
	border : 0px none;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_main_notice_M .body .row .cell[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[status=disabled]
{
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
	letter-spacing : -2px;
}
.Grid.grd_main_notice_M .body .row .cell.cell_link_M[status=disabled] .nexacontentsbox
{
	text-decoration : none;
	text-align : left;
}
.Button.btn_main_sub0_tabM_N[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	color : #d6d6d6;
}
.Button.btn_main_sub0_tabM_S[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
}
.Edit.edt_main_sub1_edt_M[status=disabled]
{
	border : 4px solid #f5f5f5,0px none,4px solid #222222;
	background : url('./../../../_resource_/_images_/main_M/main_sub1_icon_bar_M.png') no-repeat left center transparent;
	color : #d9d9d9;
}
.Button.btn_main_sub1_txtLink_M[status=disabled]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	color : #d9d9d9;
}
.Button.btn_main_sub2_shortcuts_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
	opacity : 0.4;
}
.Button.btn_main_sub4_tab_M[status=disabled]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	color : #d9d9d9;
}
.Button.btn_main_sub4_tab_M_S[status=disabled]
{
	border : 2px solid #d9d9d9;
	background : #d9d9d9;
	color : #ffffff;
}
.Button.btn_main_sub4_stepM[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
}
.Button.btn_main_sub4_stepM_S[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
}
.Button.btn_main_sub4_stepPlayM[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
}
.Button.btn_main_sub4_stepPauseM[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
}
.Button.btn_main_sub4_title_M[status=disabled]
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #d9d9d9;
}
.MaskEdit.msk_main_sub4_date_M[status=disabled]
{
	border : 2px solid transparent;
	padding : 0px 8px 1px 8px;
	background : transparent;
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #888888;
}
.MaskEdit.msk_main_sub4_date_M[status=disabled] .nexainput
{
	text-align : left;
}
.MaskEdit.msk_main_sub4_date_M[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.ImageViewer.font28R_W_M[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
