
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Static.sta_BF_UniB02
{
	background : url('./../../../_resource_/_images_/common/img_BF_uniB01.png') no-repeat center;
}
.Static.sta_BF_bg
{
	border : 1px solid #eaeaea,0px none,0px none;
	background : #f5f5f5;
}
.Static.sta_BF_bgTop
{
	border : 1px solid #767676;
	background : #767676;
	border-radius : 30px;
}
.Static.sta_BF_divLine
{
	border : 0px none, 0px none, 0px none, 1px solid #d9d9d9;
}
.Static.sta_BF_BI
{
	background : url('./../../../_resource_/_images_/common/img_Footer_bi.png') no-repeat left center transparent;
}
.Static.sta_BF_copyright
{
	color : #767676;
	font : normal 400 12px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_BF_Phone
{
	background : url("./../../../_resource_/_images_/common/ic_BF_Phone.png") no-repeat left center transparent;
	color : #767676;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_BF_Phone02
{
	background : url("./../../../_resource_/_images_/common/img_BF_Phone01.png") no-repeat left center transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_BF_Time
{
	background : url('./../../../_resource_/_images_/common/ic_BF_Time.png') no-repeat left center transparent;
	color : #767676;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_policyB
{
	border : 1px solid transparent;
	background : transparent;
	color : #fff173;
	font : normal 700 17px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_policy
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	font : normal 400 15px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_moe
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_keris
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_wa
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_Remotely
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	font : normal 500 16px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_Remotely .nexacontentsbox
{
	text-align : center;
}
.Static.sta_BF_UniB02[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common/img_BF_uniB01.png') no-repeat center;
}
.Static.sta_BF_bg[status=mouseover]
{
	border : 1px solid #eaeaea,0px none,0px none;
	background : #f5f5f5;
}
.Static.sta_BF_bgTop[status=mouseover]
{
	border : 1px solid #767676;
	background : #767676;
	border-radius : 30px;
}
.Static.sta_BF_divLine[status=mouseover]
{
	border : 0px none, 0px none, 0px none, 1px solid #d9d9d9;
}
.Static.sta_BF_BI[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common/img_Footer_bi.png') no-repeat left center transparent;
}
.Static.sta_BF_copyright[status=mouseover]
{
	color : #767676;
	font : normal 400 12px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_BF_Phone[status=mouseover]
{
	background : url("./../../../_resource_/_images_/common/ic_BF_Phone.png") no-repeat left center transparent;
	color : #767676;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_BF_Phone02[status=mouseover]
{
	background : url("./../../../_resource_/_images_/common/img_BF_Phone01.png") no-repeat left center transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_BF_Time[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common/ic_BF_Time.png') no-repeat left center transparent;
	color : #767676;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_policyB[status=focused]
{
	border : 1px dashed #ffffff;
}
.Button.btn_BF_policyB[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #fff173;
}
.Button.btn_BF_policyB[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_policy[status=focused]
{
	border : 1px dashed #ffffff;
}
.Button.btn_BF_policy[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
}
.Button.btn_BF_policy[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_moe[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_moe[status=focused]
{
	border : 1px dashed #000000;
}
.Button.btn_BF_keris[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_keris[status=focused]
{
	border : 1px dashed #000000;
}
.Button.btn_BF_wa[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_wa[status=focused]
{
	border : 1px dashed #000000;
}
.Button.btn_BF_Remotely[status=focused]
{
	border : 1px dashed #ffffff;
}
.Button.btn_BF_Remotely[status=mouseover]
{
	background : transparent;
	color : #ffffff;
	font : normal 500 16px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_Remotely[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_policyB[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #fff173;
}
.Button.btn_BF_policyB[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_policy[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
}
.Button.btn_BF_policy[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_moe[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_keris[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_wa[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_Remotely[userstatus=selected]
{
	background : transparent;
	color : #ffffff;
	font : normal 500 16px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_Remotely[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_Remotely[userstatus=pushed]
{
	background : transparent;
	color : #ffffff;
	font : normal 500 16px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_BF_Remotely[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_BF_policyB[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	opacity : 0.4;
}
.Button.btn_BF_policy[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	opacity : 0.4;
}
.Button.btn_BF_moe[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_keris[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_BF_wa[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
