
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Div.div_SA_Box_M
{
	background : #f5f5f5;
	border-radius : 0px;
}
.Div.div_SA_Opacity40_M
{
	background : #000000;
	opacity : 0.4;
}
.Div.div_SA_FAQ_M
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
.CheckBox.chk_Login_Normal
{
	border : 1px solid transparent;
	color : #222222;
}
.Static.sta_SA_Word_M
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	border-radius : 20px;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Static.sta_SA_Word_M .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	white-space : pre;
	word-wrap : normal;
}
.Button.btn_SA_Result
{
	border : 1px solid #d9d9d9;
	background : #fafafa;
	border-radius : 0px;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_SA_ResultS
{
	border : 1px solid #2d73de;
	background : #2d73de;
	border-radius : 0px;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_SA_More_M
{
	border : 2px solid transparent;
	background : url('./images/btn_SA_More_M.png') no-repeat center center #ffffff;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_SA_More_M .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Div.div_SA_Box_M[status=focused]
{
	background : #f5f5f5;
	border-radius : 0px;
}
#nexacontainer .Div.div_SA_Box_M[status=mouseover]
{
	background : #f5f5f5;
	border-radius : 0px;
}
#nexacontainer .Div.div_SA_Opacity40_M[status=focused]
{
	background : #000000;
	opacity : 0.4;
}
#nexacontainer .Div.div_SA_Opacity40_M[status=mouseover]
{
	background : #000000;
	opacity : 0.4;
}
#nexacontainer .Div.div_SA_FAQ_M[status=focused]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Div.div_SA_FAQ_M[status=mouseover]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .CheckBox.chk_Login_Normal[status=readonly]
{
	border : 1px solid transparent;
	color : #222222;
}
#nexacontainer .CheckBox.chk_Login_Normal[status=mouseover]
{
	border : 1px solid transparent;
	color : #222222;
}
#nexacontainer .CheckBox.chk_Login_Normal[status=focused]
{
	border : 1px dashed #222222;
	border-radius : 7px;
}
#nexacontainer .Static.sta_SA_Word_M[status=mouseover]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	border-radius : 20px;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Static.sta_SA_Word_M[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	white-space : pre;
	word-wrap : normal;
}
#nexacontainer .Button.btn_SA_Result[status=focused]
{
	border : 1px solid #222222;
}
#nexacontainer .Button.btn_SA_Result[status=mouseover]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
#nexacontainer .Button.btn_SA_ResultS[status=mouseover]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	border-radius : 0px;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_SA_ResultS[status=focused]
{
	border : 2px solid #222222;
}
#nexacontainer .Button.btn_SA_More_M[status=focused]
{
	border : 2px solid #2d73de;
}
#nexacontainer .Button.btn_SA_More_M[status=mouseover]
{
	border : 2px solid transparent;
	background : url('./images/btn_SA_More_M.png') no-repeat center center #ffffff;
}
#nexacontainer .Button.btn_SA_Result[userstatus=pushed]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
#nexacontainer .Button.v[userstatus=pushed]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	border-radius : 0px;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_SA_More_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : url('./images/btn_SA_More_M.png') no-repeat center center #ffffff;
}
#nexacontainer .CheckBox.chk_Login_Normal[status=disabled]
{
	border : 1px solid transparent;
	color : #222222;
}
#nexacontainer .Button.btn_SA_Result[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #fafafa;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_SA_ResultS[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #fafafa;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_SA_More_M[status=disabled]
{
	border : 2px solid transparent;
	background : url('./images/btn_SA_More_M.png') no-repeat center center #ffffff;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_SA_More_M[status=disabled] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .CheckBox.chk_Login_Normal[status=disabled][userstatus=selected]
{
	border : 1px solid transparent;
	color : #222222;
}
