<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%level]  %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="com.nexacro.build" level="INFO" additivity="false">
			<AppenderRef ref="console" />
		</Logger>

		<Root level="INFO">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>