.Button.NexaIcon_css
{
	border : 0px none;
	background : transparent;
}
.Button.Background_CSS
{
	border : 0px none;
	background : #222222;
	color : #ffffff;
}
.Button.Background_CSS .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
