
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .DatepickerYearItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.MainFrame
{
	font : bold 9px "Malgun Gothic";
}
.TitleBarControl
{
	background : #3A3C43;
}
.TitleBarControl .titleicon
{
	color : #ffffff;
	font : bold 14px "Malgun Gothic";
}
.HScrollBarControl
{
	border : 0px none, 0px none, 0px none, 0px none;
	background : #FCFCFC;
}
.HScrollBarControl .trackbar
{
	background : #74767a;
	border-radius : 10px;
}
.VScrollBarControl
{
	border : 0px none, 0px none, 0px none, 0px none;
	background : #FCFCFC;
}
.VScrollBarControl .trackbar
{
	background : #74767a;
	border-radius : 10px;
}
.Form
{
	background : #ffffff;
}
.Button
{
	border : 1px solid #99A6C3;
	border-radius : 50px;
	color : #4962FF;
	font : 500 20px/28px "Pretendard";
	word-spacing : -1px;
}
.CheckBox
{
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.Combo
{
	border : 1px solid #DBDCDE;
	background : #ffffff;
	border-radius : 10px;
}
.ComboControl
{
	border : 1px solid #DBDCDE;
	background : #ffffff;
	border-radius : 10px;
}
.Combo .comboedit
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.ComboControl .comboedit
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.Edit
{
	border : 1px solid #DBDCDE;
	padding : 0px 0px 0px 16px;
	background : #ffffff;
	border-radius : 10px;
	font : 400 20px/24 "Pretendard";
	letter-spacing : -1px;
}
.EditControl
{
	border : 1px solid #DBDCDE;
	padding : 0px 0px 0px 16px;
	background : #ffffff;
	border-radius : 10px;
	font : 400 20px/24 "Pretendard";
	letter-spacing : -1px;
}
.Grid
{
	border : 2px solid #9FA9BF, 0px none, 2px solid #9FA9BF, 0px none;
	background : #ffffff;
}
.Grid .head
{
	border : 0px none, 0px none, 1px solid #E8EFF5, 0px none;
	background : #DFE3EE;
}
.Grid .head .row .cell
{
	color : #0E1524;
	font : 400 14px "noto","Noto Sans KR Regular";
}
.Grid .head .row .cell .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell
{
	border : 1px solid #E7EBF5, 0px none, 1px solid #E7EBF5, 0px none;
	color : #232A29;
	font : 400 14px "noto","Noto Sans KR Regular";
	background : #FBFCFF;
}
.Grid .body .row .cell .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.grd_WF_Cell02
{
	border : 1px solid #E7EBF5, 0px none, 1px solid #E7EBF5, 0px none;
	color : #232A29;
	font : 400 14px "noto","Noto Sans KR Regular";
	background : #F2F3F9;
}
.Grid .body .row .cell.grd_WF_Cell02 .nexacontentsbox
{
	text-align : center;
}
.ListBox
{
	border : 1px solid #8F98A9;
	background : #ffffff;
	border-radius : 10px;
}
.ListBoxControl
{
	border : 1px solid #8F98A9;
	background : #ffffff;
	border-radius : 10px;
}
.ListBox .listboxitem
{
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.ListBoxControl .listboxitem
{
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.MaskEdit
{
	border : 1px solid #DBDCDE;
	padding : 0px 15px 0px 15px;
	background : #ffffff;
	border-radius : 10px;
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.MaskEditControl
{
	border : 1px solid #DBDCDE;
	padding : 0px 15px 0px 15px;
	background : #ffffff;
	border-radius : 10px;
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.Radio .radioitem
{
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.Static
{
	color : #333D4B;
	font : 400 20px/24px "Pretendard";
	letter-spacing : -1px;
}
.TextArea
{
	border : 1px solid #DBDCDE;
	padding : 10px 15px 10px 15px;
	background : #ffffff;
	border-radius : 10px;
	font : 400 20px/26px "Pretendard";
	letter-spacing : -1px;
}
.TextArea .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea .nexatextarea
{
	-nexa-word-wrap : char;
}
.TextAreaControl
{
	border : 1px solid #DBDCDE;
	padding : 10px 15px 10px 15px;
	background : #ffffff;
	border-radius : 10px;
	font : 400 20px/26px "Pretendard";
	letter-spacing : -1px;
}
.TextAreaControl .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextAreaControl .nexatextarea
{
	-nexa-word-wrap : char;
}
.Button.btn_TF_MenuItemM
{
	border : 0px none;
	border-radius : 10px;
	color : #ffffff;
	font : 500 20px/24px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemMS
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 20px/24px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemS
{
	border : 0px none;
	border-radius : 10px;
	color : #ffffff;
	font : 500 17px/20px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemSS
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 17px/20px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItem02
{
	border : 0px none;
	background : transparent;
	border-radius : 0px;
	color : #ffffff;
	font : 700 30px/36px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItem03
{
	border : 0px none;
	background : #0F132B;
	border-radius : 50px;
	color : #ffffff;
	font : 700 23px/36px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_Logo
{
	border : 0px none;
	background : URL("./images/btn_TF_Logo.svg") transparent;
}
.Button.btn_TF_Menu
{
	border : 0px none;
	background : URL("./images/btn_TF_Menu.svg") transparent;
}
.Button.btn_TF_Close
{
	border : 0px none;
	background : URL("./images/btn_TF_Close.svg") transparent;
}
.Div.div_TF_MenuBackground
{
	border-radius : 10px;
}
.Static.sta_TF_Bar
{
	background : url("./images/sta_TF_Bar.svg") no-repeat left Center;
}
.Button.btn_MF_UXPro
{
	border : 0px none;
	background : url("./images/btn_MF_UXProN.png") no-repeat center center;
	border-radius : 30px;
	color : #ffffff;
	font : 500 18px/26px "Pretendard";
}
.Button.btn_MF_UXPro .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Button.btn_MF_DevPro
{
	border : 0px none;
	background : url("./images/btn_MF_DevProN.png") no-repeat center center;
	border-radius : 30px;
	color : #ffffff;
	font : 500 18px/26px "Pretendard";
}
.Button.btn_MF_DevPro .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Button.btn_MF_ProGen
{
	border : 0px none;
	background : url("./images/btn_MF_ProGenN.png") no-repeat center center;
	border-radius : 30px;
	color : #ffffff;
	font : 500 18px/26px "Pretendard";
}
.Button.btn_MF_ProGen .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Panel.pnl_MF_ConBox
{
	background : #ffffff;
	border-radius : 10px;
	box-shadow : 5px 5px 20px 0px #DFE4EF;
}
.Panel.pnl_MF_ItemBox
{
	border : 1px solid #DBE3F3, 0px none, 1px solid #DBE3F3, 0px none;
}
.Static.sta_MF_ImgTitle
{
	background : url("./images/img_MF_ImgTitle.svg") no-repeat left top;
	color : #000000;
	font : 800 39px/47px "Pretendard";
}
.Static.sta_MF_ImgTitle .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_TitleL
{
	color : #000000;
	font : 800 38px/50px "Pretendard";
}
.Static.sta_MF_TitleL .nexacontentsbox
{
	vertical-align : top;
	text-align : center;
	-nexa-word-wrap : char;
}
.Static.sta_MF_TitleLeftL
{
	color : #000000;
	font : 800 38px/50px "Pretendard";
}
.Static.sta_MF_TitleLeftL .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_TitleWhiteL
{
	color : #ffffff;
	font : 800 38px/50px "Pretendard";
}
.Static.sta_MF_TitleWhiteL .nexacontentsbox
{
	vertical-align : top;
	text-align : center;
	-nexa-word-wrap : char;
}
.Static.sta_MF_TitleWhiteLeftL
{
	color : #ffffff;
	font : 800 38px/50px "Pretendard";
}
.Static.sta_MF_TitleWhiteLeftL .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_TitleM
{
	color : #192332;
	font : 800 32px/38px "Pretendard";
}
.Static.sta_MF_TitleM .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_MF_TitleWhiteM
{
	color : #ffffff;
	font : 800 32px/38px "Pretendard";
}
.Static.sta_MF_TitleWhiteM .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_MF_TitleS
{
	color : #000000;
	font : 800 26px/31px "Pretendard";
}
.Static.sta_MF_TitleS .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_MF_BodyM
{
	color : #4D5B6F;
	font : 500 20px/30px "Pretendard";
}
.Static.sta_MF_BodyM .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_BodyMC
{
	color : #4D5B6F;
	font : 500 20px/30px "Pretendard";
}
.Static.sta_MF_BodyMC .nexacontentsbox
{
	vertical-align : top;
	text-align : center;
}
.Static.sta_MF_BodyWhiteM
{
	color : #ffffff;
	font : 500 20px/30px "Pretendard";
}
.Static.sta_MF_BodyWhiteM .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_BodyGrayM
{
	color : #AEC5E5;
	font : 500 20px/30px "Pretendard";
}
.Static.sta_MF_BodyGrayM .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_BodyS
{
	color : #748192;
	font : 500 16px/24px "Pretendard";
}
.Static.sta_MF_BodyS .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_BodyGrayS
{
	color : #4D5B6F;
	font : 500 16px/24px "Pretendard";
}
.Static.sta_MF_BodyGrayS .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ConBlueR
{
	color : #3671FC;
	font : 400 20px/25px "Pretendard";
}
.Static.sta_MF_ConBlueR .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ConBlueEB
{
	color : #3671FC;
	font : 800 26px/31px "Pretendard";
}
.Static.sta_MF_ConBlueEB .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ItemStep
{
	color : #3671FC;
	font : 800 14px/17px "Pretendard";
}
.Static.sta_MF_ItemStep .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_MF_Caption
{
	color : #5C677B;
	font : 700 16px/20px "Pretendard";
}
.Static.sta_MF_Caption .nexacontentsbox
{
	text-align : center;
}
.Static.sta_MF_Caption02
{
	color : #C2DFFF;
	font : 400 18px/30px "Pretendard";
}
.Static.sta_MF_Caption02 .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_MF_Caption03
{
	color : #9BB5D3;
	font : 400 16px/19px "Pretendard";
}
.Static.sta_MF_Caption03 .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_MF_Caption04
{
	color : #55657A;
	font : 700 16px/19px "Pretendard";
}
.Static.sta_MF_Caption04 .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem
{
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem01
{
	background : url("./images/sta_MF_ServiceItem01.svg") no-repeat left top;
}
.Static.sta_MF_ServiceItem02
{
	background : url("./images/sta_MF_ServiceItem02.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem02 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem03
{
	background : url("./images/sta_MF_ServiceItem03.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem03 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem04
{
	background : url("./images/sta_MF_ServiceItem04.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem04 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem05
{
	background : url("./images/sta_MF_ServiceItem05.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem05 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem06
{
	background : url("./images/sta_MF_ServiceItem06.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem06 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem07
{
	background : url("./images/sta_MF_ServiceItem07.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem07 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem08
{
	background : url("./images/sta_MF_ServiceItem08.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem08 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem09
{
	background : url("./images/sta_MF_ServiceItem09.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem09 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_ServiceItem10
{
	background : url("./images/sta_MF_ServiceItem10.svg") no-repeat left top;
	color : #4D5B6F;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_MF_ServiceItem10 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_MF_Line
{
	border : 0px none, 0px none, 2px solid #34394E, 0px none;
}
.Panel.pnl_WF_ItemBoxWhite
{
	border : 1px solid #ffffff, 0px none, 0px none, 0px none;
}
.Panel.pnl_WF_ProcessBg
{
	background : #F2F5FA;
	border-radius : 20px;
}
.Panel.pnl_WF_ProcessSubBg
{
	background : #E5EBF4;
	border-radius : 10px;
}
.Button.btn_WF_Service
{
	border : 1px solid #DFE1E9;
	background : #FFFFFF;
	border-radius : 50px;
	color : #8F98A9;
	font : 700 30px/36px "Pretendard";
}
.Button.btn_WF_ServiceS
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 700 30px/36px "Pretendard";
}
.Button.btn_WF_Link
{
	border : 0px none;
	background : transparent;
	color : #4D63E4;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Link .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_WF_InputButton
{
	background : #4D63E4;
	border-radius : 10px;
	color : #FFFFFF;
	cursor : pointer;
	font : 700 24px/29px "Pretendard";
}
.Button.btn_WF_Multi
{
	border : 2px solid #DFE1E9;
	background : #FFFFFF;
	border-radius : 50px;
	color : #8F98A9;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_MultiS
{
	border : 2px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Info
{
	border : 0px none, 0px none, 2px solid #C8CEDE, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #C8CEDE;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_InfoS
{
	border : 0px none, 0px none, 2px solid #0E1524, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_FloatingTop
{
	border : 0px none;
	background : url("./images/btn_WF_FloatingTop.svg") no-repeat left top #ffffff;
	border-radius : 50px;
	color : #3D5465;
	box-shadow : 0px 4px 16px 10px rgba(54,98,187,0.1);
}
.Button.btn_WF_FloatingDownload
{
	border : 0px none;
	background : url("./images/btn_WF_FloatingDownload.svg") no-repeat left top #ffffff;
	border-radius : 50px;
	color : #3D5465;
	box-shadow : 0px 4px 16px 10px rgba(54,98,187,0.1);
}
.Button.btn_WF_Drop
{
	border : 0px none;
	background : transparent;
}
.Static.sta_WF_ItemTitleL
{
	font : 600 24px "noto","Noto Sans KR Bold","-apple-system","BlinkMacSystemFont","Roboto","Helvetica","Arial","Apple SD Gothic Neo","sans-serif";
}
.Static.sta_WF_ItemTitleL .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_WF_ItemTitle2L
{
	font : 400 40px/48px "Pretendard";
}
.Static.sta_WF_ItemTitle2L .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_WF_ToolTip
{
	border : 1px solid #BFD1E9;
	background : #ffffff;
	border-radius : 10px;
	color : #3671FC;
	font : 700 20px/24px "Pretendard";
}
.Static.sta_WF_ToolTip .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_ItemSubTitle
{
	border : 0px none, 0px none, 1px solid #93C0FF, 0px none;
	color : #93C0FF;
	font : 400 20px/24px "Pretendard";
}
.Static.sta_WF_ProcessTitle01
{
	background : #779AA8;
	border-radius : 14px;
	color : #ffffff;
	font : 700 20px/24px "Pretendard";
}
.Static.sta_WF_ProcessTitle01 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_ProcessTitle02
{
	background : #6D90BD;
	border-radius : 14px;
	color : #ffffff;
	font : 700 20px/24px "Pretendard";
}
.Static.sta_WF_ProcessTitle02 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_ProcessTitle03
{
	background : #BADCDA;
	border-radius : 14px;
	color : #1D5F5A;
	font : 700 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessTitle04
{
	background : #CADEF2;
	border-radius : 14px;
	color : #24486A;
	font : 700 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessTitle05
{
	background : #97B6D6;
	border-radius : 14px;
	color : #ffffff;
	font : 700 22px/26px "Pretendard";
}
.Static.sta_WF_ProcessTitle05 .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_ProcessSubTitle
{
	background : #ffffff;
	border-radius : 8px;
	color : #72849C;
	font : 700 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessSubTitle .nexacontentsbox
{
	text-align : center;
	-nexa-word-wrap : char;
}
.Static.sta_WF_ProcessSubTitle02
{
	background : URL("./images/sta_WF_ProcessSubTitle02.svg") no-repeat left top transparent;
	color : #246A65;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessSubTitle02 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_WF_ProcessSubTitle03
{
	background : URL("./images/sta_WF_ProcessSubTitle03.svg") no-repeat left top transparent;
	color : #3F6CAF;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessSubTitle03 .nexacontentsbox
{
	vertical-align : top;
	-nexa-word-wrap : char;
}
.Static.sta_WF_ProcessBody
{
	color : #55657A;
	font : 700 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessBody .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_WF_ProcessBody02
{
	color : #72849C;
	font : 500 18px/22px "Pretendard";
}
.Static.sta_WF_ProcessBody02 .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_WF_ProcessCaption
{
	color : #55657A;
	font : 500 16px/19px "Pretendard";
}
.Static.sta_WF_ProcessCaption .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_WF_ProcessCaptionRed
{
	color : #E75F4D;
	font : 500 16px/19px "Pretendard";
}
.Static.sta_WF_ProcessCaptionRed .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_WF_TextCenter
{
	font : 400 24px/29px "Pretendard";
}
.Static.sta_WF_TextCenter .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_Label
{
	border : 1px solid #A8BEE0;
	border-radius : 100px;
	color : #A8BEE0;
	font : 400 15px/24px "Pretendard";
}
.Static.sta_WF_Label .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_TitleLabelGray
{
	background : #B5BFCE;
	border-radius : 100px;
	color : #ffffff;
	font : 400 20px/24px "Pretendard";
}
.Static.sta_WF_TitleLabelGray .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_TitleLabelBlue
{
	background : #2E63E6;
	border-radius : 100px;
	color : #ffffff;
	font : 400 20px/24px "Pretendard";
}
.Static.sta_WF_TitleLabelBlue .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_TitleLabelBlack
{
	background : #2E3443;
	border-radius : 100px;
	color : #ffffff;
	font : 400 20px/24px "Pretendard";
}
.Static.sta_WF_TitleLabelBlack .nexacontentsbox
{
	text-align : center;
}
.Static.sta_WF_EditLabel
{
	font : 400 20px/24px "Pretendard";
}
.Static.sta_WF_EditLabel .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_WF_EditLabelE
{
	background : URL("./images/img_WF_Essential.svg") no-repeat left top transparent;
	font : 400 20px/24px "Pretendard";
}
.Static.sta_WF_EditLabelE .nexacontentsbox
{
	-nexa-word-wrap : char;
	vertical-align : top;
}
.TextArea.txt_WF_policyBody
{
	border : 0px none;
	padding : 0px;
	background : transparent;
	border-radius : 0px;
	font : 400 16px/24px "Pretendard";
}
.Button.btn_POP_Close
{
	border : 0px none;
	background : transparent;
}
.Button.btn_POP_Confirm
{
	border : 1px solid #C8CEDE, 0px none, 0px none, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #4D63E4;
	font : 700 24px/29px "Pretendard";
}
.Static.sta_POP_Title
{
	font : 700 20px/24px "Pretendard";
}
.Static.sta_POP_Text
{
	font : 400 16px/24px "Pretendard";
}
.Static.sta_POP_Text .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_POP_Head
{
	background : #EFF2F9;
	font : 700 16px/20px "Pretendard";
}
.Static.sta_POP_Body
{
	border : 1px solid #EFF2F9;
	background : #FFFFFF;
	font : 400 16px/20px "Pretendard";
}
.Static.sta_POP_AlertText
{
	font : normal 400 20px/24px "Pretendard";
}
.Static.sta_POP_AlertText .nexacontentsbox
{
	text-align : center;
}
.Button.btn_BF_Links
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 16px/28px "Pretendard";
}
.Button.btn_BF_Links_M
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 14px/17px "Pretendard";
}
.Button.btn_BF_LinksB
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 16px/28px "Pretendard";
}
.Button.btn_BF_LinksB_M
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 14px/17px "Pretendard";
}
.Div.div_BF_LineBox
{
	border : 1px solid #606060, 0px none, 0px none, 0px none;
}
.Static.sta_BF_Copyright_M
{
	color : #6F757D;
	font : 500 14px/17px "Pretendard";
}
.Static.sta_BF_Copyright_M .nexacontentsbox
{
	text-align : center;
}
.Static.sta_BF_Copyright
{
	color : #6F757D;
	font : 500 16px/28px "Pretendard";
}
.MainFrame
{
	font : bold 7px "Malgun Gothic";
}
.TitleBarControl[status=deactivate]
{
	background : #3A3C43;
}
.TitleBarControl .titleicon[status=mouseover]
{
	color : #ffffff;
	font : bold 14px "Malgun Gothic";
}
.TitleBarControl .titleicon[status=deactivate]
{
	color : #ffffff;
	font : bold 14px "Malgun Gothic";
}
.HScrollBarControl[status=mouseover]
{
	border : 0px none, 0px none, 0px none, 0px none;
	background : #FCFCFC;
}
.HScrollBarControl .trackbar[status=focused]
{
	background : #74767a;
	border-radius : 10px;
}
.HScrollBarControl .trackbar[status=mouseover]
{
	background : #9c9fa6;
}
.VScrollBarControl[status=mouseover]
{
	border : 0px none, 0px none, 0px none, 0px none;
	background : #FCFCFC;
}
.VScrollBarControl .trackbar[status=focused]
{
	background : #74767a;
	border-radius : 10px;
}
.VScrollBarControl .trackbar[status=mouseover]
{
	background : #9c9fa6;
}
.Button[status=mouseover]
{
	border : 0px none;
	color : #ffffff;
	background : #4962FF;
}
.Button[status=focused]
{
	border : 0px none;
	color : #ffffff;
	background : #4962FF;
}
.Combo[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.Combo[status=focused]
{
	border : 1px solid #8F98A9;
}
.ComboControl[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.ComboControl[status=focused]
{
	border : 1px solid #8F98A9;
}
.Combo .comboedit[status=mouseover]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.Combo .comboedit[status=focused]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.ComboControl .comboedit[status=mouseover]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.ComboControl .comboedit[status=focused]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.Edit[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.Edit[status=focused]
{
	border : 1px solid #8F98A9;
}
.EditControl[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.EditControl[status=focused]
{
	border : 1px solid #8F98A9;
}
.Grid .body .row .cell[status=mouseover]
{
	border : 1px solid #E7EBF5, 0px none, 1px solid #E7EBF5, 0px none;
	color : #232A29;
	font : 400 14px "noto","Noto Sans KR Regular";
	background : #FBFCFF;
}
.Grid .body .row .cell[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.grd_WF_Cell02[status=mouseover]
{
	border : 1px solid #E7EBF5, 0px none, 1px solid #E7EBF5, 0px none;
	color : #232A29;
	font : 400 14px "noto","Noto Sans KR Regular";
	background : #F2F3F9;
}
.Grid .body .row .cell.grd_WF_Cell02[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.ListBox[status=mouseover]
{
	border : 1px solid #8F98A9;
	background : #ffffff;
	border-radius : 10px;
}
.ListBox[status=focused]
{
	border : 1px solid #8F98A9;
	background : #ffffff;
	border-radius : 10px;
}
.ListBoxControl[status=mouseover]
{
	border : 1px solid #8F98A9;
	background : #ffffff;
	border-radius : 10px;
}
.ListBoxControl[status=focused]
{
	border : 1px solid #8F98A9;
	background : #ffffff;
	border-radius : 10px;
}
.ListBox .listboxitem[status=mouseover]
{
	background : #F2F5FF;
}
.ListBoxControl .listboxitem[status=mouseover]
{
	background : #F2F5FF;
}
.ListBox .listboxitem[status=focused]
{
	background : #D5DBFF;
}
.ListBoxControl .listboxitem[status=focused]
{
	background : #D5DBFF;
}
.MaskEdit[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.MaskEdit[status=focused]
{
	border : 1px solid #8F98A9;
}
.MaskEditControl[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.MaskEditControl[status=focused]
{
	border : 1px solid #8F98A9;
}
.TextArea[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.TextArea[status=mouseover] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea[status=mouseover] .nexatextarea
{
	-nexa-word-wrap : char;
}
.TextArea[status=focused]
{
	border : 1px solid #8F98A9;
}
.TextArea[status=focused] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextArea[status=focused] .nexatextarea
{
	-nexa-word-wrap : char;
}
.TextAreaControl[status=mouseover]
{
	border : 1px solid #8F98A9;
}
.TextAreaControl[status=mouseover] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextAreaControl[status=mouseover] .nexatextarea
{
	-nexa-word-wrap : char;
}
.TextAreaControl[status=focused]
{
	border : 1px solid #8F98A9;
}
.TextAreaControl[status=focused] .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.TextAreaControl[status=focused] .nexatextarea
{
	-nexa-word-wrap : char;
}
.Button.btn_TF_MenuItemM[status=mouseover]
{
	border : 0px none;
	color : #ffffff;
	background : rgba(51,59,74,0.5);
}
.Button.btn_TF_MenuItemM[status=focused]
{
	border : 0px none;
	color : #ffffff;
	background : rgba(51,59,74,0.5);
}
.Button.btn_TF_MenuItemMS[status=mouseover]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 20px/24px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemMS[status=focused]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 20px/24px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemS[status=mouseover]
{
	border : 0px none;
	color : #ffffff;
	background : rgba(51,59,74,0.5);
}
.Button.btn_TF_MenuItemS[status=focused]
{
	border : 0px none;
	color : #ffffff;
	background : rgba(51,59,74,0.5);
}
.Button.btn_TF_MenuItemSS[status=mouseover]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 17px/20px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemSS[status=focused]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 17px/20px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItem02[status=mouseover]
{
	border : 0px none;
	background : transparent;
	border-radius : 0px;
	color : #ffffff;
	font : 700 30px/36px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItem02[status=focused]
{
	color : #ffffff;
	background : #7E899D;
}
.Button.btn_TF_MenuItem03[status=focused]
{
	border : 0px none;
	background : #0F132B;
	border-radius : 50px;
	color : #ffffff;
	font : 700 23px/36px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItem03[status=mouseover]
{
	color : #ffffff;
	background : #1958EB;
}
.Button.btn_TF_Logo[status=mouseover]
{
	border : 0px none;
	background : URL("./images/btn_TF_Logo.svg") transparent;
}
.Button.btn_TF_Logo[status=focused]
{
	border : 0px none;
	background : URL("./images/btn_TF_Logo.svg") transparent;
}
.Button.btn_TF_Menu[status=mouseover]
{
	border : 0px none;
	background : URL("./images/btn_TF_Menu.svg") transparent;
}
.Button.btn_TF_Menu[status=focused]
{
	border : 0px none;
	background : URL("./images/btn_TF_Menu.svg") transparent;
}
.Button.btn_TF_Close[status=mouseover]
{
	border : 0px none;
	background : URL("./images/btn_TF_Close.svg") transparent;
}
.Button.btn_TF_Close[status=focused]
{
	border : 0px none;
	background : URL("./images/btn_TF_Close.svg") transparent;
}
.Button.btn_MF_UXPro[status=mouseover]
{
	background : url("./images/btn_MF_UXProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_UXPro[status=focused]
{
	background : url("./images/btn_MF_UXProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_DevPro[status=mouseover]
{
	background : url("./images/btn_MF_DevProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_DevPro[status=focused]
{
	background : url("./images/btn_MF_DevProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_ProGen[status=mouseover]
{
	background : url("./images/btn_MF_ProGenO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_ProGen[status=focused]
{
	background : url("./images/btn_MF_ProGenO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_WF_Service[status=mouseover]
{
	border : 1px solid #4D63E4;
	background : #FFFFFF;
	color : #161C29;
}
.Button..Button.btn_WF_Service[status=focused]
{
	border : 1px solid #4D63E4;
	background : #FFFFFF;
	color : #161C29;
}
.Button.btn_WF_ServiceS[status=mouseover]
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 700 30px/36px "Pretendard";
}
.Button.btn_WF_ServiceS[status=focused]
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 700 30px/36px "Pretendard";
}
.Button.btn_WF_Link[status=mouseover]
{
	border : 0px none;
	background : transparent;
	color : #4D63E4;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Link[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_WF_Link[status=focused]
{
	border : 0px none;
	background : transparent;
	color : #262FAF;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Link[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_WF_InputButton[status=mouseover]
{
	background : #3E48D5;
}
.Button.btn_WF_InputButton[status=focused]
{
	background : #3E48D5;
}
.Button.btn_WF_Multi[status=mouseover]
{
	border : 2px solid #C7CBD4;
	background : #FFFFFF;
	border-radius : 50px;
	color : #8F98A9;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Multi[status=focused]
{
	border : 2px solid #C7CBD4;
	background : #FFFFFF;
	border-radius : 50px;
	color : #8F98A9;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_MultiS[status=mouseover]
{
	border : 2px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_MultiS[status=focused]
{
	border : 2px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Info[status=mouseover]
{
	border : 0px none, 0px none, 2px solid #C8CEDE, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_Info[status=focused]
{
	border : 0px none, 0px none, 2px solid #C8CEDE, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_InfoS[status=mouseover]
{
	border : 0px none, 0px none, 2px solid #0E1524, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_InfoS[status=focused]
{
	border : 0px none, 0px none, 2px solid #0E1524, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_FloatingTop[status=focused]
{
	border : 0px none;
	background : url("./images/btn_WF_FloatingTop.svg") no-repeat left top #ffffff;
	border-radius : 50px;
	color : #3D5465;
	box-shadow : 0px 4px 16px 10px rgba(54,98,187,0.1);
}
.Button.btn_WF_FloatingTop[status=mouseover]
{
	border : 0px none;
	background : url("./images/btn_WF_FloatingTopS.svg") no-repeat left top #4962FF;
	color : #ffffff;
}
.Button.btn_WF_FloatingDownload[status=focused]
{
	border : 0px none;
	background : url("./images/btn_WF_FloatingDownload.svg") no-repeat left top #ffffff;
	border-radius : 50px;
	color : #3D5465;
	box-shadow : 0px 4px 16px 10px rgba(54,98,187,0.1);
}
.Button.btn_WF_FloatingDownload[status=mouseover]
{
	border : 0px none;
	background : url("./images/btn_WF_FloatingDownloadS.svg") no-repeat left top #4962FF;
	color : #ffffff;
}
.Button.btn_WF_Drop[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_Drop[status=focused]
{
	border : 0px none;
	background : transparent;
}
.TextArea.txt_WF_policyBody[status=mouseover]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
	border-radius : 0px;
	font : 400 16px/24px "Pretendard";
}
.TextArea.txt_WF_policyBody[status=focused]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
	border-radius : 0px;
	font : 400 16px/24px "Pretendard";
}
.TextArea.txt_WF_policyBody[status=readonly]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
	border-radius : 0px;
	font : 400 16px/24px "Pretendard";
}
.Button.btn_POP_Close[status=mouseover]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_POP_Close[status=focused]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_POP_Confirm[status=mouseover]
{
	border : 1px solid #C8CEDE, 0px none, 0px none, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #4D63E4;
	font : 700 24px/29px "Pretendard";
}
.Button.btn_POP_Confirm[status=focused]
{
	border : 1px solid #C8CEDE, 0px none, 0px none, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #4D63E4;
	font : 700 24px/29px "Pretendard";
}
.Button.btn_BF_Links[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 16px/28px "Pretendard";
}
.Button.btn_BF_Links[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 16px/28px "Pretendard";
}
.Button.btn_BF_Links_M[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 14px/17px "Pretendard";
}
.Button.btn_BF_Links_M[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 14px/17px "Pretendard";
}
.Button.btn_BF_LinksB[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 16px/28px "Pretendard";
}
.Button.btn_BF_LinksB[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 16px/28px "Pretendard";
}
.Button.btn_BF_LinksB_M[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 14px/17px "Pretendard";
}
.Button.btn_BF_LinksB_M[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 14px/17px "Pretendard";
}
.HScrollBarControl .trackbar[userstatus=pushed]
{
	background : #5b5d61;
}
.HScrollBarControl .trackbar[userstatus=selected]
{
	background : #5b5d61;
}
.VScrollBarControl .trackbar[userstatus=pushed]
{
	background : #5b5d61;
}
.VScrollBarControl .trackbar[userstatus=selected]
{
	background : #5b5d61;
}
.Form[userstatus=contents]
{
	background : transparent;
}
.Button[userstatus=selected]
{
	background : #374EE7;
}
.Button[userstatus=pushed]
{
	background : #374EE7;
}
.Combo .comboedit[userstatus=nulltext]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.ComboControl .comboedit[userstatus=nulltext]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.Edit[userstatus=nulltext]
{
	color : #C3C4C8;
}
.EditControl[userstatus=nulltext]
{
	color : #C3C4C8;
}
.Grid .body .row .cell[userstatus=selected]
{
	border : 1px solid #E7EBF5, 0px none, 1px solid #E7EBF5, 0px none;
	color : #232A29;
	font : 400 14px "noto","Noto Sans KR Regular";
	background : #FBFCFF;
}
.Grid .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.grd_WF_Cell02[userstatus=selected]
{
	border : 1px solid #E7EBF5, 0px none, 1px solid #E7EBF5, 0px none;
	color : #232A29;
	font : 400 14px "noto","Noto Sans KR Regular";
	background : #F2F3F9;
}
.Grid .body .row .cell.grd_WF_Cell02[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.ListBox .listboxitem[userstatus=selected]
{
	background : #D5DBFF;
}
.ListBoxControl .listboxitem[userstatus=selected]
{
	background : #D5DBFF;
}
.MaskEdit[userstatus=nulltext]
{
	color : #C3C4C8;
}
.MaskEditControl[userstatus=nulltext]
{
	color : #C3C4C8;
}
.TextArea[userstatus=nulltext]
{
	color : #C3C4C8;
}
.TextAreaControl[userstatus=nulltext]
{
	color : #C3C4C8;
}
.Button.btn_TF_MenuItemM[userstatus=selected]
{
	background : #333B4A;
}
.Button.btn_TF_MenuItemM[userstatus=pushed]
{
	background : #333B4A;
}
.Button.btn_TF_MenuItemMS[userstatus=pushed]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 20px/24px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemMS[userstatus=selected]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 20px/24px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemS[userstatus=selected]
{
	background : #333B4A;
}
.Button.btn_TF_MenuItemS[userstatus=pushed]
{
	background : #333B4A;
}
.Button.btn_TF_MenuItemSS[userstatus=pushed]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 17px/20px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItemSS[userstatus=selected]
{
	border : 0px none;
	background : #333B4A;
	border-radius : 10px;
	color : #ffffff;
	font : 500 17px/20px "Pretendard";
	word-spacing : -1px;
}
.Button.btn_TF_MenuItem02[userstatus=selected]
{
	color : #ffffff;
	background : #7E899D;
}
.Button.btn_TF_MenuItem02[userstatus=pushed]
{
	color : #ffffff;
	background : #7E899D;
}
.Button.btn_TF_MenuItem03[userstatus=selected]
{
	color : #ffffff;
	background : #1958EB;
}
.Button.btn_TF_MenuItem03[userstatus=pushed]
{
	color : #ffffff;
	background : #1958EB;
}
.Button.btn_TF_Logo[userstatus=selected]
{
	border : 0px none;
	background : URL("./images/btn_TF_Logo.svg") transparent;
}
.Button.btn_TF_Logo[userstatus=pushed]
{
	border : 0px none;
	background : URL("./images/btn_TF_Logo.svg") transparent;
}
.Button.btn_TF_Menu[userstatus=selected]
{
	border : 0px none;
	background : URL("./images/btn_TF_Menu.svg") transparent;
}
.Button.btn_TF_Menu[userstatus=pushed]
{
	border : 0px none;
	background : URL("./images/btn_TF_Menu.svg") transparent;
}
.Button.btn_TF_Close[userstatus=selected]
{
	border : 0px none;
	background : URL("./images/btn_TF_Close.svg") transparent;
}
.Button.btn_TF_Close[userstatus=pushed]
{
	border : 0px none;
	background : URL("./images/btn_TF_Close.svg") transparent;
}
.Button.btn_MF_UXPro[userstatus=pushed]
{
	background : url("./images/btn_MF_UXProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_UXPro[userstatus=selected]
{
	background : url("./images/btn_MF_UXProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_DevPro[userstatus=pushed]
{
	background : url("./images/btn_MF_DevProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_DevPro[userstatus=selected]
{
	background : url("./images/btn_MF_DevProO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_ProGen[userstatus=pushed]
{
	background : url("./images/btn_MF_ProGenO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_MF_ProGen[userstatus=selected]
{
	background : url("./images/btn_MF_ProGenO.png") no-repeat center center;
	color : #A5C1E8;
}
.Button.btn_WF_Service[userstatus=pushed]
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	color : #FFFFFF;
}
.Button.btn_WF_Service[userstatus=selected]
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	color : #FFFFFF;
}
.Button.btn_WF_ServiceS[userstatus=pushed]
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 700 30px/36px "Pretendard";
}
.Button.btn_WF_ServiceS[userstatus=selected]
{
	border : 1px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 700 30px/36px "Pretendard";
}
.Button.btn_WF_Link[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #4D63E4;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Link[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_WF_Link[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : #4D63E4;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Link[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_WF_InputButton[userstatus=pushed]
{
	background : #3E48D5;
}
.Button.btn_WF_InputButton[userstatus=selected]
{
	background : #3E48D5;
}
.Button.btn_WF_Multi[userstatus=pushed]
{
	border : 2px solid #DFE1E9;
	background : #FFFFFF;
	border-radius : 50px;
	color : #8F98A9;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Multi[userstatus=selected]
{
	border : 2px solid #DFE1E9;
	background : #FFFFFF;
	border-radius : 50px;
	color : #8F98A9;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_MultiS[userstatus=pushed]
{
	border : 2px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_MultiS[userstatus=selected]
{
	border : 2px solid #4D63E4;
	background : #4D63E4;
	border-radius : 50px;
	color : #FFFFFF;
	font : 400 20px/24px "Pretendard";
}
.Button.btn_WF_Info[userstatus=pushed]
{
	border : 0px none, 0px none, 2px solid #C8CEDE, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #C8CEDE;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_Info[userstatus=selected]
{
	border : 0px none, 0px none, 2px solid #C8CEDE, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #C8CEDE;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_InfoS[userstatus=pushed]
{
	border : 0px none, 0px none, 2px solid #0E1524, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_InfoS[userstatus=selected]
{
	border : 0px none, 0px none, 2px solid #0E1524, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #0E1524;
	font : 700 18px/22px "Pretendard";
}
.Button.btn_WF_FloatingTop[userstatus=selected]
{
	background : url("./images/btn_WF_FloatingTopS.svg") no-repeat left top #374EE7;
}
.Button.btn_WF_FloatingTop[userstatus=pushed]
{
	background : url("./images/btn_WF_FloatingTopS.svg") no-repeat left top #374EE7;
}
.Button.btn_WF_FloatingDownload[userstatus=selected]
{
	background : url("./images/btn_WF_FloatingDownloadS.svg") no-repeat left top #374EE7;
}
.Button.btn_WF_FloatingDownload[userstatus=pushed]
{
	background : url("./images/btn_WF_FloatingDownloadS.svg") no-repeat left top #374EE7;
}
.Button.btn_WF_Drop[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_WF_Drop[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.TextArea.txt_WF_policyBody[userstatus=nulltext]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
	border-radius : 0px;
	font : 400 16px/24px "Pretendard";
}
.Button.btn_POP_Close[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_POP_Close[userstatus=selected]
{
	border : 0px none;
	background : transparent;
}
.Button.btn_POP_Confirm[userstatus=pushed]
{
	border : 1px solid #C8CEDE, 0px none, 0px none, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #4D63E4;
	font : 700 24px/29px "Pretendard";
}
.Button.btn_POP_Confirm[userstatus=selected]
{
	border : 1px solid #C8CEDE, 0px none, 0px none, 0px none;
	background : transparent;
	border-radius : 0px;
	color : #4D63E4;
	font : 700 24px/29px "Pretendard";
}
.Button.btn_BF_Links[userstatus=selected]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 16px/28px "Pretendard";
}
.Button.btn_BF_Links[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 16px/28px "Pretendard";
}
.Button.btn_BF_Links_M[userstatus=selected]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 14px/17px "Pretendard";
}
.Button.btn_BF_Links_M[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 500 14px/17px "Pretendard";
}
.Button.btn_BF_LinksB[userstatus=selected]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 16px/28px "Pretendard";
}
.Button.btn_BF_LinksB[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 16px/28px "Pretendard";
}
.Button.btn_BF_LinksB_M[userstatus=selected]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 14px/17px "Pretendard";
}
.Button.btn_BF_LinksB_M[userstatus=pushed]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
	color : #6F757D;
	font : 700 14px/17px "Pretendard";
}
.TitleBarControl[status=disabled]
{
	background : #3A3C43;
}
.TitleBarControl .titleicon[status=disabled]
{
	color : #ffffff;
	font : bold 14px "Malgun Gothic";
}
.HScrollBarControl[status=disabled]
{
	border : 0px none, 0px none, 0px none, 0px none;
	background : #FCFCFC;
}
.HScrollBarControl .decbutton[status=disabled]
{
	opacity : 0.3;
}
.HScrollBarControl .incbutton[status=disabled]
{
	opacity : 0.3;
}
.HScrollBarControl .trackbar[status=disabled]
{
	opacity : 0.1;
}
.VScrollBarControl[status=disabled]
{
	border : 0px none, 0px none, 0px none, 0px none;
	background : #FCFCFC;
}
.VScrollBarControl .decbutton[status=disabled]
{
	opacity : 0.3;
}
.VScrollBarControl .incbutton[status=disabled]
{
	opacity : 0.3;
}
.VScrollBarControl .trackbar[status=disabled]
{
	opacity : 0.1;
}
.Combo[status=disabled]
{
	opacity : 0.5;
}
.ComboControl[status=disabled]
{
	opacity : 0.5;
}
.Combo .comboedit[status=disabled]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.ComboControl .comboedit[status=disabled]
{
	border : 0px none;
	padding : 0px 0px 0px 16px;
}
.Edit[status=disabled]
{
	opacity : 0.5;
}
.EditControl[status=disabled]
{
	opacity : 0.5;
}
.MaskEdit[status=disabled]
{
	opacity : 0.5;
}
.MaskEditControl[status=disabled]
{
	opacity : 0.5;
}
.TextArea[status=disabled]
{
	opacity : 0.5;
}
.TextAreaControl[status=disabled]
{
	opacity : 0.5;
}
.Button.btn_WF_InputButton[status=disabled]
{
	opacity : 0.5;
}
.Button.btn_WF_Drop[status=disabled]
{
	border : 0px none;
	background : transparent;
}
.TextArea.txt_WF_policyBody[status=disabled]
{
	border : 0px none;
	padding : 0px;
	background : transparent;
	border-radius : 0px;
	font : 400 16px/24px "Pretendard";
}
