@font-face {
  font-family: "Spoqa Han Sans Neo Regular";
  font-style: normal;
  font-size: 12px;
  font-weight: 400;
  src: local("SpoqaHanSansNeo-Regular");
  src: url("http://172.10.12.45:9090/font_face/_font_/SpoqaHanSansNeo-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Spoqa Han Sans Neo Medium";
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  src: local("SpoqaHanSansNeo-Medium");
  src: url("http://172.10.12.45:9090/font_face/_font_/SpoqaHanSansNeo-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "Spoqa Han Sans Neo Bold";
  font-style: normal;
  font-size: 12px;
  font-weight: 700;
  src: local("SpoqaHanSansNeo-Bold");
  src: url("http://172.10.12.45:9090/font_face/_font_/SpoqaHanSansNeo-Bold.otf")
    format("opentype");
}
