
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Div.div_top_M
{
	border : 2px solid #ffffff, 0px none, 2px solid #eaeaea;
	background : #ffffff;
}
.Static.sta_Top_logo_M
{
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat left center transparent;
	cursor : pointer;
}
.ImageViewer.imv_Top_logoW_M
{
	border : 1px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
.Button.btn_Top_sitemap_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_search_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_close_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Div.div_top_M[status=focused]
{
	border : 2px solid #ffffff, 0px none, 2px solid #eaeaea;
	background : #ffffff;
}
.Div.div_top_M[status=mouseover]
{
	border : 2px solid #ffffff, 0px none, 2px solid #eaeaea;
	background : #ffffff;
}
.Static.sta_Top_logo_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat left center transparent;
	cursor : pointer;
}
.ImageViewer.imv_Top_logoW_M[status=mouseover]
{
	border : 1px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
.ImageViewer.imv_Top_logoW_M[status=focused]
{
	border : 1px dashed #ffffff;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
.Button.btn_Top_sitemap_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_sitemap_M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_Top_search_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_search_M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_Top_close_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_close_M[status=focused]
{
	border : 2px dashed #000000;
}
.Button.btn_Top_sitemap_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_search_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_close_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.ImageViewer.imv_Top_logoW_M[status=disabled]
{
	border : 1px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/img_GNB_neisCI.png') no-repeat center center transparent;
}
.Button.btn_Top_sitemap_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_search_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
.Button.btn_Top_close_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 10px;
}
