
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.ImageViewer.font20B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font20B_C .imagetext
{
	letter-spacing : -1px;
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font20B_C .imagetext .nexacontentsbox
{
	text-align : center;
}
.ImageViewer.display
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Static.sta_guide_title
{
	background : url('./../../../_resource_/_images_/webGuide/ico_WF_SubTitle.png') no-repeat left top;
	color : #555555;
	font : normal 700 16px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_title .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_guide_subTitle
{
	background : url("./../../../_resource_/_images_/webGuide/ico_WF_GridTitle.png") no-repeat left top;
	color : #2a8800;
	font : normal 400 16px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_subTitle .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_guide_font14R
{
	color : #666666;
	font : normal 400 14px/19px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_font14R .nexacontentsbox
{
	vertical-align : top;
}
.Static.sta_guide_Hline
{
	border : 1px solid #d5d8e1, 0px none, 0px none;
}
.Static.sta_guide_Vline
{
	border : 0px none,1px solid #bcbcbc,0px none,0px none;
}
.Static.sta_guide_detailLabel_17R
{
	border : 1px solid #d2d2d2;
	color : #333333;
	background : #f5f5f5;
	font : normal 400 17px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_detailLabel_17R .nexacontentsbox
{
	text-align : center;
}
.Static.sta_guide_detailLabel_14B
{
	border : 1px solid #d7d7d7;
	background : #f9f9f9;
	color : #555555;
	font : normal 700 14px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_detailBg
{
	border : 1px solid #d7d7d7;
	background : #ffffff;
	font : normal 400 14px/19px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_detailBg .nexacontentsbox
{
	-nexa-word-wrap : char;
}
.Static.sta_guide_note
{
	border : 1px solid #d7d7d7;
	background : url("./../../../_resource_/_images_/webGuide/ico_WF_Notice.png") no-repeat left center #f9f9f9;
	color : #288000;
	font : normal 400 14px/24px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_note .nexacontentsbox
{
	vertical-align : middle;
}
.Button.btn_Pop_yes
{
	border : 1px solid #222222;
	background : #222222;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font20B_C[status=mouseover]
{
	border : 1px solid transparent;
}
.ImageViewer.font20B_C[status=focused]
{
	border : 1px dashed #000000;
}
.ImageViewer.display[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.ImageViewer.display[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Button.btn_Pop_yes[status=focused]
{
	border : 1px dashed #ffffff;
}
.Button.btn_Pop_yes[status=mouseover]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
.Button.btn_Pop_yes[userstatus=pushed]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
.ImageViewer.font20B_C[status=disabled]
{
	border : 1px solid transparent;
}
.ImageViewer.display[status=disabled]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Button.btn_Pop_yes[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #d9d9d9;
	color : #ffffff;
}
