
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Form.frm_Pop_bg40
{
	background : rgba(0,0,0,0.4);
}
.Div.div_Pop_menuGroup
{
	background : #ffffff;
}
.Div.div_Pop_menuSub
{
	background : #f7f7f7;
}
.Button.btn_Pop_menu_lev0
{
	border : 2px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_N.png') no-repeat right center #ffffff;
	border-radius : 0px;
	color : #000000;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_Pop_menu_lev0 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_Pop_menu_lev0_subNone
{
	border : 2px solid transparent;
	background : #ffffff;
	border-radius : 0px;
	color : #000000;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_Pop_menu_lev0_subNone .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_Pop_menu_lev0_S
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_S.png') no-repeat right center #ffffff;
	color : #2b72de;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_Pop_menu_lev0_S .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_Pop_menu_lev1
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : transparent;
	color : #444444;
	font : normal 400 30px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_lev1 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_Pop_menu_serviceLink1
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink1 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink2
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink2 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink3
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink3 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink4
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink4 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink5
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink5 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink6
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink6 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink7
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink7 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_menu_serviceLink8
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : transparent;
	color : #222222;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_Pop_menu_serviceLink8 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_Pop_no_M
{
	border : 2px solid #d9d9d9;
	border-radius : 16px;
	background : #ffffff;
	color : #222222;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_Pop_yes_M
{
	border : 2px solid #222222;
	border-radius : 16px;
	background : #222222;
	color : #ffffff;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_Pop_yes01_M
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : #2b72de;
	color : #ffffff;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Pop_noticeLink_M
{
	border : 2px solid transparent;
	border-radius : 16px;
	background : #2b72de;
	color : #ffffff;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.MaskEdit.display_font26
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.MaskEdit.display_font26 .nexainput
{
	padding : 0px 8px 1px;
	text-align : left;
}
.MaskEdit.display_font26 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Div.div_Pop_shadowBox_C_M
{
	border-radius : 14px;
	background : #ffffff;
	box-shadow : 0px 30px 30px 0px rgba(0,0,0,0.1);
}
.Button.btn_pop_close_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 18px;
}
.Button.btn_Pop_close_W_M
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
.Button.btn_Pop_close2_W_M
{
	border : 2px solid transparent;
	border-radius : 14px;
	background : transparent;
}
.Button.btn_pop_search_M
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
.Edit.edt_GNB_search_M
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #000000;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Edit.edt_GNB_search_M .nexainput
{
	padding : 0px 28px 1px 28px;
}
.Static.sta_GNB_bg_M
{
	background : #ffffff;
	box-shadow : 0px 30px 30px 0px rgba(0,0,0,0.15);
}
.Static.sta_Notice_bg_M
{
	background : #f5f5f5;
	border-radius : 20px;
}
.Static.sta_Notice_bg01_M
{
	background : #2b72de;
	border-radius : 50px;
	color : #ffffff;
	font : normal 400 22px "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_Notice_bg01_M .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Static.sta_GNB_line_M
{
	border-top : 2px solid #222222;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
.Button.btn_GNB_txtLink_M
{
	border : 2px solid #eaeaea;
	border-radius : 25px;
	background : #ffffff;
	color : #444444;
	font : normal 500 24px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Button.btn_GNB_txtLink_M .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Button.btn_POP_UserCombo_M
{
	border : 2px solid #2b72de;
	border-radius : 16px;
	background : #ffffff;
	color : #2b72de;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Bold";
}
#nexacontainer .Form.frm_Pop_bg40[status=focused]
{
	background : rgba(0,0,0,0.4);
}
#nexacontainer .Form.frm_Pop_bg40[status=mouseover]
{
	background : rgba(0,0,0,0.4);
}
#nexacontainer .Div.div_Pop_menuGroup[status=focused]
{
	background : #ffffff;
}
#nexacontainer .Div.div_Pop_menuGroup[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Div.div_Pop_menuSub[status=focused]
{
	background : #f7f7f7;
}
#nexacontainer .Div.div_Pop_menuSub[status=mouseover]
{
	background : #f7f7f7;
}
#nexacontainer .Button.btn_Pop_menu_lev0[status=focused]
{
	border : 2px dashed #000000;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_N.png') no-repeat right center #ffffff;
}
#nexacontainer .Button.btn_Pop_menu_lev0[status=mouseover]
{
	border : 2px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_S.png') no-repeat right center #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_Pop_menu_lev0_subNone[status=focused]
{
	border : 2px dashed #000000;
	background : #ffffff;
}
#nexacontainer .Button.btn_Pop_menu_lev0_subNone[status=mouseover]
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_Pop_menu_lev0_S[status=mouseover]
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_S.png') no-repeat right center #ffffff;
	color : #2b72de;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium";
}
#nexacontainer .Button.btn_Pop_menu_lev0_S[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_Pop_menu_lev0_S[status=focused]
{
	border : 2px dashed #000000;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_S.png') no-repeat right center #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_Pop_menu_lev1[status=focused]
{
	border : 2px dashed #000000;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_lev1[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink1[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink1[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink1[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink2[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink2[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink2[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink3[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink3[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink3[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink4[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink4[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink4[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink5[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink5[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink5[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink6[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink6[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink6[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink7[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink7[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink7[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink8[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink8[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink8[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_no_M[status=focused]
{
	border : 2px solid #222222;
}
#nexacontainer .Button.btn_Pop_no_M[status=mouseover]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	color : #222222;
}
#nexacontainer .Button.btn_Pop_yes_M[status=focused]
{
	border : 2px dashed #ffffff;
}
#nexacontainer .Button.btn_Pop_yes_M[status=mouseover]
{
	border : 2px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes01_M[status=focused]
{
	border : 2px solid #000000;
}
#nexacontainer .Button.btn_Pop_yes01_M[status=mouseover]
{
	background : #1A56B2;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_noticeLink_M[status=focused]
{
	border : 2px solid #000000;
}
#nexacontainer .Button.btn_Pop_noticeLink_M[status=mouseover]
{
	background : #1A56B2;
	color : #ffffff;
}
#nexacontainer .MaskEdit.display_font26[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font26[status=mouseover] .nexainput
{
	padding : 0px 8px 1px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font26[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .MaskEdit.display_font26[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font26[status=focused] .nexainput
{
	padding : 0px 8px 1px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font26[status=focused] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .MaskEdit.display_font26[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font26[status=readonly] .nexainput
{
	padding : 0px 8px 1px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font26[status=readonly] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Div.div_Pop_shadowBox_C_M[status=focused]
{
	border-radius : 14px;
	background : #ffffff;
	box-shadow : 0px 30px 30px 0px rgba(0,0,0,0.1);
}
#nexacontainer .Div.div_Pop_shadowBox_C_M[status=mouseover]
{
	border-radius : 14px;
	background : #ffffff;
	box-shadow : 0px 30px 30px 0px rgba(0,0,0,0.1);
}
#nexacontainer .Button.btn_pop_close_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 18px;
}
#nexacontainer .Button.btn_pop_close_M[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_Pop_close_W_M[status=mouseover]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_close_W_M[status=focused]
{
	border : 2px dashed #ffffff;
}
#nexacontainer .Button.btn_Pop_close2_W_M[status=mouseover]
{
	border : 2px solid transparent;
	border-radius : 14px;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_close2_W_M[status=focused]
{
	border : 2px dashed #ffffff;
}
#nexacontainer .Button.btn_pop_search_M[status=mouseover]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
#nexacontainer .Button.btn_pop_search_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Edit.edt_GNB_search_M[status=mouseover]
{
	border : 2px solid #ffffff;
}
#nexacontainer .Edit.edt_GNB_search_M[status=focused]
{
	border : 2px solid #ffffff;
}
#nexacontainer .Edit.edt_GNB_search_M[status=readonly]
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #000000;
}
#nexacontainer .Static.sta_GNB_bg_M[status=mouseover]
{
	background : #ffffff;
	box-shadow : 0px 30px 30px 0px rgba(0,0,0,0.15);
}
#nexacontainer .Static.sta_Notice_bg_M[status=mouseover]
{
	background : #f5f5f5;
	border-radius : 20px;
}
#nexacontainer .Static.sta_Notice_bg01_M[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Static.sta_Notice_bg01_M[status=mouseover]
{
	background : #2b72de;
	border-radius : 50px;
	color : #ffffff;
	font : normal 400 22px "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.sta_GNB_line_M[status=mouseover]
{
	border-top : 2px solid #222222;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
#nexacontainer .Button.btn_GNB_txtLink_M[status=mouseover]
{
	border : 2px solid #2b72de;
	background : #2b72de;
	color : #ffffff;
}
#nexacontainer .Button.btn_GNB_txtLink_M[status=focused]
{
	border : 2px solid #2b72de;
	background : #2b72de;
	color : #ffffff;
}
#nexacontainer .Button.btn_POP_UserCombo_M[status=mouseover]
{
	border : 2px solid #2b72de;
	border-radius : 16px;
	background : #ffffff;
	color : #2b72de;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Bold";
}
#nexacontainer .Button.btn_POP_UserCombo_M[status=focused]
{
	border : 2px solid #2b72de;
	font : normal 700 28px/normal "Noto Sans KR","NotoSansKR-Bold";
}
#nexacontainer .Button.btn_POP_UserCombo_M[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_lev0[userstatus=pushed]
{
	border : 2px solid transparent;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_S.png') no-repeat right center #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_Pop_menu_lev0_subNone[userstatus=pushed]
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_Pop_menu_lev0_S[userstatus=pushed]
{
	border : 2px solid transparent;
	border-radius : 0px;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_S.png') no-repeat right center #ffffff;
	color : #2b72de;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium";
}
#nexacontainer .Button.btn_Pop_menu_lev0_S[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
#nexacontainer .Button.btn_Pop_menu_lev1[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink1[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink1[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink2[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink2[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink3[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink3[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink4[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink4[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink5[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink5[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink6[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink6[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink7[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink7[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink8[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink8[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_Pop_no_M[userstatus=pushed]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	color : #222222;
}
#nexacontainer .Button.btn_Pop_yes_M[userstatus=pushed]
{
	border : 2px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes01_M[userstatus=pushed]
{
	background : #1A56B2;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_noticeLink_M[userstatus=pushed]
{
	background : #1A56B2;
	color : #ffffff;
}
#nexacontainer .MaskEdit.display_font26[userstatus=nulltext]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font26[userstatus=nulltext] .nexainput
{
	padding : 0px 8px 1px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font26[userstatus=nulltext] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_pop_close_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 18px;
}
#nexacontainer .Button.btn_Pop_close_W_M[userstatus=pushed]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_close2_W_M[userstatus=pushed]
{
	border : 2px solid transparent;
	border-radius : 14px;
	background : transparent;
}
#nexacontainer .Button.btn_pop_search_M[userstatus=pushed]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
#nexacontainer .Edit.edt_GNB_search_M[userstatus=nulltext]
{
	color : #b6b4b4;
}
#nexacontainer .Button.btn_GNB_txtLink_M[userstatus=pushed]
{
	border : 2px solid #eaeaea;
	border-radius : 25px;
	background : #ffffff;
	color : #444444;
	font : normal 500 24px/normal "Noto Sans KR","NotoSansKR-Medium";
}
#nexacontainer .Button.btn_GNB_txtLink_M[userstatus=pushed] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Button.btn_POP_UserCombo_M[userstatus=pushed]
{
	border : 2px solid #2b72de;
	border-radius : 16px;
	background : #ffffff;
	color : #2b72de;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Bold";
}
#nexacontainer .Form.frm_Pop_bg40[status=disabled]
{
	background : rgba(0,0,0,0.4);
}
#nexacontainer .Button.btn_Pop_menu_lev0[status=disabled]
{
	border : 0px none;
	background : url('./../../../_resource_/_images_/common_M/icon_sitemap_menu0_N.png') no-repeat right center #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_menu_lev0_subNone[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_menu_lev0_S[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_menu_lev1[status=disabled]
{
	border : 0px none;
	background : transparent;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink1[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink2[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink3[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink4[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink5[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink6[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink7[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_menu_serviceLink8[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #565656;
	opacity : 0.4;
}
#nexacontainer .Button.btn_Pop_no_M[status=disabled]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_yes_M[status=disabled]
{
	border : 2px solid #d9d9d9;
	background : #d9d9d9;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes01_M[status=disabled]
{
	background : #d9d9d9;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_noticeLink_M[status=disabled]
{
	background : #d9d9d9;
	color : #ffffff;
}
#nexacontainer .MaskEdit.display_font26[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font26[status=disabled] .nexainput
{
	padding : 0px 8px 1px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font26[status=disabled] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_pop_close_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 18px;
}
#nexacontainer .Button.btn_Pop_close_W_M[status=disabled]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_close2_W_M[status=disabled]
{
	border : 2px solid transparent;
	border-radius : 14px;
	background : transparent;
}
#nexacontainer .Button.btn_pop_search_M[status=disabled]
{
	border : 2px solid transparent;
	border-radius : 18px;
	background : transparent;
}
#nexacontainer .Edit.edt_GNB_search_M[status=disabled]
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_GNB_txtLink_M[status=disabled]
{
	border : 2px solid #d9d9d9;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_POP_UserCombo_M[status=disabled]
{
	border : 2px solid #2b72de;
	border-radius : 16px;
	background : #ffffff;
	color : #2b72de;
	font : normal 400 28px/normal "Noto Sans KR","NotoSansKR-Bold";
}
