
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Button.btn_polivy_linkTextB_M
{
	border : 1px solid #ffffff;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 24px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_polivy_linkTextB_M .nexacontentsbox
{
	vertical-align : top;
	background-position-y : top;
}
.Button.btn_polivy_linkTextS_M
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Button.btn_polivy_linkTextS_M .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_polivy_linkText_M
{
	border : 0px none;
	background : #ffffff;
	border-radius : 5px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Static.sta_roundBox16_line
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 16px;
}
.Static.font28B_M
{
	letter-spacing : -1px;
	font : normal 700 28px/1.5 "Noto Sans KR","NotoSansKR-Bold";
}
.Static.font26R_M
{
	letter-spacing : -1px;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Static.font26B_M
{
	letter-spacing : -1px;
	font : normal 700 26px/1.5 "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
}
.ImageViewer.font26B_icon
{
	border : 1px solid transparent;
}
.ImageViewer.font26B_icon .imagetext
{
	letter-spacing : -1px;
	font : normal 700 26px/1.5 "Noto Sans KR","NotoSansKR-Bold";
}
.ImageViewer.font26B_icon .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.Grid.grd_policy_detail_M
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
.Grid.grd_policy_detail_M .head
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #eaeaea;
	border-left : 0px none;
	background : #fafafa;
}
.Grid.grd_policy_detail_M .head .row .cell
{
	border : 1px solid #eaeaea;
	background : #fafafa;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Grid.grd_policy_detail_M .head .row .cell > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Grid.grd_policy_detail_M .body .row .cell.cell_head.dummy.dummy.dummy
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_policy_detail_M .body
{
	background : #ffffff;
}
.Grid.grd_policy_detail_M .body .row .cell
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Grid.grd_policy_detail_M .body .row .cell > .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Edit.display_font26
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Edit.display_font26 .nexainput
{
	padding : 0px 1px 1px 1px;
}
.TextArea.display_font26
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26 .nexatextarea
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .Button.btn_polivy_linkTextB_M[status=focused]
{
	border : 1px solid #222222;
}
#nexacontainer .Button.btn_polivy_linkTextB_M[status=mouseover]
{
	border : 1px solid #ffffff;
	background : #ffffff;
	color : #222222;
}
#nexacontainer .Button.btn_polivy_linkTextB_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_polivy_linkTextS_M[status=focused]
{
	border : 1px dashed #222222;
}
#nexacontainer .Button.btn_polivy_linkTextS_M[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
}
#nexacontainer .Button.btn_polivy_linkTextS_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_polivy_linkText_M[status=focused]
{
	border : 0px none;
}
#nexacontainer .Button.btn_polivy_linkText_M[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_polivy_linkText_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Static.sta_roundBox16_line[status=mouseover]
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 16px;
}
#nexacontainer .Static.font28B_M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 28px/1.5 "Noto Sans KR","NotoSansKR-Bold";
}
#nexacontainer .Static.font26R_M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .Static.font26B_M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 26px/1.5 "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
}
#nexacontainer .ImageViewer.font26B_icon[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26B_icon[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Grid.grd_policy_detail_M[status=mouseover]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Grid.grd_policy_detail_M[status=focused]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Grid.grd_policy_detail_M[status=readonly]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Grid.grd_policy_detail_M .head[status=mouseover]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #eaeaea;
	border-left : 0px none;
	background : #fafafa;
}
#nexacontainer .Grid.grd_policy_detail_M .head[status=focused]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #eaeaea;
	border-left : 0px none;
	background : #fafafa;
}
#nexacontainer .Grid.grd_policy_detail_M .head[status=readonly]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #eaeaea;
	border-left : 0px none;
	background : #fafafa;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell.cell_head.dummy.dummy.dummy[status=mouseover]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell.cell_head.dummy.dummy.dummy[status=focused]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell[status=mouseover]
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell[status=mouseover] > .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font26[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Edit.display_font26[status=mouseover] .nexainput
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .Edit.display_font26[status=focused]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Edit.display_font26[status=focused] .nexainput
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .Edit.display_font26[status=readonly]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Edit.display_font26[status=readonly] .nexainput
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .TextArea.display_font26[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .TextArea.display_font26[status=mouseover] .nexatextarea
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .TextArea.display_font26[status=focused]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .TextArea.display_font26[status=focused] .nexatextarea
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .TextArea.display_font26[status=readonly]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .TextArea.display_font26[status=readonly] .nexatextarea
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .Button.btn_polivy_linkTextB_M[userstatus=pushed]
{
	border : 1px solid #ffffff;
	background : #ffffff;
	color : #222222;
}
#nexacontainer .Button.btn_polivy_linkTextB_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_polivy_linkTextS_M[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
}
#nexacontainer .Button.btn_polivy_linkTextS_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_polivy_linkText_M[userstatus=pushed]
{
	border : 0px none;
	background : #ffffff;
	color : #2b72de;
}
#nexacontainer .Button.btn_polivy_linkText_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell.cell_head.dummy.dummy.dummy[userstatus=selected]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell[userstatus=selected]
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell[userstatus=selected] > .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font26[userstatus=nulltext]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Edit.display_font26[userstatus=nulltext] .nexainput
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .TextArea.display_font26[userstatus=nulltext]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .TextArea.display_font26[userstatus=nulltext] .nexatextarea
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .Button.btn_polivy_linkTextB_M[status=disabled]
{
	border : 1px solid #ffffff;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_polivy_linkTextS_M[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_polivy_linkText_M[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .ImageViewer.font26B_icon[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .Grid.grd_policy_detail_M[status=disabled]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #ffffff;
}
#nexacontainer .Grid.grd_policy_detail_M .head[status=disabled]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 1px solid #eaeaea;
	border-left : 0px none;
	background : #fafafa;
}
#nexacontainer .Grid.grd_policy_detail_M .head .row .cell[status=disabled]
{
	border : 1px solid #eaeaea;
	background : #fafafa;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Grid.grd_policy_detail_M .head .row .cell[status=disabled] > .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell.cell_head.dummy.dummy.dummy[status=disabled]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Grid.grd_policy_detail_M .body[status=disabled]
{
	background : #ffffff;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell[status=disabled]
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
#nexacontainer .Grid.grd_policy_detail_M .body .row .cell[status=disabled] > .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font26[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Edit.display_font26[status=disabled] .nexainput
{
	padding : 0px 1px 1px 1px;
}
#nexacontainer .TextArea.display_font26[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .TextArea.display_font26[status=disabled] .nexatextarea
{
	padding : 0px 1px 1px 1px;
}
