
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Button.btn_polivy_linkTextB_M
{
	border : 1px solid #ffffff;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 24px/1.5 "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_polivy_linkTextB_M .nexacontentsbox
{
	vertical-align : top;
}
.Button.btn_polivy_linkTextS_M
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Button.btn_polivy_linkTextS_M .nexacontentsbox
{
	text-align : left;
	vertical-align : middle;
}
.Button.btn_polivy_linkText_M
{
	border : 0px none;
	background : #ffffff;
	border-radius : 5px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Static.sta_roundBox16_line
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 16px;
}
.Static.font28B_M
{
	letter-spacing : -1px;
	font : normal 700 28px/1.5 "Noto Sans KR","NotoSansKR-Bold";
}
.Static.font26R_M
{
	letter-spacing : -1px;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Static.font26B_M
{
	letter-spacing : -1px;
	font : normal 700 26px/1.5 "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
}
.ImageViewer.font26B_icon
{
	border : 1px solid transparent;
}
.ImageViewer.font26B_icon .imagetext
{
	letter-spacing : -1px;
	font : normal 700 26px/1.5 "Noto Sans KR","NotoSansKR-Bold";
}
.ImageViewer.font26B_icon .imagetext .nexacontentsbox
{
	text-align : left;
	vertical-align : middle;
	-nexa-word-wrap : char;
}
.Grid.grd_policy_detail_M
{
	border : 1px solid #eaeaea, 0px none, 0px none;
	background : #ffffff;
}
.Grid.grd_policy_detail_M .head
{
	border : 0px none,0px none,1px solid #eaeaea,0px none;
	background : #fafafa;
}
.Grid.grd_policy_detail_M .head .row .cell
{
	border : 1px solid #eaeaea;
	background : #fafafa;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Grid.grd_policy_detail_M .head .row .cell .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_policy_detail_M .body .row .cell.cell_head
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_policy_detail_M .body
{
	background : #ffffff;
}
.Grid.grd_policy_detail_M .body .row .cell
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Grid.grd_policy_detail_M .body .row .cell .nexacontentsbox
{
	text-align : left;
}
.Edit.display_font26
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Button.btn_polivy_linkTextB_M[status=focused]
{
	border : 1px solid #222222;
}
.Button.btn_polivy_linkTextB_M[status=mouseover]
{
	border : 1px solid #ffffff;
	background : #ffffff;
	color : #222222;
}
.Button.btn_polivy_linkTextB_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_polivy_linkTextS_M[status=focused]
{
	border : 1px dashed #222222;
}
.Button.btn_polivy_linkTextS_M[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
}
.Button.btn_polivy_linkTextS_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_polivy_linkText_M[status=focused]
{
	border : 0px none;
}
.Button.btn_polivy_linkText_M[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
	color : #2b72de;
}
.Button.btn_polivy_linkText_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Static.sta_roundBox16_line[status=mouseover]
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 16px;
}
.Static.font28B_M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 28px/1.5 "Noto Sans KR","NotoSansKR-Bold";
}
.Static.font26R_M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Static.font26B_M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 26px/1.5 "Noto Sans KR","NotoSansKR-Bold";
	color : #222222;
}
.ImageViewer.font26B_icon[status=mouseover]
{
	border : 1px solid transparent;
}
.ImageViewer.font26B_icon[status=focused]
{
	border : 1px dashed #000000;
}
.Grid.grd_policy_detail_M[status=mouseover]
{
	border : 1px solid #eaeaea, 0px none, 0px none;
	background : #ffffff;
}
.Grid.grd_policy_detail_M[status=focused]
{
	border : 1px solid #eaeaea, 0px none, 0px none;
	background : #ffffff;
}
.Grid.grd_policy_detail_M[status=readonly]
{
	border : 1px solid #eaeaea, 0px none, 0px none;
	background : #ffffff;
}
.Grid.grd_policy_detail_M .head[status=mouseover]
{
	border : 0px none,0px none,1px solid #eaeaea,0px none;
	background : #fafafa;
}
.Grid.grd_policy_detail_M .head[status=focused]
{
	border : 0px none,0px none,1px solid #eaeaea,0px none;
	background : #fafafa;
}
.Grid.grd_policy_detail_M .head[status=readonly]
{
	border : 0px none,0px none,1px solid #eaeaea,0px none;
	background : #fafafa;
}
.Grid.grd_policy_detail_M .body .row .cell.cell_head[status=mouseover]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_policy_detail_M .body .row .cell.cell_head[status=focused]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_policy_detail_M .body .row .cell[status=mouseover]
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Grid.grd_policy_detail_M .body .row .cell[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Edit.display_font26[status=mouseover]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Edit.display_font26[status=focused]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Edit.display_font26[status=readonly]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26[status=mouseover]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26[status=focused]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26[status=readonly]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Button.btn_polivy_linkTextB_M[userstatus=pushed]
{
	border : 1px solid #ffffff;
	background : #ffffff;
	color : #222222;
}
.Button.btn_polivy_linkTextB_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_polivy_linkTextS_M[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
}
.Button.btn_polivy_linkTextS_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_polivy_linkText_M[userstatus=pushed]
{
	border : 0px none;
	background : #ffffff;
	color : #2b72de;
}
.Button.btn_polivy_linkText_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid.grd_policy_detail_M .body .row .cell.cell_head[userstatus=selected]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_policy_detail_M .body .row .cell[userstatus=selected]
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Grid.grd_policy_detail_M .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Edit.display_font26[userstatus=nulltext]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26[userstatus=nulltext]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Button.btn_polivy_linkTextB_M[status=disabled]
{
	border : 1px solid #ffffff;
	background : #ffffff;
	color : #d9d9d9;
}
.Button.btn_polivy_linkTextS_M[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #d9d9d9;
}
.Button.btn_polivy_linkText_M[status=disabled]
{
	border : 0px none;
	background : #ffffff;
	color : #d9d9d9;
}
.ImageViewer.font26B_icon[status=disabled]
{
	border : 1px solid transparent;
}
.Grid.grd_policy_detail_M[status=disabled]
{
	border : 1px solid #eaeaea, 0px none, 0px none;
	background : #ffffff;
}
.Grid.grd_policy_detail_M .head[status=disabled]
{
	border : 0px none,0px none,1px solid #eaeaea,0px none;
	background : #fafafa;
}
.Grid.grd_policy_detail_M .head .row .cell[status=disabled]
{
	border : 1px solid #eaeaea;
	background : #fafafa;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Grid.grd_policy_detail_M .head .row .cell[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid.grd_policy_detail_M .body .row .cell.cell_head[status=disabled]
{
	background : #fafafa;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Grid.grd_policy_detail_M .body[status=disabled]
{
	background : #ffffff;
}
.Grid.grd_policy_detail_M .body .row .cell[status=disabled]
{
	border : 1px solid #eaeaea;
	font : normal 400 26px/1.4 "Noto Sans KR","NotoSansKR-Regular";
	color : #222222;
}
.Grid.grd_policy_detail_M .body .row .cell[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.Edit.display_font26[status=disabled]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.TextArea.display_font26[status=disabled]
{
	border : 0px none;
	padding : 0px 1px 1px 1px;
	background : #ffffff;
	border-radius : 0px;
	color : #222222;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
