
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Static.sta_BF_bg_M
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #f5f5f5;
}
.Static.sta_BF_bgTop_M
{
	background : #eae9e9;
}
.Static.sta_BF_divLine_M
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 1px solid #767676;
}
.Static.sta_BF_BI_M
{
	background : url('./../../../_resource_/_images_/common_M/img_Footer_bi.png') no-repeat left center transparent;
}
.Static.sta_BF_copyright_M
{
	color : #767676;
	font : normal 400 20px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Static.sta_BF_Phone_M
{
	background : transparent;
	color : #767676;
	font : normal 400 26px/1.7 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Static.sta_BF_Phone_01M
{
	background : url('./../../../_resource_/_images_/common_M/ic_BF_Phone_M.png') no-repeat left center transparent;
	color : #222222;
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Static.sta_BF_Time_M
{
	background : url('./../../../_resource_/_images_/common_M/ic_BF_Time_M.png') no-repeat left center transparent;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
.Static.sta_BF_UniB02_M
{
	background : url('./../../../_resource_/_images_/common_M/img_BF_uniB02.png') no-repeat center;
}
.Button.btn_BF_policyB_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 25px;
	color : #ffffff;
	font : normal 700 28px/normal "Noto Sans KR","NotoSansKR-Bold";
}
.Button.btn_BF_policy_M
{
	border : 2px solid transparent;
	letter-spacing : -2px;
	background : transparent;
	border-radius : 10px;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
.Button.btn_BF_moe_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
.Button.btn_BF_keris_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
.Button.btn_BF_ma_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
.Button.btn_BF_wa_M
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Static.sta_BF_bg_M[status=mouseover]
{
	border-top : 1px solid #eaeaea;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
	background : #f5f5f5;
}
#nexacontainer .Static.sta_BF_bgTop_M[status=mouseover]
{
	background : #eae9e9;
}
#nexacontainer .Static.sta_BF_divLine_M[status=mouseover]
{
	border-top : 0px none;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 1px solid #767676;
}
#nexacontainer .Static.sta_BF_BI_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/img_Footer_bi.png') no-repeat left center transparent;
}
#nexacontainer .Static.sta_BF_copyright_M[status=mouseover]
{
	color : #767676;
	font : normal 400 20px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Static.sta_BF_Phone_M[status=mouseover]
{
	background : transparent;
	color : #767676;
	font : normal 400 26px/1.7 "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Static.sta_BF_Phone_01M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/ic_BF_Phone_M.png') no-repeat left center transparent;
	color : #222222;
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Static.sta_BF_Time_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/ic_BF_Time_M.png') no-repeat left center transparent;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	letter-spacing : -1px;
}
#nexacontainer .Static.sta_BF_UniB02_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/img_BF_uniB02.png') no-repeat center;
}
#nexacontainer .Button.btn_BF_policyB_M[status=focused]
{
	border : 2px dashed #ffffff;
}
#nexacontainer .Button.btn_BF_policyB_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
}
#nexacontainer .Button.btn_BF_policyB_M[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_BF_policy_M[status=focused]
{
	border : 2px solid transparent;
	letter-spacing : -2px;
	background : transparent;
	border-radius : 10px;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_BF_policy_M[status=mouseover]
{
	border : 2px solid transparent;
	letter-spacing : -2px;
	background : transparent;
	border-radius : 10px;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_BF_moe_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_moe_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_BF_keris_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_keris_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_BF_ma_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_ma_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_BF_wa_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_wa_M[status=focused]
{
	border : 2px dashed #000000;
}
#nexacontainer .Button.btn_BF_policyB_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
}
#nexacontainer .Button.btn_BF_policyB_M[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_BF_policy_M[userstatus=pushed]
{
	border : 2px solid transparent;
	letter-spacing : -2px;
	background : transparent;
	border-radius : 10px;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_BF_policy_M[userstatus=selected]
{
	border : 2px solid transparent;
	letter-spacing : -2px;
	background : transparent;
	border-radius : 10px;
	color : #767676;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
}
#nexacontainer .Button.btn_BF_moe_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_keris_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_ma_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_wa_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_policyB_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	color : #ffffff;
	opacity : 0.4;
}
#nexacontainer .Button.btn_BF_moe_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_keris_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_ma_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
#nexacontainer .Button.btn_BF_wa_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
	border-radius : 16px;
}
