
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Div.div_LNB_M
{
	background : #f5f5f5;
	border-radius : 0px;
}
.Static.sta_LNB_sectionLine_M
{
	background : url('./../../../_resource_/_images_/common_M/bg_LNB_line_M.png') no-repeat center center transparent;
}
.Button.btn_LNB_home_M
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	cursor : default;
	border-radius : 10px;
}
.Button.btn_LNB_home_M .nexacontentsbox
{
	text-align : left;
}
.Button.btn_LNB_menu_M
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	cursor : default;
	border-radius : 10px;
	letter-spacing : -1px;
}
.Button.btn_LNB_menu_M .nexacontentsbox
{
	text-align : left;
}
.Combo.cbo_LNB_N
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_O
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_F
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_N .comboedit
{
	padding : 0px 10px 0px 19px;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_O .comboedit
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_F .comboedit
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_N .dropbutton
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_O .dropbutton
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton
{
	cursor : pointer;
	background : transparent;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy
{
	border : 13px solid transparent,0px none, 0px none;
	background : #f5f5f5;
	border-radius : 0px;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy
{
	border : 13px solid transparent,0px none, 0px none;
	background : #f5f5f5;
	border-radius : 0px;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy
{
	border : 13px solid transparent,0px none, 0px none;
	background : #f5f5f5;
	border-radius : 0px;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem
{
	border : 0px none,0px none,1px solid #d9d9d9;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem .nexacontentsbox
{
	vertical-align : middle;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem
{
	border : 0px none,0px none,1px solid #d9d9d9;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem .nexacontentsbox
{
	vertical-align : middle;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem
{
	border : 0px none,0px none,1px solid #d9d9d9;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem .nexacontentsbox
{
	vertical-align : middle;
}
.Div.div_LNB_M[status=focused]
{
	background : #f5f5f5;
	border-radius : 0px;
}
.Div.div_LNB_M[status=mouseover]
{
	background : #f5f5f5;
	border-radius : 0px;
}
.Static.sta_LNB_sectionLine_M[status=mouseover]
{
	background : url('./../../../_resource_/_images_/common_M/bg_LNB_line_M.png') no-repeat center center transparent;
}
.Button.btn_LNB_home_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	cursor : default;
	border-radius : 10px;
}
.Button.btn_LNB_home_M[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_LNB_home_M[status=focused]
{
	border : 2px dashed #000000;
	background : transparent;
}
.Button.btn_LNB_menu_M[status=mouseover]
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	cursor : default;
	border-radius : 10px;
	letter-spacing : -1px;
}
.Button.btn_LNB_menu_M[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_LNB_menu_M[status=focused]
{
	border : 2px dashed #000000;
	background : transparent;
}
.Combo.cbo_LNB_N[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_N[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
.Combo.cbo_LNB_N[status=focused]
{
	border : 1px dashed #000000;
}
.Combo.cbo_LNB_O[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_O[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_O[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_F[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_F[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_F[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_N .comboedit[status=mouseover]
{
	color : #2b72de;
}
.Combo.cbo_LNB_N .comboedit[status=focused]
{
	color : #2b72de;
}
.Combo.cbo_LNB_O .comboedit[status=mouseover]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_O .comboedit[status=focused]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_O .comboedit[status=readonly]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_F .comboedit[status=mouseover]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_F .comboedit[status=focused]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_F .comboedit[status=readonly]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_N .dropbutton[status=focused]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_N .dropbutton[status=mouseover]
{
	background : transparent;
}
.Combo.cbo_LNB_O .dropbutton[status=mouseover]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_O .dropbutton[status=focused]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton[status=mouseover]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton[status=focused]
{
	cursor : pointer;
	background : transparent;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=readonly]
{
	border : 0px none,0px none,1px solid #d9d9d9;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=readonly] .nexacontentsbox
{
	vertical-align : middle;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=readonly]
{
	border : 0px none,0px none,1px solid #d9d9d9;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=readonly] .nexacontentsbox
{
	vertical-align : middle;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=readonly]
{
	border : 0px none,0px none,1px solid #d9d9d9;
	background : #eaeaea;
	color : #222222;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=readonly] .nexacontentsbox
{
	vertical-align : middle;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #f5f5f5;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #f5f5f5;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #f5f5f5;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #f5f5f5;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=mouseover]
{
	background : #f5f5f5;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=focused]
{
	background : #f5f5f5;
}
.Button.btn_LNB_home_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	cursor : default;
	border-radius : 10px;
}
.Button.btn_LNB_home_M[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Button.btn_LNB_menu_M[userstatus=pushed]
{
	border : 2px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular";
	cursor : default;
	border-radius : 10px;
	letter-spacing : -1px;
}
.Button.btn_LNB_menu_M[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Combo.cbo_LNB_O .comboedit[userstatus=nulltext]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_F .comboedit[userstatus=nulltext]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_N .dropbutton[userstatus=selected]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_N .dropbutton[userstatus=pushed]
{
	background : transparent;
}
.Combo.cbo_LNB_O .dropbutton[userstatus=pushed]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_O .dropbutton[userstatus=selected]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton[userstatus=pushed]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton[userstatus=selected]
{
	cursor : pointer;
	background : transparent;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #ffffff;
	color : #2b72de;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[userstatus=selected]
{
	background : #ffffff;
	color : #2b72de;
}
.Button.btn_LNB_home_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
}
.Button.btn_LNB_menu_M[status=disabled]
{
	border : 2px solid transparent;
	background : transparent;
}
.Combo.cbo_LNB_N[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_O[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_F[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	border-radius : 6px;
}
.Combo.cbo_LNB_O .comboedit[status=disabled]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_F .comboedit[status=disabled]
{
	padding : 0px 10px 0px 19px;
	color : #2b72de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium";
}
.Combo.cbo_LNB_N .dropbutton[status=disabled]
{
	background : transparent;
	opacity : 0.4;
}
.Combo.cbo_LNB_O .dropbutton[status=disabled]
{
	cursor : pointer;
	background : transparent;
}
.Combo.cbo_LNB_F .dropbutton[status=disabled]
{
	cursor : pointer;
	background : transparent;
}
.ListBoxControl.popupCombocbo_LNB_Ncombolist.dummy.dummy .listboxitem[status=disabled]
{
	color : #d9d9d9;
}
.ListBoxControl.popupCombocbo_LNB_Ocombolist.dummy.dummy .listboxitem[status=disabled]
{
	color : #d9d9d9;
}
.ListBoxControl.popupCombocbo_LNB_Fcombolist.dummy.dummy .listboxitem[status=disabled]
{
	color : #d9d9d9;
}
