div.container {
	position: relative;
	align-content: center;
	text-align: center;
	display: block;
	color: #555;
	top:50px;
}
div.errorDiv {
	position: relative;
	align-content: center;
	text-align: center;
	display: block;
}
div.debugDiv {
	position: relative;
	align-content: center;
	display: block;
}

.button {
	display: inline-block;
	border-radius: 4px;
	background-color: #f0ad4e;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

.button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.button:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}

.txt {
	display: inline-block;
	border-radius: 4px;
	background-color: #FFFFFF;
	border: none;
	color: #555;
	text-align: center;
	font-size: 24px;
	padding: 20px;
	width: 400px;
	transition: all 0.5s;
	margin: 10px;
}
.disabled {
	opacity: 1;
	display: inline-block;
	border-radius: 4px;
	background-color: #ccc;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: default;
	margin: 5px;
	pointer-events: none;
	text-decoration: none;
}
.info {
	display: inline-block;
	color: #fff;
	text-align: left;
	font-size: 24px;
	background-color: #2196F3;
	width:700px;
	padding: 20px;
	margin: 10px;
}
.warnnig {
	display: inline-block;
	color: #fff;
	text-align: left;
	font-size: 24px;
	background-color: #d9534f;
	padding: 20px;
	margin: 5px;
}
