
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Div.div_SA_Box
{
	background : #f5f5f5;
	border-radius : 14px;
}
.Div.div_SA_Opacity40
{
	background : #000000;
	opacity : 0.4;
}
.Div.div_SA_FAQ
{
	border : 1px solid #eaeaea, 0px none, 0px none, 0px none;
	background : #ffffff;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.CheckBox.chk_Login_Normal
{
	border : 1px solid transparent;
	color : #222222;
}
.Static.sta_SA_Word
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 20px;
	color : #222222;
	font : normal 700 13px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_SA_Word .nexacontentsbox
{
	text-align : center;
	-nexa-word-wrap : none;
}
.Button.btn_SA_Result
{
	border : 1px solid #d9d9d9;
	background : #fafafa;
	border-radius : 0px;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_SA_ResultS
{
	border : 1px solid #2d73de;
	background : #2d73de;
	border-radius : 0px;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_SA_More
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic"
}
.Button.btn_SA_More[status=focused]
{
	-nexa-border 		: 2px solid #2d73de;
}
.Button.btn_SA_More .nexacontentsbox
{
	text-align : left;
}
.Div.div_SA_Box[status=focused]
{
	background : #f5f5f5;
	border-radius : 14px;
}
.Div.div_SA_Box[status=mouseover]
{
	background : #f5f5f5;
	border-radius : 14px;
}
.Div.div_SA_Opacity40[status=focused]
{
	background : #000000;
	opacity : 0.4;
}
.Div.div_SA_Opacity40[status=mouseover]
{
	background : #000000;
	opacity : 0.4;
}
.Div.div_SA_FAQ[status=focused]
{
	border : 1px solid #eaeaea, 0px none, 0px none, 0px none;
	background : #ffffff;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Div.div_SA_FAQ[status=mouseover]
{
	border : 1px solid #eaeaea, 0px none, 0px none, 0px none;
	background : #ffffff;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.CheckBox.chk_Login_Normal[status=readonly]
{
	border : 1px solid transparent;
	color : #222222;
}
.CheckBox.chk_Login_Normal[status=mouseover]
{
	border : 1px solid transparent;
	color : #222222;
}
.CheckBox.chk_Login_Normal[status=focused]
{
	border : 1px dashed #222222;
	border-radius : 7px;
}
.Button.btn_SA_Result[status=focused]
{
	border : 1px solid #222222;
}
.Button.btn_SA_Result[status=mouseover]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
.Button.btn_SA_ResultS[status=mouseover]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	border-radius : 0px;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_SA_ResultS[status=focused]
{
	border : 2px solid #222222;
}
.Button.btn_SA_More[status=mouseover]
{
	border : 2px solid transparent;
	background : #ffffff;
}
.Button.btn_SA_More[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Button.btn_SA_Result[userstatus=pushed]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
.Button.v[userstatus=pushed]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	border-radius : 0px;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_SA_More[userstatus=pushed]
{
	border : 2px solid transparent;
	background : #ffffff;
}
.Button.btn_SA_More[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
.CheckBox.chk_Login_Normal[status=disabled]
{
	border : 1px solid transparent;
	color : #222222;
}
.Button.btn_SA_Result[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #fafafa;
	color : #d9d9d9;
}
.Button.btn_SA_ResultS[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #fafafa;
	color : #d9d9d9;
}
.Button.btn_SA_More[status=disabled]
{
	border : 2px solid transparent;
	background : #ffffff;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic"
}
.Button.btn_SA_More[status=focused]
{
	-nexa-border 		: 2px solid #2d73de;
}
.Button.btn_SA_More[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.CheckBox.chk_Login_Normal[status=disabled][userstatus=selected]
{
	border : 1px solid transparent;
	color : #222222;
}
