
@media screen and (min-width:0\0) and (-ms-high-contrast: active) 
{ 
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
} 

html, body
{
  position:absolute;
  width:100%;
  height:100%;  
  font:12pt Verdana;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -ms-user-select:none;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
  pointer-events:none;
}
.nexacontentsboxflex
{
  display: -ms-flexbox;
  display: flex;
  background-position:left center;
  background-repeat:no-repeat;
  align-items : center;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
  box-sizing:border-box;		
}

.nexaleftalign
{
  text-align:left;
  justify-content:flex-start;
}

.nexarightalign
{
  text-align:right;
  justify-content:flex-end;
}

.nexacenteralign
{
  text-align:center;
  justify-content:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
  color:black;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.ImageViewer.font20B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font20B_C .imagetext
{
	letter-spacing : -1px;
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font20B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.display
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
.Static.sta_guide_title
{
	background : url('./../../../_resource_/_images_/webGuide/ico_WF_SubTitle.png') no-repeat left top;
	color : #555555;
	font : normal 700 16px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_title .nexacontentsbox
{
	vertical-align : top;
	background-position-y : top;
}
.Static.sta_guide_subTitle
{
	background : url("./../../../_resource_/_images_/webGuide/ico_WF_GridTitle.png") no-repeat left top;
	color : #2a8800;
	font : normal 400 16px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_subTitle .nexacontentsbox
{
	vertical-align : top;
	background-position-y : top;
}
.Static.sta_guide_font14R
{
	color : #666666;
	font : normal 400 14px/19px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_font14R .nexacontentsbox
{
	vertical-align : top;
	background-position-y : top;
}
.Static.sta_guide_Hline
{
	border-top : 1px solid #d5d8e1;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
.Static.sta_guide_Vline
{
	border-top : 0px none;
	border-right : 1px solid #bcbcbc;
	border-bottom : 0px none;
	border-left : 0px none;
}
.Static.sta_guide_detailLabel_17R
{
	border : 1px solid #d2d2d2;
	color : #333333;
	background : #f5f5f5;
	font : normal 400 17px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_detailLabel_17R .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Static.sta_guide_detailLabel_14B
{
	border : 1px solid #d7d7d7;
	background : #f9f9f9;
	color : #555555;
	font : normal 700 14px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_detailBg
{
	border : 1px solid #d7d7d7;
	background : #ffffff;
	font : normal 400 14px/19px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_detailBg .nexacontentsbox
{
	white-space : pre-wrap;
	word-wrap : break-word;
	word-break : break-all;
}
.Static.sta_guide_note
{
	border : 1px solid #d7d7d7;
	background : url("./../../../_resource_/_images_/webGuide/ico_WF_Notice.png") no-repeat left center #f9f9f9;
	color : #288000;
	font : normal 400 14px/24px "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_guide_note .nexacontentsbox
{
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_Pop_yes
{
	border : 1px solid #222222;
	background : #222222;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .ImageViewer.font20B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font20B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.display[status=mouseover]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
#nexacontainer .ImageViewer.display[status=focused]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_yes[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Pop_yes[status=mouseover]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes[userstatus=pushed]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .ImageViewer.font20B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.display[status=disabled]
{
	border : 0px none;
	border-radius : 0px;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_yes[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #d9d9d9;
	color : #ffffff;
}
