
        
.nexainput.nexaleftalign
{
  text-align:left;
}
.nexainput.nexarightalign
{
  text-align:right;
}
.nexainput.nexacenteralign
{
  text-align:center;
}

.nexacontentsbox.nexaleftalign
{
  text-align:left;
}
.nexacontentsbox.nexarightalign
{
  text-align:right;
}
.nexacontentsbox.nexacenteralign
{
  text-align:center;
}
.celltreeline
{
  border : 1px dotted #999999;
}
.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.nexainput
{
  cursor:inherit;
}

.Grid .body .row .cell.cell_txt30B
{
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt30B .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt28M
{
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt28M .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt24B
{
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt24B .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt18R
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt18R .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16B
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt16B .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16M
{
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt16M .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14R
{
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14R .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14M
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14M .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_ImpNoti
{
	background : url('./images/grd_newNotice02.png') no-repeat left center #fafafa;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_ImpTit
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_ImpNoti02
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_FileAddGray
{
	background : url('./images/grd_download3.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_FileAdd
{
	background : url('./images/grd_download3.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_bgGray
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray.oddcell
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray01
{
	letter-spacing : -1px;
	background : #fafafa;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_bgGray02
{
	letter-spacing : -1px;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_Roundbox_blue
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center transparent;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G.oddcell
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
}
.Grid .body .row .cell.cell_Roundbox_blueLine
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine.oddcell
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G.oddcell
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_gray
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_gray.oddcell
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
}
.Grid .body .row .cell.cell_color5959
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959.oddcell
{
	color : #595959;
}
.Grid .body .row .cell.cell_btnDownload .cellbutton
{
	border : 0px none;
	background : transparent;
	cursor : default;
}
.Grid .body .row .cell.cell_btnView .cellbutton
{
	border : 0px none;
	cursor : default;
}
.Grid.grd_notice
{
	border : 2px solid #222222,0px none,0px none;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid.grd_notice .head .row .cell
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .body .row .cell
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnVideoPlay .cellbutton
{
	border : 0px none;
	background : transparent;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_CountBGGray
{
	background : url('./images/grd_view.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_CountBG
{
	background : url('./images/grd_view.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_StatusImportance
{
	background : url('./images/grd_newNotice.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_progress
{
	background : url('./images/grd_status_process.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_end
{
	background : url('./images/grd_status_end.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_status_todo
{
	background : url('./images/grd_status_todo.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_serviceOk .cellimage
{
	background : url('./images/grd_serviceOk.png') no-repeat center center transparent;
}
.Grid .body .row .cell.cell_link .cellbutton
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_link .cellbutton .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .head
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .body
{
	background : #ffffff;
}
.Grid.grd_telList .body .row .cell
{
	border : 0px none;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid.grd_telList .body .row .cell .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList .vscrollbar
{
	border : 5px solid transparent;
	background : transparent;
}
.Grid.grd_telList .vscrollbar .decbutton
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .incbutton
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .trackbar
{
	border : 0px none;
	border-radius : 4px;
}
.Grid .body .row .cell.cell_txt30B[status=mouseover]
{
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt30B[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt30B[status=focused]
{
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt30B[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt28M[status=mouseover]
{
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt28M[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt28M[status=focused]
{
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt28M[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt24B[status=mouseover]
{
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt24B[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt24B[status=focused]
{
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt24B[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt18R[status=mouseover]
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt18R[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt18R[status=focused]
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt18R[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16B[status=mouseover]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt16B[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16B[status=focused]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt16B[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16M[status=mouseover]
{
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt16M[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16M[status=focused]
{
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt16M[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14R[status=mouseover]
{
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14R[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14R[status=focused]
{
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14R[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14M[status=mouseover]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14M[status=mouseover] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14M[status=focused]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14M[status=focused] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_ImpNoti[status=mouseover]
{
	background : url('./images/grd_newNotice02.png') no-repeat left center #fafafa;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_ImpNoti[status=focused]
{
	background : url('./images/grd_newNotice02.png') no-repeat left center #fafafa;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_ImpNoti[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_ImpTit[status=mouseover]
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_ImpTit[status=focused]
{
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_ImpNoti02[status=mouseover]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_ImpNoti02[status=focused]
{
	font : normal 600 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_ImpNoti02[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_FileAddGray[status=mouseover]
{
	background : url('./images/grd_download3.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_FileAddGray[status=focused]
{
	background : url('./images/grd_download3_O.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_FileAdd[status=mouseover]
{
	background : url('./images/grd_download3.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_FileAdd[status=focused]
{
	background : url('./images/grd_download3_O.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_bgGray[status=mouseover]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray.oddcell[status=mouseover]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray[status=focused]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_bgGray[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_bgGray01[status=mouseover]
{
	letter-spacing : -1px;
	background : #fafafa;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_bgGray01[status=focused]
{
	letter-spacing : -1px;
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_bgGray01[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_bgGray02[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_bgGray02[status=focused]
{
	letter-spacing : -1px;
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_bgGray02[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_Roundbox_blue[status=mouseover]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center transparent;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue[status=focused]
{
	color : #ffffff;
	background : url('./images/grd_roundBox_blue.png') no-repeat center center transparent;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G[status=mouseover]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G.oddcell[status=mouseover]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
}
.Grid .body .row .cell.cell_Roundbox_blue_G[status=focused]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blue_G.oddcell[status=focused]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine[status=mouseover]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine.oddcell[status=mouseover]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_blueLine[status=focused]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine.oddcell[status=focused]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G[status=mouseover]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G.oddcell[status=mouseover]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G[status=focused]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G.oddcell[status=focused]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_gray[status=mouseover]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_gray.oddcell[status=mouseover]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
}
.Grid .body .row .cell.cell_Roundbox_gray[status=focused]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_gray.oddcell[status=focused]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_color5959[status=mouseover]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959.oddcell[status=mouseover]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959[status=focused]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959.oddcell[status=focused]
{
	color : #595959;
}
.Grid .body .row .cell.cell_btnDownload .cellbutton[status=mouseover]
{
	border : 0px none;
	background : transparent;
	cursor : default;
}
.Grid .body .row .cell.cell_btnDownload .cellbutton[status=focused]
{
	border : 0px none;
	background : #f5f5f5;
}
.Grid .body .row .cell.cell_btnView .cellbutton[status=mouseover]
{
	border : 0px none;
	cursor : default;
}
.Grid .body .row .cell.cell_btnView .cellbutton[status=focused]
{
	border : 0px none;
	background : #f5f5f5;
}
.Grid.grd_notice[status=mouseover]
{
	border : 2px solid #222222,0px none,0px none;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid.grd_notice[status=focused]
{
	border : 2px solid #222222,0px none,0px none;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid.grd_notice[status=readonly]
{
	border : 2px solid #222222,0px none,0px none;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid.grd_notice .head .row .cell[status=mouseover]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .head .row .cell[status=readonly]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .head .row .cell[status=focused]
{
	color : #000000;
}
.Grid.grd_notice .head .row .cell[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid.grd_notice .body .row .cell[status=mouseover]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .body .row .cell[status=readonly]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .body .row .cell[status=focused]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid.grd_notice .body .row .cell[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[status=mouseover]
{
	border : 0px none;
	background : transparent;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[status=focused]
{
	border : 0px none;
	background : #f5f5f5;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[status=mouseover]
{
	border : 0px none;
	background : transparent;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[status=focused]
{
	border : 0px none;
	background : #f5f5f5;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_btnVideoPlay .cellbutton[status=focused]
{
	border : 0px none;
	background : #f5f5f5;
}
.Grid .body .row .cell.cell_btnVideoPlay .cellbutton[status=mouseover]
{
	border : 0px none;
	background : #f5f5f5;
}
.Grid .body .row .cell.cell_CountBGGray[status=mouseover]
{
	background : url('./images/grd_view.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_CountBGGray[status=focused]
{
	background : url('./images/grd_view.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_CountBG[status=mouseover]
{
	background : url('./images/grd_view.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_CountBG[status=focused]
{
	background : url('./images/grd_view.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_StatusImportance[status=mouseover]
{
	background : url('./images/grd_newNotice.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_StatusImportance[status=focused]
{
	background : url('./images/grd_newNotice.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_progress[status=mouseover]
{
	background : url('./images/grd_status_process.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_progress[status=focused]
{
	background : url('./images/grd_status_process.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_end[status=mouseover]
{
	background : url('./images/grd_status_end.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_status_end[status=focused]
{
	background : url('./images/grd_status_end.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_status_todo[status=mouseover]
{
	background : url('./images/grd_status_todo.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_status_todo[status=focused]
{
	background : url('./images/grd_status_todo.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_link .cellbutton[status=mouseover]
{
	border : 0px none;
	background : transparent;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_link .cellbutton[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_link .cellbutton[status=focused]
{
	border : 0px none;
	background : #f5f5f5;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_link .cellbutton[status=focused] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid.grd_telList[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList[status=focused]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList[status=readonly]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .head[status=mouseover]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .head[status=focused]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .head[status=readonly]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .body .row .cell[status=mouseover]
{
	border : 0px none;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid.grd_telList .body .row .cell[status=mouseover] .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList .vscrollbar[status=mouseover]
{
	border : 5px solid transparent;
	background : transparent;
}
.Grid.grd_telList .vscrollbar .decbutton[status=mouseover]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .decbutton[status=focused]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .incbutton[status=mouseover]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .incbutton[status=focused]
{
	background : transparent;
}
.Grid .body .row .cell.cell_txt30B[userstatus=blinked]
{
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt30B[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt30B[userstatus=selected]
{
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt30B[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt28M[userstatus=blinked]
{
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt28M[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt28M[userstatus=selected]
{
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt28M[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt24B[userstatus=blinked]
{
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt24B[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt24B[userstatus=selected]
{
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt24B[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt18R[userstatus=blinked]
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt18R[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt18R[userstatus=selected]
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt18R[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16B[userstatus=blinked]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt16B[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16B[userstatus=selected]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt16B[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16M[userstatus=blinked]
{
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt16M[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16M[userstatus=selected]
{
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt16M[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14R[userstatus=blinked]
{
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14R[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14R[userstatus=selected]
{
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14R[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14M[userstatus=blinked]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14M[userstatus=blinked] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14M[userstatus=selected]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14M[userstatus=selected] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_ImpNoti[userstatus=selected]
{
	background : url('./images/grd_newNotice02.png') no-repeat left center #fafafa;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_ImpNoti[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_ImpTit[userstatus=selected]
{
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_ImpNoti02[userstatus=selected]
{
	font : normal 600 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_ImpNoti02[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_FileAddGray[userstatus=blinked]
{
	background : url('./images/grd_download3.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_FileAddGray[userstatus=selected]
{
	background : url('./images/grd_download3_O.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_FileAdd[userstatus=blinked]
{
	background : url('./images/grd_download3.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_FileAdd[userstatus=selected]
{
	background : url('./images/grd_download3_O.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_bgGray[userstatus=blinked]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray.oddcell[userstatus=blinked]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray[userstatus=selected]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_bgGray[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_bgGray01[userstatus=blinked]
{
	letter-spacing : -1px;
	background : #fafafa;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_bgGray01[userstatus=selected]
{
	letter-spacing : -1px;
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_bgGray01[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_bgGray021[userstatus=blinked]
{
	letter-spacing : -1px;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_bgGray02[userstatus=selected]
{
	letter-spacing : -1px;
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid .body .row .cell.cell_bgGray02[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_Roundbox_blue[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center transparent;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue[userstatus=selected]
{
	color : #ffffff;
	background : url('./images/grd_roundBox_blue.png') no-repeat center center transparent;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G.oddcell[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
}
.Grid .body .row .cell.cell_Roundbox_blue_G[userstatus=selected]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blue_G.oddcell[userstatus=selected]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine.oddcell[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_blueLine[userstatus=selected]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine.oddcell[userstatus=selected]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G.oddcell[userstatus=blinked]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G[userstatus=selected]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G.oddcell[userstatus=selected]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_gray[userstatus=blinked]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_gray.oddcell[userstatus=blinked]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
}
.Grid .body .row .cell.cell_Roundbox_gray[userstatus=selected]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_Roundbox_gray.oddcell[userstatus=selected]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center #f5f5f5;
}
.Grid .body .row .cell.cell_color5959[userstatus=blinked]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959.oddcell[userstatus=blinked]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959[userstatus=selected]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959.oddcell[userstatus=selected]
{
	color : #595959;
}
.Grid .body .row .cell.cell_btnDownload .cellbutton[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	cursor : default;
}
.Grid .body .row .cell.cell_btnDownload .cellbutton[userstatus=selected]
{
	border : 0px none;
	background : #f5f5f5;
}
.Grid .body .row .cell.cell_btnView .cellbutton[userstatus=pushed]
{
	border : 0px none;
	cursor : default;
}
.Grid .body .row .cell.cell_btnView .cellbutton[userstatus=selected]
{
	border : 0px none;
	background : #f5f5f5;
}
.Grid.grd_notice .head .row .cell[userstatus=blinked]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .body .row .cell[userstatus=blinked]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .body .row .cell[userstatus=selected]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #000000;
}
.Grid.grd_notice .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-decoration : underline;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[userstatus=pushed] .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[userstatus=selected] .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[userstatus=pushed] .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[userstatus=selected] .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnVideoPlay .cellbutton[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnVideoPlay .cellbutton[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_CountBGGray[userstatus=selected]
{
	background : url('./images/grd_view.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_CountBG[userstatus=selected]
{
	background : url('./images/grd_view.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_StatusImportance[userstatus=selected]
{
	background : url('./images/grd_newNotice.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_progress[userstatus=selected]
{
	background : url('./images/grd_status_process.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_status_end[userstatus=selected]
{
	background : url('./images/grd_status_end.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_status_todo[userstatus=selected]
{
	background : url('./images/grd_status_todo.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_link .cellbutton[userstatus=pushed]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_link .cellbutton[userstatus=pushed] .nexacontentsbox
{
	text-align : left;
}
.Grid .body .row .cell.cell_link .cellbutton[userstatus=selected]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_link .cellbutton[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList .body .row .cell[userstatus=selected]
{
	border : 0px none;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid.grd_telList .body .row .cell[userstatus=selected] .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList .vscrollbar .decbutton[userstatus=selected]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .decbutton[userstatus=pushed]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .incbutton[userstatus=selected]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .incbutton[userstatus=pushed]
{
	background : transparent;
}
.Grid .body .row .cell.cell_txt30B[status=disabled]
{
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt30B[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt28M[status=disabled]
{
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt28M[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt24B[status=disabled]
{
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt24B[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt18R[status=disabled]
{
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt18R[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16B[status=disabled]
{
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -1px;
}
.Grid .body .row .cell.cell_txt16B[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt16M[status=disabled]
{
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid .body .row .cell.cell_txt16M[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14R[status=disabled]
{
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14R[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_txt14M[status=disabled]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_txt14M[status=disabled] .nexacontentsbox
{
	text-align : center;
}
.Grid .body .row .cell.cell_FileAddGray[status=disabled]
{
	background : url('./images/grd_download3.png') no-repeat center center #fafafa;
}
.Grid .body .row .cell.cell_FileAdd[status=disabled]
{
	background : url('./images/grd_download3.png') no-repeat center center #ffffff;
}
.Grid .body .row .cell.cell_bgGray[status=disabled]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray.oddcell[status=disabled]
{
	background : #fafafa;
}
.Grid .body .row .cell.cell_bgGray01[status=disabled]
{
	letter-spacing : -1px;
	background : #fafafa;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_bgGray02[status=disabled]
{
	letter-spacing : -1px;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #595959;
}
.Grid .body .row .cell.cell_Roundbox_blue[status=disabled]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center transparent;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G[status=disabled]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blue_G.oddcell[status=disabled]
{
	background : url('./images/grd_roundBox_blue.png') no-repeat center center #fafafa;
	color : #ffffff;
}
.Grid .body .row .cell.cell_Roundbox_blueLine[status=disabled]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine.oddcell[status=disabled]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center transparent;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G[status=disabled]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_blueLine_G.oddcell[status=disabled]
{
	background : url('./images/grd_roundBox_blueLine.png') no-repeat center center #fafafa;
	color : #2b72de;
}
.Grid .body .row .cell.cell_Roundbox_gray[status=disabled]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid .body .row .cell.cell_Roundbox_gray.oddcell[status=disabled]
{
	background : url('./images/grd_roundBox_gray.png') no-repeat center center transparent;
	color : #222222;
}
.Grid .body .row .cell.cell_color5959[status=disabled]
{
	color : #595959;
}
.Grid .body .row .cell.cell_color5959.oddcell[status=disabled]
{
	color : #595959;
}
.Grid .body .row .cell.cell_btnDownload .cellbutton[status=disabled]
{
	border : 0px none;
	background : transparent;
	cursor : default;
}
.Grid .body .row .cell.cell_btnView .cellbutton[status=disabled]
{
	border : 0px none;
	cursor : default;
}
.Grid.grd_notice[status=disabled]
{
	border : 2px solid #222222,0px none,0px none;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Grid.grd_notice .head .row .cell[status=disabled]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid.grd_notice .body .row .cell[status=disabled]
{
	border : 1px solid #eaeaea,0px none,1px solid #eaeaea;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[status=disabled]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice_new .cellbutton[status=disabled] .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[status=disabled]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_btnNotice .cellbutton[status=disabled] .nexacontentsbox
{
	vertical-align : middle;
	text-align : left;
}
.Grid .body .row .cell.cell_btnVideoPlay .cellbutton[status=disabled]
{
	border : 0px none;
	background : transparent;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_link .cellbutton[status=disabled]
{
	border : 0px none;
	background : transparent;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
	border-radius : 0px;
	cursor : pointer;
}
.Grid .body .row .cell.cell_link .cellbutton[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList[status=disabled]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .head[status=disabled]
{
	border : 0px none;
	background : #ffffff;
}
.Grid.grd_telList .body[status=disabled]
{
	background : #ffffff;
}
.Grid.grd_telList .body .row .cell[status=disabled]
{
	border : 0px none;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Grid.grd_telList .body .row .cell[status=disabled] .nexacontentsbox
{
	text-align : left;
}
.Grid.grd_telList .vscrollbar[status=disabled]
{
	border : 5px solid transparent;
	background : transparent;
}
.Grid.grd_telList .vscrollbar .decbutton[status=disabled]
{
	background : transparent;
}
.Grid.grd_telList .vscrollbar .incbutton[status=disabled]
{
	background : transparent;
}
