
html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

textarea::-webkit-scrollbar { display: none; }


.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  
}

.nexatransform
{
  
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexacontentsboxflex
{
  display: -webkit-flex;
  display: flex;
  background-position:left center;
  background-repeat:no-repeat;
  align-items : center;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;  
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
  justify-content:flex-start;
}

.nexarightalign
{
  text-align:right;
  justify-content:flex-end;
}

.nexacenteralign
{
  text-align:center;
  justify-content:center;
}

.nexamap div *
{
  overflow:visible;
}

.ProgressBar,.ProgressBarControl
{

}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.Form.frm_Pop_bg40
{
	background : rgba(0,0,0,0.4);
}
.PopupDiv.pdiv_mySetting
{
	background : rgba(255,255,255,0.60);
	border-radius : 20px;
	box-shadow : 0px 0px 20px 0px rgba(0,0,0,0.20);
}
.Div.div_mySetting
{
	background : #ffffff;
	border-radius : 20px;
	box-shadow : 0px 0px 20px 0px rgba(0,0,0,0.20);
}
.Button.btn_mySetting_nice
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_parents
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_complaint
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_nonProfitCo
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_exam
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_no1
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_no2
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_no3
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_no4
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_no5
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_no6
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
.Button.btn_mySetting_close
{
	border : 1px solid transparent;
	background : transparent;
}
.PopupDiv.pdiv_Pop_shadowBox_C
{
	border-radius : 20px;
	background : #ffffff;
	box-shadow : 0px 10px 16px 0px rgba(0,0,0,0.07);
}
.Div.div_Pop_shadowBox_C
{
	border-radius : 20px;
	background : #ffffff;
	box-shadow : 0px 10px 16px 0px rgba(0,0,0,0.07);
}
.Button.btn_Pop_save
{
	border : 0px none;
	background : #2b72de;
	border-radius : 10px;
	color : #ffffff;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Pop_save_blue
{
	border : 1px solid #2d73de;
	background : #ffffff;
	border-radius : 10px;
	color : #2d73de;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Pop_save_blue .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Button.btn_Pop_yes
{
	border : 1px solid #2b72de;
	background : #2b72de;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Pop_yes01
{
	border : 2px solid transparent;
	background : #2b72de;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Pop_no
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	color : #222222;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_Pop_close_W
{
	border : 1px solid transparent;
	background : transparent;
}
.Button.btn_Pop_noticeLink
{
	border : 1px solid #222222;
	background : #222222;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.MaskEdit.display_font18
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.MaskEdit.display_font18 .nexainput
{
	padding : 0px;
	text-align : left;
}
.MaskEdit.display_font18 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Edit.display_font18
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Edit.display_font18 .nexainput
{
	padding : 0px;
	text-align : left;
}
.Edit.display_font18 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.sta_sitemap_bg
{
	background : #041733;
}
.Static.sta_sitemap_line
{
	border-top : 1px solid #53636e;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
.Button.btn_sitemap_menu_lev0
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_sitemap_menu_lev0 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Button.btn_sitemap_menu_lev1
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Button.btn_sitemap_menu_lev1 .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.Edit.edt_GNB_search
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #000000;
	font : normal 500 20px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Edit.edt_GNB_search .nexainput
{
	padding : 0px 18px 1px 18px;
}
.Static.sta_GNB_bg
{
	background : #ffffff;
}
.Static.sta_Notice_bg
{
	background : #f5f5f5;
	border-radius : 20px;
}
.Static.sta_Notice_bg01
{
	background : #2b72de;
	border-radius : 50px;
	color : #ffffff;
	font : normal 400 16px "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.sta_Notice_bg01 .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.Static.sta_GNB_line
{
	border-top : 2px solid #000000;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
.Button.btn_GNB_link
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	border-radius : 12px;
	color : #222222;
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Div.div_mySetting[status=focused]
{
	background : #ffffff;
	border-radius : 20px;
	box-shadow : 0px 0px 20px 0px rgba(0,0,0,0.20);
}
#nexacontainer .Div.div_mySetting[status=mouseover]
{
	background : #ffffff;
	border-radius : 20px;
	box-shadow : 0px 0px 20px 0px rgba(0,0,0,0.20);
}
#nexacontainer .Button.btn_mySetting_nice[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_nice[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_parents[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_parents[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_complaint[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_complaint[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_nonProfitCo[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_nonProfitCo[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_exam[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_exam[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_no1[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no1[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_no2[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no2[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_no3[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no3[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_no4[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no4[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_no5[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no5[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_no6[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no6[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Button.btn_mySetting_close[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_mySetting_close[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .PopupDiv.pdiv_Pop_shadowBox_C[status=focused]
{
	border-radius : 20px;
	background : #ffffff;
	box-shadow : 0px 10px 16px 0px rgba(0,0,0,0.07);
}
#nexacontainer .PopupDiv.pdiv_Pop_shadowBox_C[status=mouseover]
{
	border-radius : 20px;
	background : #ffffff;
	box-shadow : 0px 10px 16px 0px rgba(0,0,0,0.07);
}
#nexacontainer .Div.div_Pop_shadowBox_C[status=focused]
{
	border-radius : 20px;
	background : #ffffff;
	box-shadow : 0px 10px 16px 0px rgba(0,0,0,0.07);
}
#nexacontainer .Div.div_Pop_shadowBox_C[status=mouseover]
{
	border-radius : 20px;
	background : #ffffff;
	box-shadow : 0px 10px 16px 0px rgba(0,0,0,0.07);
}
#nexacontainer .Button.btn_Pop_save[status=focused]
{
	border : 2px solid #222222;
}
#nexacontainer .Button.btn_Pop_save[status=mouseover]
{
	background : #1A56B2;
}
#nexacontainer .Button.btn_Pop_save_blue[status=focused]
{
	border : 2px solid #222222;
}
#nexacontainer .Button.btn_Pop_save_blue[status=mouseover]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Pop_yes[status=mouseover]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes01[status=focused]
{
	border : 2px solid #000000;
}
#nexacontainer .Button.btn_Pop_yes01[status=mouseover]
{
	background : #1A56B2;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_no[status=focused]
{
	border : 2px solid #000000;
}
#nexacontainer .Button.btn_Pop_no[status=mouseover]
{
	border : 1px solid #222222;
	background : #ffffff;
	color : #222222;
}
#nexacontainer .Button.btn_Pop_close_W[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_close_W[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Pop_noticeLink[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_Pop_noticeLink[status=mouseover]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .MaskEdit.display_font18[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font18[status=mouseover] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font18[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .MaskEdit.display_font18[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font18[status=focused] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font18[status=focused] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .MaskEdit.display_font18[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font18[status=readonly] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font18[status=readonly] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font18[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Edit.display_font18[status=mouseover] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .Edit.display_font18[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font18[status=focused]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Edit.display_font18[status=focused] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .Edit.display_font18[status=focused] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font18[status=readonly]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Edit.display_font18[status=readonly] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .Edit.display_font18[status=readonly] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Static.sta_sitemap_bg[status=mouseover]
{
	background : #041733;
}
#nexacontainer .Static.sta_sitemap_line[status=mouseover]
{
	border-top : 1px solid #53636e;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
#nexacontainer .Button.btn_sitemap_menu_lev0[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_sitemap_menu_lev0[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_sitemap_menu_lev0[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_sitemap_menu_lev1[status=focused]
{
	border : 1px dashed #ffffff;
}
#nexacontainer .Button.btn_sitemap_menu_lev1[status=mouseover]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_sitemap_menu_lev1[status=mouseover] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Edit.edt_GNB_search[status=mouseover]
{
	border : 2px solid #ffffff;
}
#nexacontainer .Edit.edt_GNB_search[status=focused]
{
	border : 2px solid #ffffff;
}
#nexacontainer .Edit.edt_GNB_search[status=readonly]
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #000000;
}
#nexacontainer .Static.sta_GNB_bg[status=mouseover]
{
	background : #ffffff;
}
#nexacontainer .Static.sta_Notice_bg[status=mouseover]
{
	background : #f5f5f5;
	border-radius : 20px;
}
#nexacontainer .Static.sta_Notice_bg01[status=mouseover] .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
#nexacontainer .Static.sta_Notice_bg01[status=mouseover]
{
	background : #2b72de;
	border-radius : 50px;
	color : #ffffff;
	font : normal 400 16px "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.sta_GNB_line[status=mouseover]
{
	border-top : 2px solid #000000;
	border-right : 0px none;
	border-bottom : 0px none;
	border-left : 0px none;
}
#nexacontainer .Button.btn_GNB_link[status=focused]
{
	border : 1px dashed #222222;
}
#nexacontainer .Button.btn_GNB_link[status=mouseover]
{
	border : 1px solid #d9d9d9;
	background : #f5f5f5;
}
#nexacontainer .Button.btn_mySetting_nice[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_parents[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_complaint[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_nonProfitCo[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_exam[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no1[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no2[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no3[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no4[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no5[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no6[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_close[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_save[userstatus=pushed]
{
	background : #1A56B2;
}
#nexacontainer .Button.btn_Pop_save_blue[userstatus=pushed]
{
	border : 1px solid #2d73de;
	background : #2d73de;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes[userstatus=pushed]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes01[userstatus=pushed]
{
	background : #1A56B2;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_no[userstatus=pushed]
{
	border : 1px solid #222222;
	background : #ffffff;
	color : #222222;
}
#nexacontainer .Button.btn_Pop_close_W[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_noticeLink[userstatus=pushed]
{
	border : 1px solid #000000;
	background : #000000;
	color : #ffffff;
}
#nexacontainer .MaskEdit.display_font18[userstatus=nulltext]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font18[userstatus=nulltext] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font18[userstatus=nulltext] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font18[userstatus=nulltext]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Edit.display_font18[userstatus=nulltext] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .Edit.display_font18[userstatus=nulltext] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_sitemap_menu_lev0[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_sitemap_menu_lev0[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Button.btn_sitemap_menu_lev1[userstatus=pushed]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_sitemap_menu_lev1[userstatus=pushed] .nexacontentsbox
{
	text-decoration : underline;
}
#nexacontainer .Edit.edt_GNB_search[userstatus=nulltext]
{
	color : #b6b4b4;
}
#nexacontainer .Button.btn_GNB_link[userstatus=pushed]
{
	border : 1px solid #d9d9d9;
	background : #f5f5f5;
}
#nexacontainer .Form.frm_Pop_bg40[status=disabled]
{
	background : rgba(0,0,0,0.4);
}
#nexacontainer .Button.btn_mySetting_nice[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_parents[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_complaint[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_nonProfitCo[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_exam[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no1[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no2[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no3[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no4[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no5[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_no6[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #222222;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -1px;
}
#nexacontainer .Button.btn_mySetting_close[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_save[status=disabled]
{
	background : #d9d9d9;
	cursor : default;
}
#nexacontainer .Button.btn_Pop_save_blue[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_yes[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #d9d9d9;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_yes01[status=disabled]
{
	background : #d9d9d9;
	color : #ffffff;
}
#nexacontainer .Button.btn_Pop_no[status=disabled]
{
	background : transparent;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_Pop_close_W[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
}
#nexacontainer .Button.btn_Pop_noticeLink[status=disabled]
{
	border : 1px solid #d9d9d9;
	background : #d9d9d9;
	color : #ffffff;
}
#nexacontainer .MaskEdit.display_font18[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .MaskEdit.display_font18[status=disabled] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .MaskEdit.display_font18[status=disabled] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Edit.display_font18[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Edit.display_font18[status=disabled] .nexainput
{
	padding : 0px;
	text-align : left;
}
#nexacontainer .Edit.display_font18[status=disabled] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Button.btn_sitemap_menu_lev0[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	opacity : 0.4;
}
#nexacontainer .Button.btn_sitemap_menu_lev1[status=disabled]
{
	border : 1px solid transparent;
	background : transparent;
	color : #ffffff;
	opacity : 0.4;
}
#nexacontainer .Edit.edt_GNB_search[status=disabled]
{
	border : 2px solid #ffffff;
	background : #ffffff;
	color : #d9d9d9;
}
#nexacontainer .Button.btn_GNB_link[status=disabled]
{
	border : 1px solid #d6d6d6;
	background : #ffffff;
	color : #d6d6d6;
}
