
@media screen and (-ms-high-contrast: active)  
{
.nexacontentsbox {-ms-high-contrast-adjust:none; } 
}

html, body
{
  position:absolute;
  width:100%;
  height:100%;
  font:12pt Verdana;
  -moz-user-select:none;
  -webkit-user-select:none;
  -ms-user-select:none;
}

div, header, nav, section, article, aside, footer
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  background-origin:padding-box;
  background-repeat:no-repeat;
  white-space : pre;
  -moz-user-select:-moz-none;
  -webkit-user-select:none;
  -webkit-touch-callout:none;
  -webkit-appearance:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  outline:none;
}

table
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

input
{
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
}

img
{
  position:absolute;
  box-sizing:border-box;
}

input::-ms-clear,input::-ms-reveal
{
  display: none;
}



.nexacontainer
{
  position:absolute;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
}
.nexacontainer.withvscroll
{
  right:14px;
}
.nexacontainer.withhscroll
{
  bottom:14px;
}
.nexacontainer.withbothscroll
{
  right:14px;
  bottom:14px;
}

.nexalefttop
{
  left:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:left top;
  font-size:1px;
}
.nexaleftbottom
{
  left:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:left bottom;
  font-size:1px;
}
.nexarightbottom
{
  right:0px;
  bottom:0px;
  background-repeat:no-repeat;
  background-position:right bottom;
  font-size:1px;
}
.nexarighttop
{
  right:0px;
  top:0px;
  background-repeat:no-repeat;
  background-position:right top;
}
.nexaedge
{
  width:100%;
  height:100%;
}
.nexamodaloverlay
{
  width:100%;
  height:100%;
}
.nexainnercontainer
{
  transform : translate3d(0px, 0px, 0);
}

.nexatransform
{
  transform : translate3d(0px, 0px, 0);
}

.nexacontentsbox
{
  position:relative;
  display:table-cell;
  background-position:left center;
  background-repeat:no-repeat;
  vertical-align:middle;
}
.nexatextitem
{
  position:relative;
  vertical-align:middle;
  white-space:inherit;
  word-wrap:inherit;
  word-break:inherit;
  text-decoration:inherit;
}
.nexaiconitem
{
  position:relative;
  vertical-align:middle;
  background-position:center center;
  background-repeat:no-repeat;
}

.nexainput
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  border:none;
  outline:none;
  background:transparent;
  padding : 0px;
}

.nexatextarea
{
  font:inherit;
  color:inherit;
  cursor:inherit;
  line-height : inherit;
  letter-spacing:inherit;
  word-spacing:inherit;
  white-space:pre;
  word-wrap:normal;
  border:none;
  outline:none;
  resize:none;
  background:transparent;
  padding : 0px;
}

.nexaleftalign
{
  text-align:left;
}

.nexarightalign
{
  text-align:right;
}

.nexacenteralign
{
  text-align:center;
}

.nexamap div *
{
  overflow:visible;
}

.nexanativescroll
{
  overflow:scroll;
  -ms-overflow-style:none;
}

.celltreeline
{
  border : 1px dotted #999999;
}

.Edit, .MaskEdit, .TextArea, .EditControl, .MaskEditControl, .TextAreaControl
{
  cursor:text;
}
.Button .nexacontentsbox, .ButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.FileDownload  .nexacontentsbox, .FileDownloadControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.IconTextControl .nexacontentsbox, .IconControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.DatePickerDayItemControl .nexacontentsbox, .DatePickerWeekItemControl .nexacontentsbox, .TitleBarButtonControl .nexacontentsbox
{
  text-align:center;
  background-position:center center;
}

.Sketch .nexacontentsbox
{
   text-align:center;
}

.MainFrame, .VScrollBarControl, .HScrollBarControl
{
  cursor:default;
}

.ImageViewer.font50B
{
	border : 1px solid transparent;
}
.ImageViewer.font50B .imagetext
{
	color : #222222;
	font : normal 700 50px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -3px;
}
.ImageViewer.font50B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
	vertical-align : middle;
	background-position-y : center;
}
.ImageViewer.font50B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font50B_C .imagetext
{
	font : normal 700 50px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -3px;
}
.ImageViewer.font50B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
	vertical-align : middle;
	background-position-y : center;
}
.ImageViewer.font48B
{
	border : 1px solid transparent;
}
.ImageViewer.font48B .imagetext
{
	font : normal 700 48px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -3px;
}
.ImageViewer.font48B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font38B
{
	border : 1px solid transparent;
}
.ImageViewer.font38B .imagetext
{
	font : normal 700 38px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -3px;
}
.ImageViewer.font38B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font38B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font38B_C .imagetext
{
	color : #222222;
	font : normal 700 38px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -3px;
}
.ImageViewer.font38B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font48B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font48B_C .imagetext
{
	font : normal 700 48px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -3px;
}
.ImageViewer.font48B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font42B
{
	border : 1px solid transparent;
}
.ImageViewer.font42B .imagetext
{
	color : #222222;
	font : normal 700 42px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -3px;
}
.ImageViewer.font42B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font42B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font42B_C .imagetext
{
	color : #222222;
	font : normal 700 42px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	letter-spacing : -3px;
}
.ImageViewer.font42B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font40B
{
	border : 1px solid transparent;
}
.ImageViewer.font40B .imagetext
{
	font : normal 700 40px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
	letter-spacing : -3px;
}
.ImageViewer.font40B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font34B
{
	border : 1px solid transparent;
}
.ImageViewer.font34B .imagetext
{
	letter-spacing : -3px;
	font : normal 700 34px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font34B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font34B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font34B_C .imagetext
{
	letter-spacing : -3px;
	font : normal 500 34px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font34B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font32B
{
	border : 1px solid transparent;
}
.ImageViewer.font32B .imagetext
{
	letter-spacing : -3px;
	font : normal 700 32px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font32B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font32B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font32B_C .imagetext
{
	letter-spacing : -3px;
	font : normal 700 32px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font32B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font30B
{
	border : 1px solid transparent;
}
.ImageViewer.font30B .imagetext
{
	letter-spacing : -3px;
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font30B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font26B
{
	border : 1px solid transparent;
}
.ImageViewer.font26B .imagetext
{
	letter-spacing : -1px;
	font : normal 700 26px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font26B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font26M
{
	border : 1px solid transparent;
}
.ImageViewer.font26M .imagetext
{
	letter-spacing : -1px;
	font : normal 500 26px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font26M .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font26R
{
	border : 1px solid transparent;
}
.ImageViewer.font26R .imagetext
{
	letter-spacing : -1px;
	font : normal 400 26px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font26R .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font24B
{
	border : 1px solid transparent;
}
.ImageViewer.font24B .imagetext
{
	letter-spacing : -1px;
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font24B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font24M
{
	border : 1px solid transparent;
}
.ImageViewer.font24M .imagetext
{
	letter-spacing : -1px;
	font : normal 500 24px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font24M .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font24R
{
	border : 1px solid transparent;
}
.ImageViewer.font24R .imagetext
{
	letter-spacing : -1px;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font24R .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font20B
{
	border : 1px solid transparent;
}
.ImageViewer.font20B .imagetext
{
	letter-spacing : -1px;
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font20B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font28B_C02
{
	border : 1px solid transparent;
}
.ImageViewer.font28B_C02 .imagetext
{
	letter-spacing : -1px;
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #2b72de;
}
.ImageViewer.font28B_C02 .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font28B_C03
{
	border : 1px solid transparent;
}
.ImageViewer.font28B_C03 .imagetext
{
	letter-spacing : -1px;
	font : normal 700 28px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #2b72de;
}
.ImageViewer.font28B_C03 .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font20B_C
{
	border : 1px solid transparent;
}
.ImageViewer.font20B_C .imagetext
{
	letter-spacing : -1px;
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.ImageViewer.font20B_C .imagetext .nexacontentsbox
{
	text-align : center;
	background-position-x : center;
}
.ImageViewer.font18B
{
	border : 1px solid transparent;
}
.ImageViewer.font18B .imagetext
{
	letter-spacing : -1px;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font18B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font18M
{
	border : 1px solid transparent;
}
.ImageViewer.font18M .imagetext
{
	letter-spacing : -1px;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font18M .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font18R
{
	border : 1px solid transparent;
}
.ImageViewer.font18R .imagetext
{
	letter-spacing : -1px;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font18R .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font16B
{
	border : 1px solid transparent;
}
.ImageViewer.font16B .imagetext
{
	letter-spacing : -1px;
	font : normal 700 16px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font16B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font16M
{
	border : 1px solid transparent;
}
.ImageViewer.font16M .imagetext
{
	letter-spacing : -1px;
	font : normal 500 16px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font16M .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font16R
{
	border : 1px solid transparent;
}
.ImageViewer.font16R .imagetext
{
	letter-spacing : -1px;
	font : normal 400 16px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font16R .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font14B
{
	border : 1px solid transparent;
}
.ImageViewer.font14B .imagetext
{
	letter-spacing : -1px;
	font : normal 700 14px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font14B .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font14M
{
	border : 1px solid transparent;
}
.ImageViewer.font14M .imagetext
{
	letter-spacing : -1px;
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font14M .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.font14R
{
	border : 1px solid transparent;
}
.ImageViewer.font14R .imagetext
{
	letter-spacing : -1px;
	font : normal 400 14px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.ImageViewer.font14R .imagetext .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.ImageViewer.color0000 .imagetext
{
	color : #000000;
}
.ImageViewer.color2222 .imagetext
{
	color : #222222;
}
.ImageViewer.color4444 .imagetext
{
	color : #444444;
}
.ImageViewer.color5959 .imagetext
{
	color : #595959;
}
.ImageViewer.color7676 .imagetext
{
	color : #767676;
}
.ImageViewer.colorffff .imagetext
{
	color : #ffffff;
}
.ImageViewer.color2b72 .imagetext
{
	color : #2b72de;
}
.ImageViewer.color2560 .imagetext
{
	color : #2560ba;
}
.ImageViewer.color1446 .imagetext
{
	color : #144690;
}
.ImageViewer.colorff36 .imagetext
{
	color : #ff3636;
}
.Static.font110B
{
	letter-spacing : -3px;
	font : normal 700 110px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font80B
{
	letter-spacing : -4px;
	font : normal 700 80px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font70R
{
	letter-spacing : -6px;
	font : normal 400 70px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font60B
{
	letter-spacing : -3px;
	font : normal 700 60px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font50B
{
	letter-spacing : -3px;
	font : normal 700 50px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font50R
{
	letter-spacing : -3px;
	font : normal 400 50px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font52B
{
	letter-spacing : -3px;
	font : normal 700 52px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font52R
{
	letter-spacing : -3px;
	font : normal 400 52px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font48B
{
	letter-spacing : -3px;
	font : normal 700 48px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font46R
{
	letter-spacing : -3px;
	font : normal 400 46px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font44B
{
	letter-spacing : -3px;
	font : normal 700 44px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font44R
{
	letter-spacing : -3px;
	font : normal 400 44px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font42B
{
	font : normal 700 42px/1.4 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font42R
{
	letter-spacing : -3px;
	font : normal 400 42px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font40B
{
	font : normal 700 40px/1.4 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font40M
{
	letter-spacing : -2px;
	font : normal 500 40px/1.3 "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font36B
{
	letter-spacing : -2px;
	font : normal 700 36px/1.4 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font34B
{
	letter-spacing : -3px;
	font : normal 700 34px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font34M
{
	letter-spacing : -1px;
	font : normal 500 34px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font32B
{
	letter-spacing : -2px;
	font : normal 700 32px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font30B
{
	letter-spacing : -1px;
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font30M
{
	letter-spacing : -1px;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font28B
{
	letter-spacing : -1px;
	font : normal 700 28px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font28M
{
	letter-spacing : -1px;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font28R
{
	letter-spacing : -2px;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font26B
{
	letter-spacing : -1px;
	font : normal 700 26px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font26R
{
	letter-spacing : -1px;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font26M
{
	letter-spacing : -1px;
	font : normal 500 26px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font24B
{
	letter-spacing : -2px;
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font24M
{
	letter-spacing : -1px;
	font : normal 500 24px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font24R
{
	letter-spacing : -1px;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
.Static.font22B
{
	font : normal 700 22px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font22M
{
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.font22R
{
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font20B
{
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font20M
{
	letter-spacing : -1px;
	font : normal 500 20px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.font20R
{
	font : normal 400 20px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font18B
{
	letter-spacing : -1px;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font18M
{
	letter-spacing : -1px;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.font18M .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
.Static.font18R
{
	letter-spacing : -1px;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font16B
{
	letter-spacing : -1px;
	font : normal 700 16px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font16M
{
	letter-spacing : -1px;
	font : normal 500 16px/1.5 "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.font16R
{
	letter-spacing : -1px;
	font : normal 400 16px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.font14B
{
	font : normal 700 14px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
.Static.font14M
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
.Static.font14M_gray
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #767676;
}
.Static.font14R
{
	font : normal 400 14px/1.4 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
.Static.color0000
{
	color : #000000;
}
.Static.color2222
{
	color : #222222;
}
.Static.color3772
{
	color : #3772ff;
}
.Static.color4444
{
	color : #444444;
}
.Static.color5959
{
	color : #595959;
}
.Static.color7676
{
	color : #767676;
}
.Static.colorffff
{
	color : #ffffff;
}
.Static.color2b72
{
	color : #2b72de;
}
.Static.color2560
{
	color : #2560ba;
}
.Static.color1446
{
	color : #144690;
}
.Static.colorff36
{
	color : #ff3636;
}
#nexacontainer .ImageViewer.font50B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font50B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font50B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font50B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font48B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font48B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font38B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font38B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font38B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font38B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font48B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font48B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font42B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font42B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font42B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font42B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font40B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font40B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font34B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font34B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font34B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font34B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font32B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font32B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font32B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font32B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font30B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font30B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font26B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font26M[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26M[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font26R[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26R[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font24B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font24B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font24M[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font24M[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font24R[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font24R[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font20B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font20B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font28B_C02[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font28B_C02[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font28B_C03[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font28B_C03[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font20B_C[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font20B_C[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font18B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font18B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font18M[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font18M[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font18R[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font18R[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font16B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font16B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font16M[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font16M[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font16R[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font16R[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font14B[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font14B[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font14M[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font14M[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .ImageViewer.font14R[status=mouseover]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font14R[status=focused]
{
	border : 1px dashed #000000;
}
#nexacontainer .Static.font110B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 110px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font80B[status=mouseover]
{
	letter-spacing : -4px;
	font : normal 700 80px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font70R[status=mouseover]
{
	letter-spacing : -6px;
	font : normal 400 70px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font60B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 60px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font50B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 50px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font50R[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 400 50px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font52B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 52px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font52R[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 400 52px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font48B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 48px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font46R[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 400 46px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font44B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 44px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font44R[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 400 44px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font42B[status=mouseover]
{
	font : normal 700 42px/1.4 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font42R[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 400 42px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font40B[status=mouseover]
{
	font : normal 700 40px/1.4 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font40M[status=mouseover]
{
	letter-spacing : -2px;
	font : normal 500 40px/1.3 "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font36B[status=mouseover]
{
	letter-spacing : -2px;
	font : normal 700 36px/1.4 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font34B[status=mouseover]
{
	letter-spacing : -3px;
	font : normal 700 34px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font34M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 34px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font32B[status=mouseover]
{
	letter-spacing : -2px;
	font : normal 700 32px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font30B[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 30px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font30M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 30px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font28B[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 28px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font28M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 28px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font28R[status=mouseover]
{
	letter-spacing : -2px;
	font : normal 400 28px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font26B[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 26px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font26R[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 26px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font26M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 26px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font24B[status=mouseover]
{
	letter-spacing : -2px;
	font : normal 700 24px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font24M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 24px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font24R[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 24px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
	color : #222222;
}
#nexacontainer .Static.font22B[status=mouseover]
{
	font : normal 700 22px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font22M[status=mouseover]
{
	font : normal 500 22px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font22R[status=mouseover]
{
	font : normal 400 22px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font20B[status=mouseover]
{
	font : normal 700 20px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font20M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 20px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font20R[status=mouseover]
{
	font : normal 400 20px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font18B[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 18px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font18M[status=mouseover] .nexacontentsbox
{
	text-align : left;
	background-position-x : left;
}
#nexacontainer .Static.font18M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 18px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font18R[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 18px/normal "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font16B[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 700 16px/1.5 "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font16M[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 500 16px/1.5 "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font16R[status=mouseover]
{
	letter-spacing : -1px;
	font : normal 400 16px/1.5 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font14B[status=mouseover]
{
	font : normal 700 14px/normal "Noto Sans KR","NotoSansKR-Bold","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font14M[status=mouseover]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.font14M_gray[status=mouseover]
{
	font : normal 500 14px/normal "Noto Sans KR","NotoSansKR-Medium","Malgun Gothic","Arial","MS PGothic";
	color : #767676;
}
#nexacontainer .Static.font14R[status=mouseover]
{
	font : normal 400 14px/1.4 "Noto Sans KR","NotoSansKR-Regular","Malgun Gothic","Arial","MS PGothic";
}
#nexacontainer .Static.color0000[status=mouseover]
{
	color : #000000;
}
#nexacontainer .Static.color2222[status=mouseover]
{
	color : #222222;
}
#nexacontainer .Static.color3772[status=mouseover]
{
	color : #3772ff;
}
#nexacontainer .Static.color4444[status=mouseover]
{
	color : #444444;
}
#nexacontainer .Static.color5959[status=mouseover]
{
	color : #595959;
}
#nexacontainer .Static.color7676[status=mouseover]
{
	color : #767676;
}
#nexacontainer .Static.colorffff[status=mouseover]
{
	color : #ffffff;
}
#nexacontainer .Static.color2b72[status=mouseover]
{
	color : #2b72de;
}
#nexacontainer .Static.color2560[status=mouseover]
{
	color : #2560ba;
}
#nexacontainer .Static.color1446[status=mouseover]
{
	color : #144690;
}
#nexacontainer .Static.colorff36[status=mouseover]
{
	color : #ff3636;
}
#nexacontainer .ImageViewer.font50B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font50B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font48B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font38B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font38B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font48B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font42B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font42B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font40B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font34B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font34B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font32B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font32B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font30B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26M[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font26R[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font24B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font24M[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font24R[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font20B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font28B_C02[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font28B_C03[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font20B_C[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font18B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font18M[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font18R[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font16B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font16M[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font16R[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font14B[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font14M[status=disabled]
{
	border : 1px solid transparent;
}
#nexacontainer .ImageViewer.font14R[status=disabled]
{
	border : 1px solid transparent;
}
